mixin history-modal()
    .history-modal.modal
        .modal-content-wrapper
            .close-modal-wrapper
                button.btn.close-modal 
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.05026 14.9497L14.9498 5.05025" stroke="#343176"/>
                        <path d="M14.9498 14.9497L5.05026 5.05025" stroke="#343176"/>
                    </svg>
            .modal-content 
                .image-block-wrapper
                    .sticky-block
                        .image-wrapper 
                            img(src="./img/about/figures/1.jpeg", alt="figure")
                            img(src="./img/icons/shape1.svg", alt="shape").shape
                        p.name Александра александровна константинопольская
                        p.post руководитель проектов
                .content-wrapper
                    h3 От стажера до руководителя: путь к успеху
                    p.subtitle О том, как построить карьеру от помощника менеджера до руководителя отдела продаж, <br>читайте в нашем материале.
                    .content
                        .quote 
                            img(src="./img/icons/quote.svg", alt="quote")
                            p Я всегда стремился развиваться и брал на себя больше, чем требовала должность», — рассказывает Алексей, руководитель отдела продаж компании Феникс+. Более десяти лет назад он пришел в компанию в качестве помощника менеджера. О первых шагах в карьере, освоении новых навыков и важности работы в команде — в интервью Алексея.
                        .text-wrapper 
                            h4 начало карьеры
                            .text 
                                p Я работаю в Феникс+ с 2003 года, и вот уже 20 лет компания остается моим единственным работодателем. Начинал я с позиции помощника менеджера по продажам, и даже на такую стартовую должность требовалось пройти тщательный отбор. Попасть в компанию тогда было непросто, несмотря на мой диплом экономиста с отличием.
                                p По образованию я финансист, но уже тогда знал, что работа в коммерции — это сфера, где я смогу добиться успеха. Феникс+ привлек меня своей динамичностью и возможностями для роста. Помощник менеджера — начальная позиция, на которую я мог устроиться, чтобы начать путь в компании. Первые месяцы я активно обучался, знакомился с продуктами, учился общению с клиентами и продажам. Моя первая запись в трудовой книжке — помощник менеджера по продажам в Феникс+.
                                p Я работаю в Феникс+ с 2003 года, и вот уже 20 лет компания остается моим единственным работодателем. Начинал я с позиции помощника менеджера по продажам, и даже на такую стартовую должность требовалось пройти тщательный отбор. Попасть в компанию тогда было непросто, несмотря на мой диплом экономиста с отличием.
                                p По образованию я финансист, но уже тогда знал, что работа в коммерции — это сфера, где я смогу добиться успеха. Феникс+ привлек меня своей динамичностью и возможностями для роста. Помощник менеджера — начальная позиция, на которую я мог устроиться, чтобы начать путь в компании. Первые месяцы я активно обучался, знакомился с продуктами, учился общению с клиентами и продажам. Моя первая запись в трудовой книжке — помощник менеджера по продажам в Феникс+.
                        .text-wrapper 
                            h4 блок интервью
                            .interview-block 
                                .interview-item
                                    p.title Как начиналась ваша карьера в Феникс+?
                                    .interview-item-content
                                        img(src="./img/icons/quote-sm.svg", alt="quote")
                                        p Я работаю в Феникс+ с 2003 года, и вот уже 20 лет компания остается моим единственным работодателем. Начинал я с позиции помощника менеджера по продажам, и даже на такую стартовую должность требовалось пройти тщательный отбор. Попасть в компанию тогда было непросто, несмотря на мой диплом экономиста с отличием.
                                .interview-item
                                    p.title Кто вы по образование и какую должность занимаете?
                                    .interview-item-content
                                        img(src="./img/icons/quote-sm.svg", alt="quote")
                                        p По образованию я финансист, но уже тогда знал, что работа в коммерции — это сфера, где я смогу добиться успеха. Феникс+ привлек меня своей динамичностью и возможностями для роста. Помощник менеджера — начальная позиция, на которую я мог устроиться, чтобы начать путь в компании. Первые месяцы я активно обучался, знакомился с продуктами, учился общению с клиентами и продажам. Моя первая запись в трудовой книжке — помощник менеджера по продажам в Феникс+.
                                .interview-item
                                    p.title Как начиналась ваша карьера в Феникс+?
                                    .interview-item-content
                                        img(src="./img/icons/quote-sm.svg", alt="quote")
                                        p Я работаю в Феникс+ с 2003 года, и вот уже 20 лет компания остается моим единственным работодателем. Начинал я с позиции помощника менеджера по продажам, и даже на такую стартовую должность требовалось пройти тщательный отбор. Попасть в компанию тогда было непросто, несмотря на мой диплом экономиста с отличием.
                                .interview-item
                                    p.title Кто вы по образование и какую должность занимаете?
                                    .interview-item-content
                                        img(src="./img/icons/quote-sm.svg", alt="quote")
                                        p По образованию я финансист, но уже тогда знал, что работа в коммерции — это сфера, где я смогу добиться успеха. Феникс+ привлек меня своей динамичностью и возможностями для роста. Помощник менеджера — начальная позиция, на которую я мог устроиться, чтобы начать путь в компании. Первые месяцы я активно обучался, знакомился с продуктами, учился общению с клиентами и продажам. Моя первая запись в трудовой книжке — помощник менеджера по продажам в Феникс+.
                        .text-wrapper 
                            h4 заголовок текста с фото
                            .text 
                                p Феникс+ — производитель канцелярии с креативным оформлением: карандашей, пеналов, блоков для заметок, линеек и других канцелярских принадлежностей. Решив заказать школьные канцтовары данного бренда, вы получите первоклассные товары по заманчивой стоимости. Чтобы оформить заказ, зарегистрируйтесь на сайте, добавьте товары в корзину и завершите покупку. Наши менеджеры свяжутся с вами для подтверждения.
                            .image-wrapper 
                                img(src="./img/about/info/preview.jpg", alt="history")
                            .text 
                                p В этом году ФЕНИКС+  совместно с депутатом Государственной Думы Тутовой Ларисой Николаевной, депутатами Законодательного Собрания Ростовской области - Сизякиным Дмитрием Владимировичем, Гелас Максимом Валерьевичем и главой администрации Кировского района Ростова-на-Дону Симаченко Наталией Олеговной поддержал всероссийскую акцию и подарил канцелярские наборы и школьные ранцы будущим первоклассникам. Ребята нас заверили, что с ранцами ФЕНИКС+ будут учиться только на 5!
                        .text-wrapper 
                            h4 заголовок списка с текстом
                            .text 
                                p Феникс+ — производитель канцелярии с креативным оформлением: карандашей, пеналов, блоков для заметок, линеек и других канцелярских принадлежностей. Решив заказать школьные канцтовары данного бренда, вы получите первоклассные товары по заманчивой стоимости. Чтобы оформить заказ, зарегистрируйтесь на сайте, добавьте товары в корзину и завершите покупку. Наши менеджеры свяжутся с вами для подтверждения.
                            ul
                                li Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                                li Организация рабочего места: папки, подставки для карандашей и ручек, блокноты, ежедневники, записные книжки.
                                li Офисная бумага: блоки для заметок, клейкие листочки, закладки.
                                li Офисные аксессуары: корректоры, канцелярские ножи, скрепки, клеи-карандаши, зажимы, степлеры, ножницы.