@use "src/scss/common/files/mixins" as *;

.auth-modal {
  @media (max-width: $tab-sm) {
    align-items: flex-end;
  }
  .close-modal-wrapper {
    @media (max-width: $tab-sm) {
      display: none;
    }
    &.mob {
      display: none;
      @media (max-width: $tab-sm) {
        display: flex;
        position: absolute;
        top: 0 !important;
        right: 0 !important;
      }
    }
    .close-modal {
      margin: 0 !important;
      @include s(top, 20);
      @include s(right, 20);
    }
  }
  .modal-content-wrapper {
    @include s(max-width, 432);
    // @include borr(12);
    // @include padding(48);
    padding: 0;
    position: relative;
    overflow: visible;
    @media (max-width: $tab-sm) {
      width: 100%;
      height: auto;
      max-height: auto;
    }
    .tabs {
      display: grid;
      @include gtc(164, 1fr);
      align-items: center;
      position: absolute;
      @include s(top, -40);
      left: 0;
      width: 100%;
      z-index: -1;

      .btn {
        width: 100%;
        background: var(--gray-color);
        color: var(--white-color);
        @include borr(12, 12, 0, 0);
        border: none;
        text-align: center;
        justify-content: center;
        text-transform: uppercase;
        @include descr-m;
        @include s(padding-bottom, 20);
        @include s(height, 60);
        transition: var(--trs-cubic-300);
        @media (max-width: $tab-sm) {
          @include descr-s;
          @include s(height, 60);
        }
        &.active {
          color: var(--violet-color);
          background: var(--white-color);
        }
      }
    }
    .tab-content {
      position: relative;
      @include borr(12);
      @include padding(48);
      z-index: 2;
      background: var(--white-color);
      @media (max-width: $tab-sm) {
        @include padding(43, 20);
      }
      .title {
        @include h4;
        color: var(--violet-color);
        text-transform: uppercase;
      }
      label {
        @include padding(18, 21);
        @include borr(6);
        border: 1px solid var(--line-color);
        display: flex;
        align-items: center;
        @include s(gap, 12);
        cursor: pointer;
        position: relative;
        input {
          &:checked ~ p::before {
            opacity: 1;
          }
        }
        span {
          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border: 1px solid var(--violet-color);
            left: 0;
            top: 0;
            @include borr(6);
            opacity: 0;
            transition: var(--trs-cubic-300);
          }
        }
      }

      .inputs {
        display: flex;
        flex-direction: column;
        @include s(gap, 20);
        @include s(margin-top, 28);
      }
      .forgot-password-btn {
        @include s(margin-top, 16);
        @include s(font-size, 16);
        line-height: 120%;
        color: var(--violet-color);
        font-weight: 400;
      }
      .submit-btn {
        width: 100%;
        justify-content: center;
        @include s(margin-top, 28);
        @media (max-width: $tab-sm) {
          @include s(margin-top, 20);
        }
        p {
          text-transform: uppercase;
          @include descr-m;
        }
      }
    }
  }
}
