mixin about-values()
    .about-values
        .about-values-inner.container
            h3 наши ценности
            .values-block 
                .value-item
                    .image-wrapper
                        img( src="./img/about/values/1.jpg", alt="value" loading='lazy' width='432' height='500')
                        img( src="./img/about/values/hover1.svg", alt="hover").hover
                    .bg 
                        img( src="./img/about/values/bg.jpg", alt="bg" loading='lazy' width='432' height='500')
                    .content 
                        .text
                            p.title Качество
                            p.descr Мы придерживаемся высоких стандартов во всем, что мы делаем, обеспечивая наших клиентов продукцией и услугами самого высокого качества.
                        button.btn.circle.s
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 7H14" stroke="white"/>
                                <path d="M7 14L7 0" stroke="white"/>
                            </svg>
                .value-item
                    .image-wrapper
                        img( src="./img/about/values/1.jpg", alt="value" loading='lazy' width='432' height='500')
                        img( src="./img/about/values/hover1.svg", alt="hover").hover
                    .bg 
                        img( src="./img/about/values/bg.jpg", alt="bg" loading='lazy' width='432' height='500')
                    .content 
                        .text
                            p.title надежность
                            p.descr Мы придерживаемся высоких стандартов во всем, что мы делаем, обеспечивая наших клиентов продукцией и услугами самого высокого качества. Мы придерживаемся высоких стандартов во всем, что мы делаем, обеспечивая наших клиентов продукцией и услугами самого высокого качества.Мы придерживаемся высоких стандартов во всем, что мы делаем, обеспечивая наших клиентов продукцией и услугами самого высокого качества.
                        button.btn.circle.s
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 7H14" stroke="white"/>
                                <path d="M7 14L7 0" stroke="white"/>
                            </svg>
                .value-item
                    .image-wrapper
                        img( src="./img/about/values/2.jpg", alt="value" loading='lazy' width='432' height='500')
                        img( src="./img/about/values/hover1.svg", alt="hover").hover
                    .bg 
                        img( src="./img/about/values/bg.jpg", alt="bg" loading='lazy' width='432' height='500')
                    .content 
                        .text
                            p.title инновации
                            p.descr Мы придерживаемся высоких стандартов во всем, что мы делаем, обеспечивая наших клиентов продукцией и услугами самого высокого качества.
                        button.btn.circle.s
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 7H14" stroke="white"/>
                                <path d="M7 14L7 0" stroke="white"/>
                            </svg>
                .value-item
                    .image-wrapper
                        img( src="./img/about/values/3.jpg", alt="value" loading='lazy' width='660' height='350')
                        img( src="./img/about/values/hover2.svg", alt="hover").hover
                    .bg 
                        img( src="./img/about/values/bg.jpg", alt="bg" loading='lazy' width='660' height='350')
                    .content 
                        .text
                            p.title развитие <br> сотрудников
                            p.descr Мы придерживаемся высоких стандартов во всем, что мы делаем, обеспечивая наших клиентов продукцией и услугами самого высокого качества.
                        button.btn.circle.s
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 7H14" stroke="white"/>
                                <path d="M7 14L7 0" stroke="white"/>
                            </svg>
                .value-item
                    .image-wrapper
                        img( src="./img/about/values/4.jpg", alt="value" loading='lazy' width='660' height='350')
                        img( src="./img/about/values/hover2.svg", alt="hover").hover
                    .bg 
                        img( src="./img/about/values/bg.jpg", alt="bg" loading='lazy' width='660' height='350')
                    .content 
                        .text
                            p.title открытость и <br> доверие
                            p.descr Мы придерживаемся высоких стандартов во всем, что мы делаем, обеспечивая наших клиентов продукцией и услугами самого высокого качества.
                        button.btn.circle.s
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 7H14" stroke="white"/>
                                <path d="M7 14L7 0" stroke="white"/>
                            </svg>
            .accordion 
                .accordion-item
                    button(type='button').accordion-title 
                        span.title-wrapper
                            span.title Качество
                        span.icon 
                            <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 7.41162H14" stroke="white"/>
                                <path d="M7 14.4116L7 0.411621" stroke="white"/>
                            </svg>
                    .collapse.accordion-body
                        p.descr Мы придерживаемся высоких стандартов во всем, что мы делаем, обеспечивая наших клиентов продукцией и услугами самого высокого качества.
                        .image-wrapper
                            img( src="./img/about/values/1.jpg", alt="value")
                .accordion-item
                    button(type='button').accordion-title 
                        span.title-wrapper
                            span.title надёжность
                        span.icon 
                            <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 7.41162H14" stroke="white"/>
                                <path d="M7 14.4116L7 0.411621" stroke="white"/>
                            </svg>
                    .collapse.accordion-body
                        p.descr Мы придерживаемся высоких стандартов во всем, что мы делаем, обеспечивая наших клиентов продукцией и услугами самого высокого качества.
                        .image-wrapper
                            img( src="./img/about/values/1.jpg", alt="value")
                .accordion-item
                    button(type='button').accordion-title 
                        span.title-wrapper
                            span.title инновации
                        span.icon 
                            <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 7.41162H14" stroke="white"/>
                                <path d="M7 14.4116L7 0.411621" stroke="white"/>
                            </svg>
                    .collapse.accordion-body
                        p.descr Мы придерживаемся высоких стандартов во всем, что мы делаем, обеспечивая наших клиентов продукцией и услугами самого высокого качества.
                        .image-wrapper
                            img( src="./img/about/values/2.jpg", alt="value")
                .accordion-item
                    button(type='button').accordion-title 
                        span.title-wrapper
                            span.title развитие сотрудников
                        span.icon 
                            <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 7.41162H14" stroke="white"/>
                                <path d="M7 14.4116L7 0.411621" stroke="white"/>
                            </svg>
                    .collapse.accordion-body
                        p.descr Мы придерживаемся высоких стандартов во всем, что мы делаем, обеспечивая наших клиентов продукцией и услугами самого высокого качества.
                        .image-wrapper
                            img( src="./img/about/values/3.jpg", alt="value")
                        
                .accordion-item
                    button(type='button').accordion-title 
                        span.title-wrapper
                            span.title открытость <br>и доверие
                        span.icon 
                            <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 7.41162H14" stroke="white"/>
                                <path d="M7 14.4116L7 0.411621" stroke="white"/>
                            </svg>
                    .collapse.accordion-body
                        p.descr Мы придерживаемся высоких стандартов во всем, что мы делаем, обеспечивая наших клиентов продукцией и услугами самого высокого качества.
                        .image-wrapper
                            img( src="./img/about/values/4.jpg", alt="value")