mixin header()
    header.header&attributes(attributes) 
        .header-inner.container 
            .logo-wrapper
                a(href="home.html").logo
                    <svg width="71" height="80" viewBox="0 0 71 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class='letter' d="M4.67705 73.4539V72.8928C4.67705 72.7806 4.58353 72.6871 4.47131 72.6871H3.76993C3.6577 72.6871 3.56419 72.7806 3.56419 72.8928V73.4539C0.693193 73.4633 0.46875 75.5113 0.46875 76.1379C0.46875 76.7644 0.693193 78.8125 3.56419 78.8218V79.5139C3.56419 79.6261 3.6577 79.7196 3.76993 79.7196H4.47131C4.58353 79.7196 4.67705 79.6261 4.67705 79.5139V78.8218C7.54804 78.8125 7.77249 76.7644 7.77249 76.1379C7.77249 75.5206 7.54804 73.4726 4.67705 73.4539ZM4.67705 77.7557V74.5294C6.38842 74.5294 6.64092 75.5393 6.64092 76.1472C6.64092 76.7457 6.37907 77.7557 4.67705 77.7557ZM3.56419 74.5294V77.7557C1.85281 77.7557 1.60031 76.7457 1.60031 76.1472C1.60031 75.5393 1.85281 74.5387 3.56419 74.5294Z" fill="white"/>
                        <path class='letter' d="M16.4679 72.9487H13.1667C13.0545 72.9487 12.9609 73.0423 12.9609 73.1545V79.523C12.9609 79.6353 13.0545 79.7288 13.1667 79.7288H16.4679C16.5801 79.7288 16.6736 79.6353 16.6736 79.523V78.8591C16.6736 78.7468 16.5801 78.6533 16.4679 78.6533H14.0738V76.5866H16.393C16.5053 76.5866 16.5988 76.4931 16.5988 76.3808V75.7169C16.5988 75.6046 16.5053 75.5111 16.393 75.5111H14.0738V74.0242H16.4679C16.5801 74.0242 16.6736 73.9307 16.6736 73.8185V73.1545C16.6642 73.0423 16.5801 72.9487 16.4679 72.9487Z" fill="white"/>
                        <path class='letter' d="M26.7488 72.9487H26.0474C25.9352 72.9487 25.8417 73.0423 25.8417 73.1545V75.5392H22.98V73.1545C22.98 73.0423 22.8865 72.9487 22.7743 72.9487H22.0729C21.9607 72.9487 21.8672 73.0423 21.8672 73.1545V79.523C21.8672 79.6353 21.9607 79.7288 22.0729 79.7288H22.7743C22.8865 79.7288 22.98 79.6353 22.98 79.523V76.6146H25.8417V79.523C25.8417 79.6353 25.9352 79.7288 26.0474 79.7288H26.7488C26.861 79.7288 26.9546 79.6353 26.9546 79.523V73.1545C26.9452 73.0423 26.861 72.9487 26.7488 72.9487Z" fill="white"/>
                        <path class='letter' d="M37.6668 72.7522L33.5894 77.4842V73.145C33.5894 73.0327 33.4959 72.9392 33.3837 72.9392H32.6823C32.5701 72.9392 32.4766 73.0327 32.4766 73.145V79.8034C32.4766 79.8876 32.5327 79.9624 32.6075 79.9905C32.6262 79.9998 32.6542 79.9998 32.6729 79.9998C32.7291 79.9998 32.7852 79.9718 32.8226 79.9344L36.9 75.2024V79.5229C36.9 79.6351 36.9935 79.7286 37.1057 79.7286H37.8164C37.9286 79.7286 38.0222 79.6351 38.0222 79.5229V72.8831C38.0222 72.7989 37.9661 72.7241 37.8912 72.6961C37.8071 72.668 37.7229 72.6961 37.6668 72.7522Z" fill="white"/>
                        <path class='letter' d="M45.4344 76.1284L48.2773 73.2948C48.3334 73.2387 48.3521 73.1546 48.3241 73.0704C48.296 72.9956 48.2212 72.9488 48.1371 72.9488H47.1832C47.1271 72.9488 47.0803 72.9675 47.0429 73.0049L44.6769 75.3896V73.1452C44.6769 73.033 44.5834 72.9395 44.4712 72.9395H43.7604C43.6482 72.9395 43.5547 73.033 43.5547 73.1452V79.5138C43.5547 79.626 43.6482 79.7195 43.7604 79.7195H44.4712C44.5834 79.7195 44.6769 79.626 44.6769 79.5138V76.9233L47.1084 79.654C47.1458 79.6914 47.2019 79.7195 47.258 79.7195H48.2306C48.3147 79.7195 48.3802 79.6727 48.4176 79.5979C48.4457 79.5231 48.4363 79.439 48.3802 79.3828L45.4344 76.1284Z" fill="white"/>
                        <path class='letter' d="M56.4725 72.8457C54.4618 72.8457 52.9375 74.3607 52.9375 76.362C52.9375 78.3446 54.4431 79.8408 56.4351 79.8408C56.8559 79.8408 57.6695 79.7567 58.4737 79.1862C58.5299 79.1488 58.5579 79.0833 58.5579 79.0179V78.1388C58.5579 78.0547 58.5112 77.9798 58.4363 77.9518C58.3615 77.9144 58.268 77.9424 58.2119 77.9985C58.0716 78.1388 57.8378 78.3446 57.5292 78.4942C57.1832 78.6719 56.7998 78.7654 56.4351 78.7654C55.4531 78.7654 54.0691 78.0173 54.0691 76.3713C54.0691 74.9966 55.1071 73.9212 56.4257 73.9212C56.753 73.9212 57.1177 74.0053 57.4357 74.155C57.6975 74.2765 57.9875 74.4823 58.2119 74.7067C58.268 74.7628 58.3522 74.7815 58.4363 74.7535C58.5112 74.7254 58.5579 74.6506 58.5579 74.5664V73.6874C58.5579 73.6219 58.5299 73.5658 58.4831 73.5284C57.8846 73.0702 57.2206 72.8457 56.4725 72.8457Z" fill="white"/>
                        <path class='letter' d="M69.9253 75.7912H67.1665V73.0324C67.1665 72.9202 67.073 72.8267 66.9608 72.8267H66.2874C66.1752 72.8267 66.0817 72.9202 66.0817 73.0324V75.7912H63.3229C63.2107 75.7912 63.1172 75.8847 63.1172 75.9969V76.6703C63.1172 76.7825 63.2107 76.876 63.3229 76.876H66.0817V79.6348C66.0817 79.747 66.1752 79.8405 66.2874 79.8405H66.9608C67.073 79.8405 67.1665 79.747 67.1665 79.6348V76.876H69.9253C70.0375 76.876 70.131 76.7825 70.131 76.6703V75.9969C70.1217 75.8754 70.0375 75.7912 69.9253 75.7912Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M55.2348 46.7354C60.4998 49.1575 70.5997 47.9698 70.5997 47.9698V20.5691C70.5997 20.5691 70.6278 18.9419 69.9638 17.0996L51.625 43.2846C52.3357 44.6032 53.4579 45.9124 55.2348 46.7354Z" fill="#343176"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M66.0579 12.6572C60.6994 10.1977 50.375 11.2731 50.375 11.2731V38.6738C50.375 38.6738 50.3937 40.9931 51.6094 43.2656L69.9483 17.0806C69.3685 15.4627 68.2649 13.6765 66.0579 12.6572Z" fill="#EE7656"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M25.1758 58.1164L42.0931 33.9514L25.1758 9.78645V58.1164Z" fill="#4DB6A5"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M25.1758 58.1165V64.1203C25.1758 64.1203 35.2757 65.308 40.5407 62.8859C45.3663 60.6695 45.385 54.834 45.385 54.834V29.2569L25.1758 58.1165Z" fill="#EE7656"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M42.094 33.9514L45.3858 29.2569V0.238296C45.3858 0.238296 35.0615 -0.846509 29.7029 1.61301C24.999 3.77327 25.1767 9.51525 25.1767 9.51525V9.77711L42.094 33.9514Z" fill="#343176"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9823 46.3799L0.046875 23.6177V47.9603C0.046875 47.9603 10.8949 49.2322 15.9636 46.4454C15.9729 46.4173 15.9729 46.408 15.9823 46.3799Z" fill="#E14142"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.51562 32.9232L15.9329 46.3804C20.1318 43.977 20.2066 38.6839 20.2066 38.6839V13.3687L6.51562 32.9232Z" fill="#4DB6A5"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.51906 32.923L20.2101 13.3684V11.283C20.2101 11.283 9.8857 10.1982 4.52713 12.667C-0.176807 14.818 0.000876638 20.5599 0.000876638 20.5599V23.618L6.51906 32.923Z" fill="#343176"/>
                    </svg>
                    <svg class='mob' width="127" height="36" viewBox="0 0 127 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class='letter' d="M54.6025 14.8409V14.2272C54.6025 14.1044 54.5002 14.0022 54.3775 14.0022H53.6104C53.4877 14.0022 53.3854 14.1044 53.3854 14.2272V14.8409C50.2455 14.8511 50 17.091 50 17.7763C50 18.4615 50.2455 20.7014 53.3854 20.7116V21.4685C53.3854 21.5913 53.4877 21.6935 53.6104 21.6935H54.3775C54.5002 21.6935 54.6025 21.5913 54.6025 21.4685V20.7116C57.7424 20.7014 57.9879 18.4615 57.9879 17.7763C57.9879 17.1012 57.7424 14.8613 54.6025 14.8409ZM54.6025 19.5457V16.0171C56.4742 16.0171 56.7503 17.1217 56.7503 17.7865C56.7503 18.4411 56.4639 19.5457 54.6025 19.5457ZM53.3854 16.0171V19.5457C51.5137 19.5457 51.2376 18.4411 51.2376 17.7865C51.2376 17.1217 51.5137 16.0273 53.3854 16.0171Z" fill="white"/>
                        <path class='letter' d="M67.4965 14.2884H63.8861C63.7634 14.2884 63.6611 14.3907 63.6611 14.5134V21.4786C63.6611 21.6013 63.7634 21.7036 63.8861 21.7036H67.4965C67.6193 21.7036 67.7215 21.6013 67.7215 21.4786V20.7524C67.7215 20.6296 67.6193 20.5274 67.4965 20.5274H64.8782V18.267H67.4147C67.5375 18.267 67.6397 18.1647 67.6397 18.042V17.3158C67.6397 17.1931 67.5375 17.0908 67.4147 17.0908H64.8782V15.4646H67.4965C67.6193 15.4646 67.7215 15.3623 67.7215 15.2396V14.5134C67.7113 14.3907 67.6193 14.2884 67.4965 14.2884Z" fill="white"/>
                        <path class='letter' d="M78.7412 14.2884H77.9741C77.8514 14.2884 77.7491 14.3907 77.7491 14.5134V17.1215H74.6194V14.5134C74.6194 14.3907 74.5172 14.2884 74.3944 14.2884H73.6274C73.5046 14.2884 73.4023 14.3907 73.4023 14.5134V21.4786C73.4023 21.6013 73.5046 21.7036 73.6274 21.7036H74.3944C74.5172 21.7036 74.6194 21.6013 74.6194 21.4786V18.2977H77.7491V21.4786C77.7491 21.6013 77.8514 21.7036 77.9741 21.7036H78.7412C78.864 21.7036 78.9662 21.6013 78.9662 21.4786V14.5134C78.956 14.3907 78.864 14.2884 78.7412 14.2884Z" fill="white"/>
                        <path class='letter' d="M90.6813 14.0734L86.222 19.2487V14.503C86.222 14.3802 86.1197 14.278 85.997 14.278H85.2299C85.1072 14.278 85.0049 14.3802 85.0049 14.503V21.7852C85.0049 21.8773 85.0662 21.9591 85.1481 21.9898C85.1685 22 85.1992 22 85.2197 22C85.281 22 85.3424 21.9693 85.3833 21.9284L89.8426 16.7531V21.4784C89.8426 21.6011 89.9449 21.7034 90.0676 21.7034H90.8449C90.9677 21.7034 91.0699 21.6011 91.0699 21.4784V14.2166C91.0699 14.1245 91.0086 14.0427 90.9268 14.012C90.8347 13.9814 90.7427 14.012 90.6813 14.0734Z" fill="white"/>
                        <path class='letter' d="M99.1769 17.7659L102.286 14.6669C102.347 14.6055 102.368 14.5135 102.337 14.4214C102.307 14.3396 102.225 14.2884 102.133 14.2884H101.089C101.028 14.2884 100.977 14.3089 100.936 14.3498L98.3484 16.9579V14.5032C98.3484 14.3805 98.2461 14.2782 98.1234 14.2782H97.3461C97.2234 14.2782 97.1211 14.3805 97.1211 14.5032V21.4684C97.1211 21.5911 97.2234 21.6934 97.3461 21.6934H98.1234C98.2461 21.6934 98.3484 21.5911 98.3484 21.4684V18.6353L101.008 21.6218C101.049 21.6627 101.11 21.6934 101.171 21.6934H102.235C102.327 21.6934 102.399 21.6423 102.44 21.5605C102.47 21.4786 102.46 21.3866 102.399 21.3252L99.1769 17.7659Z" fill="white"/>
                        <path class='letter' d="M111.25 14.1757C109.051 14.1757 107.384 15.8326 107.384 18.0214C107.384 20.1897 109.03 21.8261 111.209 21.8261C111.669 21.8261 112.559 21.7341 113.439 21.1102C113.5 21.0693 113.531 20.9977 113.531 20.9261V19.9647C113.531 19.8726 113.48 19.7908 113.398 19.7601C113.316 19.7192 113.214 19.7499 113.152 19.8112C112.999 19.9647 112.743 20.1897 112.406 20.3533C112.027 20.5477 111.608 20.6499 111.209 20.6499C110.135 20.6499 108.621 19.8317 108.621 18.0316C108.621 16.5281 109.757 15.3519 111.199 15.3519C111.557 15.3519 111.956 15.4439 112.303 15.6076C112.59 15.7406 112.907 15.9656 113.152 16.211C113.214 16.2724 113.306 16.2929 113.398 16.2622C113.48 16.2315 113.531 16.1497 113.531 16.0576V15.0962C113.531 15.0246 113.5 14.9632 113.449 14.9223C112.794 14.4212 112.068 14.1757 111.25 14.1757Z" fill="white"/>
                        <path class='letter' d="M125.962 17.3971H122.945V14.3799C122.945 14.2571 122.843 14.1549 122.72 14.1549H121.984C121.861 14.1549 121.759 14.2571 121.759 14.3799V17.3971H118.742C118.619 17.3971 118.517 17.4994 118.517 17.6221V18.3585C118.517 18.4812 118.619 18.5835 118.742 18.5835H121.759V21.6007C121.759 21.7235 121.861 21.8258 121.984 21.8258H122.72C122.843 21.8258 122.945 21.7235 122.945 21.6007V18.5835H125.962C126.085 18.5835 126.187 18.4812 126.187 18.3585V17.6221C126.177 17.4891 126.085 17.3971 125.962 17.3971Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M31.2952 26.1207C34.2781 27.4744 40.0003 26.8106 40.0003 26.8106V11.4962C40.0003 11.4962 40.0162 10.5868 39.64 9.55708L29.25 24.192C29.6527 24.929 30.2885 25.6607 31.2952 26.1207Z" fill="#343176"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M37.4263 7.07419C34.3904 5.69955 28.541 6.30063 28.541 6.30063V21.6151C28.541 21.6151 28.5516 22.9113 29.2404 24.1814L39.6304 9.54645C39.3019 8.64222 38.6767 7.64391 37.4263 7.07419Z" fill="#EE7656"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2637 32.4816L23.8483 18.9757L14.2637 5.46971V32.4816Z" fill="#4DB6A5"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2637 32.4817V35.8373C14.2637 35.8373 19.9859 36.5011 22.9688 35.1473C25.7027 33.9086 25.7133 30.6471 25.7133 30.6471V16.3519L14.2637 32.4817Z" fill="#EE7656"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.8488 18.9757L25.7138 16.3518V0.133185C25.7138 0.133185 19.8645 -0.473119 16.8286 0.90152C14.1635 2.1089 14.2642 5.31814 14.2642 5.31814V5.46449L23.8488 18.9757Z" fill="#343176"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.0547 25.922L0.0263672 13.2001V26.8053C0.0263672 26.8053 6.17241 27.5162 9.0441 25.9586C9.0494 25.9429 9.0494 25.9377 9.0547 25.922Z" fill="#E14142"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.69141 18.401L9.02681 25.9223C11.4058 24.579 11.4481 21.6207 11.4481 21.6207V7.47182L3.69141 18.401Z" fill="#4DB6A5"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.69342 18.4009L11.4502 7.4717V6.30613C11.4502 6.30613 5.60082 5.69982 2.56488 7.07969C-0.100171 8.28185 0.000496666 11.4911 0.000496666 11.4911V13.2002L3.69342 18.4009Z" fill="#343176"/>
                    </svg>
                button.btn.burger-btn  
                    p меню
                    <svg width="26" height="14" viewBox="0 0 26 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 7H25" stroke="white" stroke-linecap="round"/>
                        <path d="M1 13H25" stroke="white" stroke-linecap="round"/>
                        <path d="M1 1H25" stroke="white" stroke-linecap="round"/>
                    </svg>
            .header-content 
                .header-top
                    nav 
                        +selector({title: 'О компании', isLinkSelector: true, items: [{title: 'Ссылка 1'},{title: 'Ссылка 2'},{title: 'Ссылка 3'},]})
                        +selector({title: 'Спецпредложения', isLinkSelector: true, items: [{title: 'Ссылка 1'},{title: 'Ссылка 2'},{title: 'Ссылка 3'},]})
                        +selector({title: 'Клиентам', isLinkSelector: true, items: [{title: 'Ссылка 1'},{title: 'Ссылка 2'},{title: 'Ссылка 3'},]})
                        a(href="#") Сотрудничество 
                        a(href="#") Карьера 
                        a(href="#") Контакты 
                    +selector({title: 'Связаться с нами', isLinkSelector: true, items: [{title: 'Ссылка 1'},{title: 'Ссылка 2'},{title: 'Ссылка 3'},]})
                .header-bottom
                    button.btn.primary.catalog-btn.l
                        .burger 
                            span 
                            span 
                            span 
                        <svg class='mob' width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.00586 14.85H21.0059" stroke="white" stroke-linecap="round"/>
                            <path d="M1.00586 7.85001H21.0059" stroke="white" stroke-linecap="round"/>
                            <path d="M1.00586 0.850014H21.0059" stroke="white" stroke-linecap="round"/>
                            <path d="M22.3058 10.7499C22.3058 14.0084 19.6643 16.65 16.4058 16.65C13.1474 16.65 10.5059 14.0084 10.5059 10.7499C10.5059 7.4913 13.1474 4.84973 16.4058 4.84973C19.6643 4.84973 22.3058 7.4913 22.3058 10.7499Z" fill="#49454C" stroke="white"/>
                            <path d="M22.6693 17.3801C22.8793 17.5595 23.1949 17.5347 23.3743 17.3248C23.5537 17.1149 23.5289 16.7992 23.3189 16.6199L22.6693 17.3801ZM20.3481 15.3968L22.6693 17.3801L23.3189 16.6199L20.9977 14.6365L20.3481 15.3968Z" fill="white"/>
                        </svg>
                        p Каталог
                    .search-wrapper
                        input(type="text" placeholder='Поиск').transparent 
                        button.btn.clear.search-btn 
                            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="8.22857" cy="8.22857" r="7.72857" stroke="white"/>
                                <path d="M13.7148 13.7144L18.0006 18.0001" stroke="white"/>
                            </svg>
                    button(data-modal-target='auth-modal').btn.outline.account-btn.l
                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M18 9.5C18 11.433 16.433 13 14.5 13C12.567 13 11 11.433 11 9.5C11 7.567 12.567 6 14.5 6C16.433 6 18 7.567 18 9.5ZM16.899 13.3079C18.1615 12.5109 19 11.1034 19 9.5C19 7.01472 16.9853 5 14.5 5C12.0147 5 10 7.01472 10 9.5C10 11.1034 10.8385 12.5109 12.101 13.3079C11.6807 13.4176 11.2676 13.5562 10.8645 13.7231C9.71191 14.2006 8.66464 14.9003 7.78249 15.7825C6.90033 16.6646 6.20056 17.7119 5.72314 18.8645C5.24572 20.0171 5 21.2524 5 22.5H6C6 21.3838 6.21986 20.2785 6.64702 19.2472C7.07419 18.2159 7.70029 17.2789 8.48959 16.4896C9.27889 15.7003 10.2159 15.0742 11.2472 14.647C12.2785 14.2199 13.3838 14 14.5 14C15.6162 14 16.7215 14.2199 17.7528 14.647C18.7841 15.0742 19.7211 15.7003 20.5104 16.4896C21.2997 17.2789 21.9258 18.2159 22.353 19.2472C22.7801 20.2785 23 21.3838 23 22.5H24C24 21.2524 23.7543 20.0171 23.2769 18.8645C22.7994 17.7119 22.0997 16.6646 21.2175 15.7825C20.3354 14.9003 19.2881 14.2006 18.1355 13.7231C17.7324 13.5562 17.3193 13.4176 16.899 13.3079Z" fill="white"/>
                        </svg>
                        p Войти в личный кабинет
                    .header-features 
                        .favorites.feature-item 
                            .icon 
                                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.73738 5.74745C1.41975 8.07668 1.422 11.8248 3.73738 14.1563L13.9938 24.488C17.4165 21.048 20.8395 17.6079 24.2618 14.1678C26.5794 11.8386 26.5794 8.08839 24.2618 5.75895C21.9441 3.4295 18.2126 3.42971 15.8952 5.75895L14.0055 7.65804L12.104 5.74693C9.78635 3.41769 6.05486 3.41769 3.73743 5.74693L3.73738 5.74745Z" stroke="white"/>
                                </svg>
                            .count 2
                        .comparison.feature-item
                            .icon 
                                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14 25.4666V1.99997" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9.59844 25.4663L18.3984 25.4663" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M3 4.19997L25 4.19997" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M17.5046 14.207L21.5 5.22967L25.4954 14.2069C25.4512 14.6687 25.0906 15.2138 24.3836 15.6797C23.6457 16.1659 22.6169 16.5 21.5 16.5C20.3705 16.5 19.3421 16.1655 18.6081 15.6801C17.9056 15.2155 17.5483 14.6705 17.5046 14.207Z" stroke="white"/>
                                    <path d="M2.50458 14.207L6.5 5.22967L10.4954 14.2069C10.4512 14.6687 10.0906 15.2138 9.38362 15.6797C8.64572 16.1659 7.61691 16.5 6.5 16.5C5.37047 16.5 4.34212 16.1655 3.60814 15.6801C2.90558 15.2155 2.54827 14.6705 2.50458 14.207Z" stroke="white"/>
                                </svg>
                        .cart.feature-item
                            .icon 
                                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.61397 7.35581L2.07484 25.5H25.9298L23.3907 7.35581H4.61397Z" stroke="white"/>
                                    <path d="M8.63281 7.93548C8.63281 7.22169 8.77341 6.51488 9.04656 5.85541C9.31972 5.19595 9.7201 4.59675 10.2248 4.09202C10.7296 3.58729 11.3288 3.18691 11.9882 2.91375C12.6477 2.64059 13.3545 2.5 14.0683 2.5C14.7821 2.5 15.4889 2.64059 16.1484 2.91375C16.8078 3.18691 17.407 3.58728 17.9118 4.09202C18.4165 4.59675 18.8169 5.19595 19.09 5.85541C19.3632 6.51488 19.5038 7.22169 19.5038 7.93548" stroke="white"/>
                                    <path d="M19.5 7.61279L19.5 11.2902" stroke="white"/>
                                    <path d="M8.65625 7.55029L8.65625 11.2277" stroke="white"/>
                                </svg>
                            .count 14
