mixin about-press()
    .about-press.tabs-wrapper
        .about-press-inner.container 
            .top 
                h3 пресс-центр
                a(href="#").btn.outline.violet.l
                    p смотреть все
                    <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 13L7 7L0.999999 1" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
                    </svg> 
            .tabs 
                button.btn.tab.m.active(data-tab='0') Новости
                button.btn.tab.m(data-tab='1') Статьи
            .tab-content(data-tab='0') 
                .triple-swiper
                    .swiper-wrapper 
                        .swiper-slide
                            .image-wrapper 
                                img(src="./img/about/press/1.jpg", alt="press")
                            .content 
                                .date 
                                    img(src="./img/icons/clock.svg", alt="clock")
                                    p 3 января 2025
                                p.title ФЕНИКС+ на выставке "СКРЕПКА ЭКСПО 2024"
                        .swiper-slide
                            .image-wrapper 
                                img(src="./img/about/press/2.jpg", alt="press")
                            .content 
                                .date 
                                    img(src="./img/icons/clock.svg", alt="clock")
                                    p 25 января 2025
                                p.title Ранец "Балерина" победил в конкурсе "БИТВА ТЕКСТИЛЯ" в КАНЦКЛУБЕ!
                        .swiper-slide
                            .image-wrapper 
                                img(src="./img/about/press/3.jpg", alt="press")
                            .content 
                                .date 
                                    img(src="./img/icons/clock.svg", alt="clock")
                                    p 18 февраля 2025
                                p.title "ЕДИНАЯ РОССИЯ" и "ФЕНИКС+" вручили ранцы и канцтовары будущим первоклассникам!
                        .swiper-slide
                            .image-wrapper 
                                img(src="./img/about/press/1.jpg", alt="press")
                            .content 
                                .date 
                                    img(src="./img/icons/clock.svg", alt="clock")
                                    p 3 января 2025
                                p.title ФЕНИКС+ на выставке "СКРЕПКА ЭКСПО 2024"
                        .swiper-slide
                            .image-wrapper 
                                img(src="./img/about/press/2.jpg", alt="press")
                            .content 
                                .date 
                                    img(src="./img/icons/clock.svg", alt="clock")
                                    p 25 января 2025
                                p.title Ранец "Балерина" победил в конкурсе "БИТВА ТЕКСТИЛЯ" в КАНЦКЛУБЕ!
                        .swiper-slide
                            .image-wrapper 
                                img(src="./img/about/press/3.jpg", alt="press")
                            .content 
                                .date 
                                    img(src="./img/icons/clock.svg", alt="clock")
                                    p 18 февраля 2025
                                p.title "ЕДИНАЯ РОССИЯ" и "ФЕНИКС+" вручили ранцы и канцтовары будущим первоклассникам!
                    .navigation
                        button.btn.circle.l.triple-swiper-prev
                            <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 13L1 7L9 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                        button.btn.circle.l.triple-swiper-next
                            <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L9 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
            .tab-content(data-tab='1') 
                .triple-swiper
                    .swiper-wrapper 
                        .swiper-slide
                            .image-wrapper 
                                img(src="./img/about/press/1.jpg", alt="press")
                            .content 
                                .date 
                                    img(src="./img/icons/clock.svg", alt="clock")
                                    p 3 января 2025
                                p.title ФЕНИКС+ на выставке "СКРЕПКА ЭКСПО 2024"
                        .swiper-slide
                            .image-wrapper 
                                img(src="./img/about/press/2.jpg", alt="press")
                            .content 
                                .date 
                                    img(src="./img/icons/clock.svg", alt="clock")
                                    p 25 января 2025
                                p.title Ранец "Балерина" победил в конкурсе "БИТВА ТЕКСТИЛЯ" в КАНЦКЛУБЕ!
                        .swiper-slide
                            .image-wrapper 
                                img(src="./img/about/press/3.jpg", alt="press")
                            .content 
                                .date 
                                    img(src="./img/icons/clock.svg", alt="clock")
                                    p 18 февраля 2025
                                p.title "ЕДИНАЯ РОССИЯ" и "ФЕНИКС+" вручили ранцы и канцтовары будущим первоклассникам!
                        .swiper-slide
                            .image-wrapper 
                                img(src="./img/about/press/1.jpg", alt="press")
                            .content 
                                .date 
                                    img(src="./img/icons/clock.svg", alt="clock")
                                    p 3 января 2025
                                p.title ФЕНИКС+ на выставке "СКРЕПКА ЭКСПО 2024"
                        .swiper-slide
                            .image-wrapper 
                                img(src="./img/about/press/2.jpg", alt="press")
                            .content 
                                .date 
                                    img(src="./img/icons/clock.svg", alt="clock")
                                    p 25 января 2025
                                p.title Ранец "Балерина" победил в конкурсе "БИТВА ТЕКСТИЛЯ" в КАНЦКЛУБЕ!
                        .swiper-slide
                            .image-wrapper 
                                img(src="./img/about/press/3.jpg", alt="press")
                            .content 
                                .date 
                                    img(src="./img/icons/clock.svg", alt="clock")
                                    p 18 февраля 2025
                                p.title "ЕДИНАЯ РОССИЯ" и "ФЕНИКС+" вручили ранцы и канцтовары будущим первоклассникам!
                    .navigation
                        button.btn.circle.l.triple-swiper-prev
                            <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 13L1 7L9 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                        button.btn.circle.l.triple-swiper-next
                            <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L9 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>