mixin ideas-modal()
    .ideas-modal.modal
        .modal-content-wrapper
            .close-modal-wrapper
                button.btn.close-modal 
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.05026 14.9497L14.9498 5.05025" stroke="#343176"/>
                        <path d="M14.9498 14.9497L5.05026 5.05025" stroke="#343176"/>
                    </svg>
            .modal-content
                p.title товары идеи
                .analogues-list 
                    +product-card({
                        imgs: 
                        [
                            './img/products/1.jpg',
                            './img/products/2.jpg',
                            './img/products/3.jpg',
                            './img/products/1.jpg',
                            './img/products/2.jpg'
                        ],
                        art: 'Арт 68012', 
                        barcode: 'Штрихкод 4606008612533', 
                        count: 'many', 
                        price: '582 ₽', 
                        descr: 'Ежедневник датированный 2025 ESCALADA, #ИЛОН МАСК, формат А6+, 176 л., твёрдый переплёт, запаянный край, искусственная кожа "Тиволи глосс", блинтовое тиснение', 
                        badgeTitle: 'новинка', 
                        badgeClass: 'success'
                    })
                    +product-card({
                        imgs: 
                        [
                            './img/products/1.jpg',
                            './img/products/2.jpg',
                            './img/products/3.jpg',
                            './img/products/1.jpg',
                            './img/products/2.jpg'
                        ],
                        art: 'Арт 68012', 
                        barcode: 'Штрихкод 4606008612533', 
                        count: 'many', 
                        price: '582 ₽', 
                        descr: 'Ежедневник датированный 2025 ESCALADA, #ИЛОН МАСК, формат А6+, 176 л., твёрдый переплёт, запаянный край, искусственная кожа "Тиволи глосс", блинтовое тиснение', 
                        badgeTitle: 'новинка', 
                        badgeClass: 'success'
                    })
                    +product-card({
                        imgs: 
                        [
                            './img/products/1.jpg',
                            './img/products/2.jpg',
                            './img/products/3.jpg',
                            './img/products/1.jpg',
                            './img/products/2.jpg'
                        ],
                        art: 'Арт 68012', 
                        barcode: 'Штрихкод 4606008612533', 
                        count: 'many', 
                        price: '582 ₽', 
                        descr: 'Ежедневник датированный 2025 ESCALADA, #ИЛОН МАСК, формат А6+, 176 л., твёрдый переплёт, запаянный край, искусственная кожа "Тиволи глосс", блинтовое тиснение', 
                        badgeTitle: 'новинка', 
                        badgeClass: 'success'
                    })
                    +product-card({
                        imgs: 
                        [
                            './img/products/1.jpg',
                            './img/products/2.jpg',
                            './img/products/3.jpg',
                            './img/products/1.jpg',
                            './img/products/2.jpg'
                        ],
                        art: 'Арт 68012', 
                        barcode: 'Штрихкод 4606008612533', 
                        count: 'many', 
                        price: '582 ₽', 
                        descr: 'Ежедневник датированный 2025 ESCALADA, #ИЛОН МАСК, формат А6+, 176 л., твёрдый переплёт, запаянный край, искусственная кожа "Тиволи глосс", блинтовое тиснение', 
                        badgeTitle: 'новинка', 
                        badgeClass: 'success'
                    })
                    +product-card({
                        imgs: 
                        [
                            './img/products/1.jpg',
                            './img/products/2.jpg',
                            './img/products/3.jpg',
                            './img/products/1.jpg',
                            './img/products/2.jpg'
                        ],
                        art: 'Арт 68012', 
                        barcode: 'Штрихкод 4606008612533', 
                        count: 'many', 
                        price: '582 ₽', 
                        descr: 'Ежедневник датированный 2025 ESCALADA, #ИЛОН МАСК, формат А6+, 176 л., твёрдый переплёт, запаянный край, искусственная кожа "Тиволи глосс", блинтовое тиснение', 
                        badgeTitle: 'новинка', 
                        badgeClass: 'success'
                    })
                    +product-card({
                        imgs: 
                        [
                            './img/products/1.jpg',
                            './img/products/2.jpg',
                            './img/products/3.jpg',
                            './img/products/1.jpg',
                            './img/products/2.jpg'
                        ],
                        art: 'Арт 68012', 
                        barcode: 'Штрихкод 4606008612533', 
                        count: 'many', 
                        price: '582 ₽', 
                        descr: 'Ежедневник датированный 2025 ESCALADA, #ИЛОН МАСК, формат А6+, 176 л., твёрдый переплёт, запаянный край, искусственная кожа "Тиволи глосс", блинтовое тиснение', 
                        badgeTitle: 'новинка', 
                        badgeClass: 'success'
                    })
                    +product-card({
                        imgs: 
                        [
                            './img/products/1.jpg',
                            './img/products/2.jpg',
                            './img/products/3.jpg',
                            './img/products/1.jpg',
                            './img/products/2.jpg'
                        ],
                        art: 'Арт 68012', 
                        barcode: 'Штрихкод 4606008612533', 
                        count: 'many', 
                        price: '582 ₽', 
                        descr: 'Ежедневник датированный 2025 ESCALADA, #ИЛОН МАСК, формат А6+, 176 л., твёрдый переплёт, запаянный край, искусственная кожа "Тиволи глосс", блинтовое тиснение', 
                        badgeTitle: 'новинка', 
                        badgeClass: 'success'
                    })
                    +product-card({
                        imgs: 
                        [
                            './img/products/1.jpg',
                            './img/products/2.jpg',
                            './img/products/3.jpg',
                            './img/products/1.jpg',
                            './img/products/2.jpg'
                        ],
                        art: 'Арт 68012', 
                        barcode: 'Штрихкод 4606008612533', 
                        count: 'many', 
                        price: '582 ₽', 
                        descr: 'Ежедневник датированный 2025 ESCALADA, #ИЛОН МАСК, формат А6+, 176 л., твёрдый переплёт, запаянный край, искусственная кожа "Тиволи глосс", блинтовое тиснение', 
                        badgeTitle: 'новинка', 
                        badgeClass: 'success'
                    })
                    +product-card({
                        imgs: 
                        [
                            './img/products/1.jpg',
                            './img/products/2.jpg',
                            './img/products/3.jpg',
                            './img/products/1.jpg',
                            './img/products/2.jpg'
                        ],
                        art: 'Арт 68012', 
                        barcode: 'Штрихкод 4606008612533', 
                        count: 'many', 
                        price: '582 ₽', 
                        descr: 'Ежедневник датированный 2025 ESCALADA, #ИЛОН МАСК, формат А6+, 176 л., твёрдый переплёт, запаянный край, искусственная кожа "Тиволи глосс", блинтовое тиснение', 
                        badgeTitle: 'новинка', 
                        badgeClass: 'success'
                    })
                    +product-card({
                        imgs: 
                        [
                            './img/products/1.jpg',
                            './img/products/2.jpg',
                            './img/products/3.jpg',
                            './img/products/1.jpg',
                            './img/products/2.jpg'
                        ],
                        art: 'Арт 68012', 
                        barcode: 'Штрихкод 4606008612533', 
                        count: 'many', 
                        price: '582 ₽', 
                        descr: 'Ежедневник датированный 2025 ESCALADA, #ИЛОН МАСК, формат А6+, 176 л., твёрдый переплёт, запаянный край, искусственная кожа "Тиволи глосс", блинтовое тиснение', 
                        badgeTitle: 'новинка', 
                        badgeClass: 'success'
                    })
                    +product-card({
                        imgs: 
                        [
                            './img/products/1.jpg',
                            './img/products/2.jpg',
                            './img/products/3.jpg',
                            './img/products/1.jpg',
                            './img/products/2.jpg'
                        ],
                        art: 'Арт 68012', 
                        barcode: 'Штрихкод 4606008612533', 
                        count: 'many', 
                        price: '582 ₽', 
                        descr: 'Ежедневник датированный 2025 ESCALADA, #ИЛОН МАСК, формат А6+, 176 л., твёрдый переплёт, запаянный край, искусственная кожа "Тиволи глосс", блинтовое тиснение', 
                        badgeTitle: 'новинка', 
                        badgeClass: 'success'
                    })