@use "src/scss/common/files/mixins" as *;

.alert-block {
  @include s(margin-top, 96);
  @media (max-width: $tab) {
    @include s(margin-top, 64);
  }
  &.to-top {
    @include s(margin-top, -20);
    position: relative;
    z-index: 2;
    @media (max-width: $tab) {
      @include s(margin-top, 64);
    }
  }
  &.top-m {
    @include s(margin-top, 64);
  }
  &.top-sm {
    @include s(margin-top, 48);
    @media (max-width: $tab) {
      @include s(margin-top, 64);
    }
  }
  &.top-xs {
    @include s(margin-top, 24);
    @media (max-width: $tab) {
      @include s(margin-top, 64);
    }
  }
  .alert-block-inner {
    .alert-block-container {
      background: var(--violet-back-color);
      @include borr(12);
      display: flex;
      flex-direction: column;
      align-items: center;
      @include padding(80);
      @media (max-width: $tab) {
        @include padding(48, 24);
      }
      img {
        @include s(width, 70);
        @include s(height, 64);
      }
      .title {
        @include descr-m;
        text-transform: uppercase;
        color: var(--violet-color);
        @include s(margin-top, 36);
        text-align: center;
        @media (max-width: $tab) {
          @include s(margin-top, 28);
        }
      }
      .descr {
        @include body-xl;
        @include s(max-width, 888);
        text-align: center;
        @include s(margin-top, 28);
        @media (max-width: $tab) {
          @include s(margin-top, 8);
          @include body-lb;
        }
      }
    }
  }
}
