mixin career-features()
    .career-features
        .career-features-inner.container
            .features-list
                .career-feature-item     
                    img(src="./img/about/features/2.svg", alt="feature")
                    p.title > 200
                    p.descr сотрудников в штате
                .career-feature-item     
                    img(src="./img/about/features/3.svg", alt="feature")
                    p.title >20 лет
                    p.descr опыта на рынке
                .career-feature-item     
                    img(src="./img/about/features/4.svg", alt="feature")
                    p.title В 80+
                    p.descr городах есть наше представительство
            p.alert Феникс+ — это команда высококлассных экспертов. Мы ориентированы на развитие и совершенствование продукции, опираясь на опыт и профессионализм наших сотрудников. Наша команда объединяет специалистов разных областей, которые готовы к новым вызовам и достижениям. Мы создаем возможности для роста, поддержки и реализации ваших амбиций.