mixin become-partner-card(data)
    .become-partner-card&attributes(attributes)
        if data.img
            .image-wrapper 
                img( src=data.img, alt="become-partner" width='889' height='503')
        else
            .video-wrapper
                img(src="./img/about/charity/1.jpg", alt="" width='889' height='503')
                button.btn.play-btn 
                    <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="48" cy="48" r="48" fill="#49454C"/>
                        <path d="M38.5 31.5455L67 48L38.5 64.4545L38.5 31.5455Z" stroke="white"/>
                    </svg>
        .content(class=data.moreBtn ? 'row' : '') 
            .text 
                p.title #{data.title}
                p.descr #{data.descr}
            if data.moreBtn
                button.btn.outline.violet.l 
                    span подробнее
                    <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 13L7 7L0.999999 1" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
                    </svg>
