@use "src/scss/common/files/mixins" as *;

.become-partner-card {
  .video-block,
  .image-wrapper {
    width: 100%;
    position: relative;
    @include s(height, 503);
    @include borr(12);
    overflow: hidden;
  }
  .image-wrapper {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content {
    @include s(margin-top, 36);
    .title {
      @include body-xl;
    }
    .descr {
      @include s(margin-top, 16);
      @include body-l;
    }
    &.row {
      display: grid;
      @include gtc(1fr, 204);
      @include s(gap, 48);
      .btn {
        justify-content: center;
        @include s(gap, 12);
        p {
          text-transform: uppercase;
          @include descr-m;
        }
      }
    }
  }
}
