@use "src/scss/common/files/mixins" as *;

.about-gallery {
  @include s(margin-top, 144);
  overflow: hidden;
  .about-gallery-inner {
    h3 {
      text-align: center;
      @include h2;
    }
    .tabs {
      @include s(margin-top, 36);
      display: flex;
      align-items: center;
      @include s(gap, 4);
      justify-content: center;
    }
    .tab-content {
      @include s(margin-top, 28);
      .double-swiper {
        position: relative;
        .swiper-slide {
          @include s(height, 372);
          @include borr(12);
          overflow: hidden;
          opacity: 0;
          transition: opacity var(--trs-cubic-300);
          &.visible-slide {
            opacity: 1;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .navigation {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          @include s(left, -23);
          @include s(right, -23);
          justify-content: space-between;
          z-index: 2;
        }
      }
    }
  }
}
