mixin about-gallery()
    .about-gallery.tabs-wrapper
        .about-gallery-inner.container 
            h3 фотогалерея
            .tabs 
                button.btn.tab.m.active(data-tab='0') Конференции
                button.btn.tab.m(data-tab='1') Выставки
                button.btn.tab.m(data-tab='2') Офисная жизнь
            .tab-content(data-tab='0')
                .double-swiper 
                    .swiper-wrapper 
                        a(href='./img/about/charity/1.jpg' data-fancybox='gallery1').swiper-slide 
                            .image-wrapper 
                                img(src="./img/about/charity/1.jpg", alt="gallery")
                        a(href='./img/about/charity/2.jpg' data-fancybox='gallery1').swiper-slide 
                            .image-wrapper 
                                img(src="./img/about/charity/2.jpg", alt="gallery")
                        a(href='./img/about/charity/1.jpg' data-fancybox='gallery1').swiper-slide 
                            .image-wrapper 
                                img(src="./img/about/charity/1.jpg", alt="gallery")
                        a(href='./img/about/charity/2.jpg' data-fancybox='gallery1').swiper-slide 
                            .image-wrapper 
                                img(src="./img/about/charity/2.jpg", alt="gallery")
                        a(href='./img/about/charity/1.jpg' data-fancybox='gallery1').swiper-slide 
                            .image-wrapper 
                                img(src="./img/about/charity/1.jpg", alt="gallery")
                        a(href='./img/about/charity/2.jpg' data-fancybox='gallery1').swiper-slide 
                            .image-wrapper 
                                img(src="./img/about/charity/2.jpg", alt="gallery")
                    .navigation
                        button.btn.circle.l.double-swiper-prev
                            <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 13L1 7L9 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                        button.btn.circle.l.double-swiper-next
                            <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L9 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
            .tab-content(data-tab='1')
                .double-swiper 
                    .swiper-wrapper 
                        a(href='./img/about/charity/1.jpg' data-fancybox='gallery2').swiper-slide 
                            .image-wrapper 
                                img(src="./img/about/charity/1.jpg", alt="gallery")
                        a(href='./img/about/charity/2.jpg' data-fancybox='gallery2').swiper-slide 
                            .image-wrapper 
                                img(src="./img/about/charity/2.jpg", alt="gallery")
                        a(href='./img/about/charity/1.jpg' data-fancybox='gallery2').swiper-slide 
                            .image-wrapper 
                                img(src="./img/about/charity/1.jpg", alt="gallery")
                        a(href='./img/about/charity/2.jpg' data-fancybox='gallery2').swiper-slide 
                            .image-wrapper 
                                img(src="./img/about/charity/2.jpg", alt="gallery")
                        a(href='./img/about/charity/1.jpg' data-fancybox='gallery2').swiper-slide 
                            .image-wrapper 
                                img(src="./img/about/charity/1.jpg", alt="gallery")
                        a(href='./img/about/charity/2.jpg' data-fancybox='gallery2').swiper-slide 
                            .image-wrapper 
                                img(src="./img/about/charity/2.jpg", alt="gallery")
                    .navigation
                        button.btn.circle.l.double-swiper-prev
                            <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 13L1 7L9 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                        button.btn.circle.l.double-swiper-next
                            <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L9 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
            .tab-content(data-tab='2')
                .double-swiper 
                    .swiper-wrapper 
                        a(href='./img/about/charity/1.jpg' data-fancybox='gallery3').swiper-slide 
                            .image-wrapper 
                                img(src="./img/about/charity/1.jpg", alt="gallery")
                        a(href='./img/about/charity/2.jpg' data-fancybox='gallery3').swiper-slide 
                            .image-wrapper 
                                img(src="./img/about/charity/2.jpg", alt="gallery")
                        a(href='./img/about/charity/1.jpg' data-fancybox='gallery3').swiper-slide 
                            .image-wrapper 
                                img(src="./img/about/charity/1.jpg", alt="gallery")
                        a(href='./img/about/charity/2.jpg' data-fancybox='gallery3').swiper-slide 
                            .image-wrapper 
                                img(src="./img/about/charity/2.jpg", alt="gallery")
                        a(href='./img/about/charity/1.jpg' data-fancybox='gallery3').swiper-slide 
                            .image-wrapper 
                                img(src="./img/about/charity/1.jpg", alt="gallery")
                        a(href='./img/about/charity/2.jpg' data-fancybox='gallery3').swiper-slide 
                            .image-wrapper 
                                img(src="./img/about/charity/2.jpg", alt="gallery")
                    .navigation
                        button.btn.circle.l.double-swiper-prev
                            <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 13L1 7L9 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                        button.btn.circle.l.double-swiper-next
                            <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L9 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>