mixin catalog-menu() 
    .catalog-menu 
        .catalog-top-menu.container 
            .title-wrapper
                button.btn.back-btn 
                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 11L1 6L6 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                    </svg>
                p.title Каталог
                button.btn.close-catalog-btn
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.05078 14.9497L14.9503 5.05021" stroke="#343176"/>
                        <path d="M14.9502 14.9497L5.0507 5.05021" stroke="#343176"/>
                    </svg>
            .search-wrapper
                input(type="text" placeholder='Поиск').transparent 
                button.btn.clear.search-btn 
                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="8.22857" cy="8.22857" r="7.72857" stroke="white"/>
                        <path d="M13.7148 13.7144L18.0006 18.0001" stroke="white"/>
                    </svg>
        .catalog-menu-inner.container
            button.btn.close-catalog-btn
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.05078 14.9497L14.9503 5.05021" stroke="#343176"/>
                    <path d="M14.9502 14.9497L5.0507 5.05021" stroke="#343176"/>
                </svg>
            .col
                a(href="#").catalog-preorder
                    img(loading='lazy' src="./img/catalog-menu/pre-order.jpg", alt="pre-order")
                    .content 
                        p.title каталог предзаказа
                        .btn
                            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.66699 10.6667L6.33366 6.00008L1.66699 1.33341" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                .menu-list 
                    button.btn.menu 
                        span.image-wrapper 
                            img(loading='lazy' src="./img/catalog-menu/1.png", alt="catalog-menu-product")
                        span.text 
                            span Товары для офиса
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                    button.btn.menu 
                        span.image-wrapper 
                            img(loading='lazy' src="./img/catalog-menu/2.png", alt="catalog-menu-product")
                        span.text 
                            span Товары для школьников <br> и студентов
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                    button.btn.menu 
                        span.image-wrapper 
                            img(loading='lazy' src="./img/catalog-menu/3.png", alt="catalog-menu-product")
                        span.text 
                            span Тематическая <br> продукция
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                    button.btn.menu 
                        span.image-wrapper 
                            img(loading='lazy' src="./img/catalog-menu/4.png", alt="catalog-menu-product")
                        span.text 
                            span Хобби и творчество
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                    button.btn.menu 
                        span.image-wrapper 
                            img(loading='lazy' src="./img/catalog-menu/5.png", alt="catalog-menu-product")
                        span.text 
                            span Развивающая <br>продукция для детей
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                    button.btn.menu 
                        span.image-wrapper 
                            img(loading='lazy' src="./img/catalog-menu/6.png", alt="catalog-menu-product")
                        span.text 
                            span Пишущие <br> принадлежности
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
            .col 
                .catalog-menu-list.hidden 
                    button.btn.sub-menu
                        span.title-wrapper
                            span Ежедневники
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        span.title-wrapper
                            span Ежедневники
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        span.title-wrapper
                            span Планинги
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        span.title-wrapper
                            span Записные книжки
                            span.badge.fill.success новинка
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        span.title-wrapper
                            span Телефонные книги
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        span.title-wrapper
                            span Блокноты
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        span.title-wrapper
                            span Тетради офисные
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        span.title-wrapper
                            span Блокноты
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        span.title-wrapper
                            span Папки для офиса
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        span.title-wrapper
                            span Закладки для книг
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        span.title-wrapper
                            span Панели на монитор для стикеров
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        span.title-wrapper
                            span Блоки и стикеры из бумаги
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        span.title-wrapper
                            span Блоки и стикеры из пластика
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu
                        span.title-wrapper
                            span Этикетки и наклейки самоктеящиеся
                            span.badge.fill.warn хит
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                .catalog-menu-list.hidden 
                    button.btn.sub-menu
                        span.title-wrapper
                            span Ежедневники 2
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        span.title-wrapper
                            span Ежедневники
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        span.title-wrapper
                            span Планинги
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        span.title-wrapper
                            span Записные книжки
                            span.badge.fill.success новинка
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg> 
                    button.btn.sub-menu 
                        span.title-wrapper
                            span Телефонные книги
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        span.title-wrapper
                            span Блокноты
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        span.title-wrapper
                            span Тетради офисные
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        span.title-wrapper
                            span Блокноты
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        span.title-wrapper
                            span Папки для офиса
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        span.title-wrapper
                            span Закладки для книг
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        span.title-wrapper
                            span Панели на монитор для стикеров
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        span.title-wrapper
                            span Блоки и стикеры из бумаги
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        span.title-wrapper
                            span Блоки и стикеры из пластика
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu
                        span.title-wrapper
                            span Этикетки и наклейки самоктеящиеся
                            span.badge.fill.warn хит
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
            .col 
                .catalog-menu-links-wrapper.hidden 
                    .catalog-menu-links.hidden 
                        a(href="#") Ежедневники-органайзеры 
                            span (8)
                        a(href="#") Ежедневники 
                            span (215)
                        a(href="#") Планинги (еженедельники)  
                            span (74)
                        a(href="#") Записные книжки 
                            span (44)
                        a(href="#") Визитницы, органайзерфы для документов
                            span (12)
                        a(href="#") Папки, папки органайзеры
                            span (5)
                        a(href="#") Подарочные наборы
                            span (6)
                    .catalog-menu-links.hidden 
                        a(href="#") Ежедневники-органайзеры 
                            span (8)
                        a(href="#") Ежедневники 
                            span (215)
                        a(href="#") Планинги (еженедельники)  
                            span (74)
                    .catalog-menu-links.hidden 
                        a(href="#") Ежедневники-органайзеры 
                            span (8)
                        a(href="#") Записные книжки 
                            span (44)
                        a(href="#") Визитницы, органайзерфы для документов
                            span (12)
                        a(href="#") Папки, папки органайзеры
                            span (5)
                        a(href="#") Подарочные наборы
                            span (6)
                    .catalog-menu-links.hidden 
                        a(href="#") Ежедневники-органайзеры 
                            span (8)
                        a(href="#") Ежедневники 
                            span (215)
                        a(href="#") Планинги (еженедельники)  
                            span (74)
                        a(href="#") Записные книжки 
                            span (44)
                        a(href="#") Визитницы, органайзерфы для документов
                            span (12)
                    .catalog-menu-links.hidden 
                        a(href="#") Ежедневники-органайзеры 
                            span (8)
                        a(href="#") Ежедневники 
                            span (215)
                        a(href="#") Планинги (еженедельники)  
                            span (74)
                        a(href="#") Папки, папки органайзеры
                            span (5)
                        a(href="#") Подарочные наборы
                            span (6)
                    .catalog-menu-links.hidden 
                        a(href="#") Ежедневники-органайзеры 
                            span (8)
                        a(href="#") Ежедневники 
                            span (215)
                        a(href="#") Планинги (еженедельники)  
                            span (74)
                        a(href="#") Записные книжки 
                            span (44)
                    .catalog-menu-links.hidden 
                        a(href="#") Ежедневники-органайзеры 
                            span (8)
                        a(href="#") Ежедневники 
                            span (215)
                        a(href="#") Планинги (еженедельники)  
                            span (74)
                        a(href="#") Записные книжки 
                            span (44)
                        a(href="#") Папки, папки органайзеры
                            span (5)
                        a(href="#") Подарочные наборы
                            span (6)
                    .catalog-menu-links.hidden 
                        a(href="#") Планинги (еженедельники)  
                            span (74)
                        a(href="#") Записные книжки 
                            span (44)
                        a(href="#") Визитницы, органайзерфы для документов
                            span (12)
                        a(href="#") Папки, папки органайзеры
                            span (5)
                        a(href="#") Подарочные наборы
                            span (6)
                    .catalog-menu-links.hidden 
                        a(href="#") Ежедневники-органайзеры 
                            span (8)
                        a(href="#") Ежедневники 
                            span (215)
                        a(href="#") Планинги (еженедельники)  
                            span (74)
                        a(href="#") Подарочные наборы
                            span (6)
                    .catalog-menu-links.hidden 
                        a(href="#") Ежедневники-органайзеры 
                            span (8)
                        a(href="#") Подарочные наборы
                            span (6)
                    .catalog-menu-links.hidden 
                        a(href="#") Ежедневники-органайзеры 
                            span (8)
                    .catalog-menu-links.hidden 
                        a(href="#") Записные книжки 
                            span (44)
                        a(href="#") Визитницы, органайзерфы для документов
                            span (12)
                        a(href="#") Папки, папки органайзеры
                            span (5)
                        a(href="#") Подарочные наборы
                            span (6)
                    .catalog-menu-links.hidden 
                        a(href="#") Ежедневники-органайзеры 
                            span (8)
                        a(href="#") Записные книжки 
                            span (44)
                        a(href="#") Визитницы, органайзерфы для документов
                            span (12)
                        a(href="#") Папки, папки органайзеры
                            span (5)
                        a(href="#") Подарочные наборы
                            span (6)
                    .catalog-menu-links.hidden 
                        a(href="#") Ежедневники-органайзеры 
                            span (8)
                        a(href="#") Ежедневники 
                            span (215)
                        a(href="#") Планинги (еженедельники)  
                            span (74)
                        a(href="#") Записные книжки 
                            span (44)
                .catalog-menu-links-wrapper.hidden 
                    .catalog-menu-links.hidden 
                        a(href="#") Ежедневники-органайзеры 
                            span (8)
                        a(href="#") Ежедневники 
                            span (215)
                        a(href="#") Планинги (еженедельники)  
                            span (74)
                        a(href="#") Записные книжки 
                            span (44)
                        a(href="#") Визитницы, органайзерфы для документов
                            span (12)
                        a(href="#") Папки, папки органайзеры
                            span (5)
                        a(href="#") Подарочные наборы
                            span (6)
                    .catalog-menu-links.hidden 
                        a(href="#") Ежедневники-органайзеры 
                            span (8)
                        a(href="#") Ежедневники 
                            span (215)
                        a(href="#") Планинги (еженедельники)  
                            span (74)
                    .catalog-menu-links.hidden 
                        a(href="#") Ежедневники-органайзеры 
                            span (8)
                        a(href="#") Ежедневники 
                            span (215)
                        a(href="#") Планинги (еженедельники)  
                            span (74)
                        a(href="#") Записные книжки 
                            span (44)
                        a(href="#") Визитницы, органайзерфы для документов
                            span (12)
                        a(href="#") Папки, папки органайзеры
                            span (5)
                        a(href="#") Подарочные наборы
                            span (6)
                    .catalog-menu-links.hidden 
                        a(href="#") Ежедневники-органайзеры 
                            span (8)
                        a(href="#") Ежедневники 
                            span (215)
                        a(href="#") Планинги (еженедельники)  
                            span (74)
            .popular 
                p.title популярные категории
                .popular-list 
                    a(href="#").popular-item 
                        img(loading='lazy' src="./img/home/collections/1.jpg",  width='64' height='64' alt="popular")
                        .content 
                            p рюкзаки
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                    a(href="#").popular-item 
                        img(loading='lazy' src="./img/home/collections/2.jpg",  width='64' height='64' alt="popular")
                        .content 
                            p ежедневники
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                    a(href="#").popular-item 
                        img(loading='lazy' src="./img/home/collections/3.jpg",  width='64' height='64' alt="popular")
                        .content 
                            p записные книжки
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                    a(href="#").popular-item  
                        img(loading='lazy' src="./img/home/collections/4.jpg",  width='64' height='64' alt="popular" )
                        .content 
                            p пишущие принадлежности
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
