mixin catalog-menu() 
    .catalog-menu 
        .catalog-menu-inner.container
            .col.menu-list 
                button.btn.menu 
                    .image-wrapper 
                        img(src="./img/catalog-menu/1.png", alt="")
                    .text 
                        p Товары для офиса
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                button.btn.menu 
                    .image-wrapper 
                        img(src="./img/catalog-menu/2.png", alt="")
                    .text 
                        p Товары для школьников <br> и студентов
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                button.btn.menu 
                    .image-wrapper 
                        img(src="./img/catalog-menu/3.png", alt="")
                    .text 
                        p Тематическая <br> продукция
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                button.btn.menu 
                    .image-wrapper 
                        img(src="./img/catalog-menu/4.png", alt="")
                    .text 
                        p Хобби и творчество
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                button.btn.menu 
                    .image-wrapper 
                        img(src="./img/catalog-menu/5.png", alt="")
                    .text 
                        p Развивающая <br>продукция для детей
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                button.btn.menu 
                    .image-wrapper 
                        img(src="./img/catalog-menu/6.png", alt="")
                    .text 
                        p Пишущие <br> принадлежности
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
            .col 
                .catalog-menu-list.hidden 
                    button.btn.sub-menu
                        .title-wrapper
                            p Ежедневники
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        .title-wrapper
                            p Ежедневники
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        .title-wrapper
                            p Планинги
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        .title-wrapper
                            p Записные книжки
                            .badge.fill.success новинка
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        .title-wrapper
                            p Телефонные книги
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        .title-wrapper
                            p Блокноты
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        .title-wrapper
                            p Тетради офисные
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        .title-wrapper
                            p Блокноты
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        .title-wrapper
                            p Папки для офиса
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        .title-wrapper
                            p Закладки для книг
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        .title-wrapper
                            p Панели на монитор для стикеров
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        .title-wrapper
                            p Блоки и стикеры из бумаги
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu 
                        .title-wrapper
                            p Блоки и стикеры из пластика
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.sub-menu
                        .title-wrapper
                            p Этикетки и наклейки самоктеящиеся
                            .badge.fill.warn хит
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L5 5L1 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>