mixin refund()
    .refund
        .refund-inner.container
            h1 Возврат и обмен
            .refund-inner-content
                .accordion 
                    .accordion-item.auto-close
                        button(type='button').accordion-title 
                            .icon 
                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                            .title-wrapper
                                p.title Условия возврата
                        .collapse.accordion-body
                            .text-wrapper 
                                ul 
                                    li Вы можете отказаться от заказанного товара до его получения
                                    li Вы можете вернуть или обменять товар, не подошедший по каким-либо причинам в течение 7 календарных дней с момента получения заказа (п. 4 ст. 26.1 Закона о защите прав потребителей), если данный товар подлежит возврату и обмену (см. ниже).
                                .text 
                                    p Возврат товара возможен только в случае, если указанный товар не был в употреблении, сохранен его первоначальный товарный вид, потребительские свойства, пломбы, фабричные ярлыки, оригинальные этикетки и документы, подтверждающие покупку (чек).
                    .accordion-item.auto-close
                        button(type='button').accordion-title 
                            .icon 
                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                            .title-wrapper
                                p.title Какие товары не подлежат возврату и обмену? 
                        .collapse.accordion-body
                            .text-wrapper 
                                ul 
                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели
                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                .text 
                                    p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                    .accordion-item.auto-close
                        button(type='button').accordion-title 
                            .icon 
                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                            .title-wrapper
                                p.title Как оформить возврат или обмен?
                        .collapse.accordion-body
                            .text-wrapper 
                                ul 
                                    li Заполните и отправьте заявку на возврат со страницы соответствующего заказа в вашем личном кабинете и дождаться подтверждения заявки нашим оператором
                                    li Обратитесь в ближайший офис СДЭК или Почты России (в зависимости  от региона) для отправки товара на адрес пункта приема (344064, г.Ростов-на-Дону, ул.Вавилова, 69). При отправке Почтой России потребуется приобрести упаковочный пакет. 
                                    li После поступления посылки на пункт приема нашими сотрудниками будет произведена проверка товарного вида изделий.
                                p.subtitle При подтверждении сохранности внешнего вида будет выполнена одна из процедур ниже:
                                ul 
                                    li В случае, если был оформлен ВОЗВРАТ — запрос на возмещение денежных средств будет передан в банк.
                                    li В случае, если был оформлен ОБМЕН — вам будет отправлен товар, выбранный на замену возвращаемому.
                                button.btn.primary.download-btn.l
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.13965 9.18765L1.13965 13.3798M16.8602 9.18765V13.3798M1.13965 12.8558C1.13965 13.2687 1.22097 13.6775 1.37898 14.059C1.53699 14.4404 1.76858 14.787 2.06054 15.079C2.35249 15.3709 2.6991 15.6025 3.08056 15.7605C3.46202 15.9186 3.87086 15.9999 4.28375 15.9999H13.7161C14.129 15.9999 14.5378 15.9186 14.9193 15.7605C15.3007 15.6025 15.6473 15.3709 15.9393 15.079C16.2312 14.787 16.4628 14.4404 16.6208 14.059C16.7788 13.6775 16.8602 13.2687 16.8602 12.8558M13.9126 6.56756L8.99991 11.8077L4.48026 6.56756M8.99991 0.999878L8.99991 11.2837" stroke="white"/>
                                    </svg>
                                    p скачать заявку на возврат
                    .accordion-item.auto-close
                        button(type='button').accordion-title 
                            .icon 
                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                            .title-wrapper
                                p.title Кто оплачивает стоимость доставки в случае возврата или обмена?
                        .collapse.accordion-body
                            .text-wrapper 
                                ul 
                                    li Заполните и отправьте заявку на возврат со страницы соответствующего заказа в вашем личном кабинете и дождаться подтверждения заявки нашим оператором
                                    li Обратитесь в ближайший офис СДЭК или Почты России (в зависимости  от региона) для отправки товара на адрес пункта приема (344064, г.Ростов-на-Дону, ул.Вавилова, 69). При отправке Почтой России потребуется приобрести упаковочный пакет. 
                                    li После поступления посылки на пункт приема нашими сотрудниками будет произведена проверка товарного вида изделий.
                                p.subtitle При подтверждении сохранности внешнего вида будет выполнена одна из процедур ниже:
                                ul 
                                    li В случае, если был оформлен ВОЗВРАТ — запрос на возмещение денежных средств будет передан в банк.
                                    li В случае, если был оформлен ОБМЕН — вам будет отправлен товар, выбранный на замену возвращаемому.
                                button.btn.primary.download-btn.l
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.13965 9.18765L1.13965 13.3798M16.8602 9.18765V13.3798M1.13965 12.8558C1.13965 13.2687 1.22097 13.6775 1.37898 14.059C1.53699 14.4404 1.76858 14.787 2.06054 15.079C2.35249 15.3709 2.6991 15.6025 3.08056 15.7605C3.46202 15.9186 3.87086 15.9999 4.28375 15.9999H13.7161C14.129 15.9999 14.5378 15.9186 14.9193 15.7605C15.3007 15.6025 15.6473 15.3709 15.9393 15.079C16.2312 14.787 16.4628 14.4404 16.6208 14.059C16.7788 13.6775 16.8602 13.2687 16.8602 12.8558M13.9126 6.56756L8.99991 11.8077L4.48026 6.56756M8.99991 0.999878L8.99991 11.2837" stroke="white"/>
                                    </svg>
                                    p скачать заявку на возврат
                    .accordion-item.auto-close
                        button(type='button').accordion-title 
                            .icon 
                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                            .title-wrapper
                                p.title В какой срок осуществляется возврат денежных средств?
                        .collapse.accordion-body
                            .text-wrapper 
                                ul 
                                    li Заполните и отправьте заявку на возврат со страницы соответствующего заказа в вашем личном кабинете и дождаться подтверждения заявки нашим оператором
                                    li Обратитесь в ближайший офис СДЭК или Почты России (в зависимости  от региона) для отправки товара на адрес пункта приема (344064, г.Ростов-на-Дону, ул.Вавилова, 69). При отправке Почтой России потребуется приобрести упаковочный пакет. 
                                    li После поступления посылки на пункт приема нашими сотрудниками будет произведена проверка товарного вида изделий.
                                p.subtitle При подтверждении сохранности внешнего вида будет выполнена одна из процедур ниже:
                                ul 
                                    li В случае, если был оформлен ВОЗВРАТ — запрос на возмещение денежных средств будет передан в банк.
                                    li В случае, если был оформлен ОБМЕН — вам будет отправлен товар, выбранный на замену возвращаемому.
                                button.btn.primary.download-btn.l
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.13965 9.18765L1.13965 13.3798M16.8602 9.18765V13.3798M1.13965 12.8558C1.13965 13.2687 1.22097 13.6775 1.37898 14.059C1.53699 14.4404 1.76858 14.787 2.06054 15.079C2.35249 15.3709 2.6991 15.6025 3.08056 15.7605C3.46202 15.9186 3.87086 15.9999 4.28375 15.9999H13.7161C14.129 15.9999 14.5378 15.9186 14.9193 15.7605C15.3007 15.6025 15.6473 15.3709 15.9393 15.079C16.2312 14.787 16.4628 14.4404 16.6208 14.059C16.7788 13.6775 16.8602 13.2687 16.8602 12.8558M13.9126 6.56756L8.99991 11.8077L4.48026 6.56756M8.99991 0.999878L8.99991 11.2837" stroke="white"/>
                                    </svg>
                                    p скачать заявку на возврат
                .form-block 
                    .sticky-block
                        h4 Поддержка клиентов
                        .form-info
                            .btns 
                                .btn-wrapper
                                    a(href="#").btn.outline.violet.l
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_7956_74267)">
                                            <path d="M5.84111 12.0969C9.05052 15.3063 11.5172 16.1119 14.4247 13.2045C14.8797 12.7373 15.3053 12.1469 14.7015 11.5432L12.348 9.74348C11.6052 9.34387 11.3151 9.62808 10.9635 10.0203C9.67869 11.4545 8.29251 10.9785 7.3642 10.0203L5.97977 8.63588C5.0216 7.70747 4.54562 6.32115 5.97977 5.03654C6.37215 4.68499 6.65621 4.39481 6.2566 3.65211L4.45685 1.2986C3.85306 0.694804 3.26269 1.12037 2.79546 1.57543C-0.111852 4.48274 0.69364 6.94945 3.90305 10.159L5.84111 12.0969Z" stroke="#343176"/>
                                            </g>
                                            <defs>
                                            <clipPath id="clip0_7956_74267">
                                            <rect width="16" height="16" fill="white"/>
                                            </clipPath>
                                            </defs>
                                        </svg>
                                        p 8 800 000 00 00 
                                    p горячая линия
                                .btn-wrapper
                                    a(href="#").btn.outline.violet.l
                                        img(load='lazy' src="./img/icons/wa-fill.svg", alt="wa")
                                        p Whatsapp
                                    p Служба поддержки
                            p.descr Если у вас возникли дополнительные вопросы, пожалуйста, свяжитесь с нашей службой поддержки клиентов, которая предоставит более подробную информацию. Мы дорожим своей репутацией и трепетно относимся к каждому заказу!
                        +consultation-form()