mixin contacts-sallers()
    .contacts-sallers-wrapper 
        .contacts-sallers-list 
            +contacts-card({
                title: 'Космынина Оксана Вячеславовна', 
                post: 'Менеджер отдела продаж(сетевой ритейл,интернет-магазины, маркетплэйсы) KAM', 
                phones: [
                    '+7 (863) 261-89-62',
                    '+7 (863) 261-89-62',
                    '+7 (863) 261-89-64, доб.140'
                ]
            })
            +contacts-card({
                title: 'Ильичева Юлия Сергеевна', 
                post: 'Менеджер отдела продаж', 
                phones: [
                    '+7 (863) 261-89-62',
                    '+7 (863) 261-89-62'
                ]
            })
            +contacts-card({
                title: 'Космынина Оксана Вячеславовна', 
                post: 'Менеджер отдела продаж(сетевой ритейл,интернет-магазины, маркетплэйсы) KAM', 
                phones: [
                    '+7 (863) 261-89-62'
                ]
            })
            +contacts-card({
                title: 'Космынина Оксана Вячеславовна', 
                post: 'Менеджер отдела продаж(сетевой ритейл,интернет-магазины, маркетплэйсы) KAM', 
                phones: [
                    '+7 (863) 261-89-62',
                    '+7 (863) 261-89-62',
                    '+7 (863) 261-89-64, доб.140'
                ]
            })
            +contacts-card({
                title: 'Ильичева Юлия Сергеевна', 
                post: 'Менеджер отдела продаж',
                phones: [
                    '+7 (863) 261-89-62',
                    '+7 (863) 261-89-62'
                ]
            })
            +contacts-card({
                title: 'Космынина Оксана Вячеславовна', 
                post: 'Менеджер отдела продаж(сетевой ритейл,интернет-магазины, маркетплэйсы) KAM',
                phones: [
                    '+7 (863) 261-89-62'
                ]
            })
            +contacts-card({
                title: 'Космынина Оксана Вячеславовна',
                post: 'Менеджер отдела продаж(сетевой ритейл,интернет-магазины, маркетплэйсы) KAM', 
                phones: [
                    '+7 (863) 261-89-62',
                    '+7 (863) 261-89-62',
                    '+7 (863) 261-89-64, доб.140'
                ]
            })
            +contacts-card({
                title: 'Ильичева Юлия Сергеевна', 
                post: 'Менеджер отдела продаж', 
                phones: [
                    '+7 (863) 261-89-62',
                    '+7 (863) 261-89-62']
            })
            +contacts-card({
                title: 'Космынина Оксана Вячеславовна', 
                post: 'Менеджер отдела продаж(сетевой ритейл,интернет-магазины, маркетплэйсы) KAM', 
                phones: ['+7 (863) 261-89-62']
            })
            +contacts-card({
                title: 'Космынина Оксана Вячеславовна', 
                post: 'Менеджер отдела продаж(сетевой ритейл,интернет-магазины, маркетплэйсы) KAM', 
                phones: [
                    '+7 (863) 261-89-62',
                    '+7 (863) 261-89-62',
                    '+7 (863) 261-89-64, доб.140'
                ]
            })