mixin cart-item(data)
    a(href="#").cart-item
        .content 
            p.title #{data.title}
            .info-list
                if data.names && data.sum
                    .info-row 
                        p.label Наименований
                        p.value #{data.names}
                    .info-row 
                        p.label На сумму
                        p.value #{data.sum}
                else 
                    p.empty Корзина пуста
        .btn.circle.violet.s
            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 13L7 7L0.999999 1" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
            </svg>
