@use "src/scss/common/files/mixins" as *;

.wholesale-orders {
  @include s(padding-bottom, 156);
  @media (max-width: $tab) {
    @include s(padding-bottom, 64);
    @include s(margin-top, 16);
  }
  .wholesale-orders-inner {
    display: grid;
    @include gtc(1fr, 294);
    @include s(gap, 48);
    @include s(margin-top, 36);
    @media (max-width: $tab) {
      grid-template-columns: 1fr;
      gap: 0;
      @include s(margin-top, 22);
    }
    h1 {
      @include h1;
    }
    .content {
      h5 {
        @include h5;
        text-transform: uppercase;
      }
      .tabs {
        display: flex;
        align-items: center;
        @include s(gap, 4);
        @include s(margin-top, 36);
        @media (max-width: $tab) {
          @include s(margin-top, 20);
        }
        .tab {
          position: relative;
          @include s(gap, 10);
          span {
            font-weight: 400;
            @include s(font-size, 10);
            line-height: 120%;
            @include s(width, 20);
            @include s(height, 20);
            background: var(--violet-color);
            border-radius: 9999px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--white-color);
            pointer-events: none;
          }
        }
      }
      .filters {
        display: grid;
        @include gtc(488, 432);
        @include s(gap, 82);
        @include s(margin-top, 36);
        @media (max-width: $tab) {
          grid-template-columns: 1fr;
          @include s(gap, 10);
          @include s(margin-top, 28);
        }
        .date {
          display: flex;
          @include s(gap, 8);
          align-items: center;
          @media (max-width: $tab) {
            flex-direction: column;
            @include s(gap, 10);
          }
          .separator {
            @media (max-width: $tab) {
              display: none;
            }
          }
          .date-picker-wrapper {
            position: relative;
            @media (max-width: $tab) {
              width: 100%;
            }
            .date-picker {
              width: 100%;
              background: var(--back-color);
              @include s(height, 48);
              @include borr(6);
              color: var(--gray-color);
              @include padding(0, 24);
              &:placeholder-shown {
                color: var(--gray-light-color);
                @include body-m;
              }
            }
            img {
              position: absolute;
              @include s(width, 18);
              @include s(height, 18);
              top: 0;
              bottom: 0;
              @include s(right, 20);
              margin: auto;
            }
          }
        }
        .search-wrapper {
          position: relative;
          @include s(gap, 29);
          @include s(height, 48);
          flex: 1;
          @media (max-width: $tab) {
            @include s(height, 44);
          }
          input {
            background: var(--back-color);
            color: var(--gray-color);
            &:placeholder-shown {
              color: var(--gray-light-color);
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 1; /* Ограничиваем текст до 3 строк */
              -webkit-box-orient: vertical;
              text-overflow: ellipsis;
              @media (max-width: $tab) {
                @include s(padding-right, 57);
              }
            }
          }
          .search-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            @include s(width, 48);
            @include s(height, 48);
            @media (max-width: $tab) {
              background: none;
              @include s(width, 44);
              @include s(height, 44);
            }
            //   &:hover {
            //     background: var(--violet-color);
            //   }
            svg {
              @include s(width, 18);
              @include s(height, 18);
              circle,
              path {
                stroke: var(--gray-color);
              }
              @media (max-width: $tab) {
                @include s(width, 22);
                @include s(height, 22);
              }
            }
          }
        }
      }
      .accordion {
        @include s(margin-top, 36);
        display: flex;
        flex-direction: column;
        @include s(gap, 12);
        @media (max-width: $tab-sm) {
          display: none;
        }
        .accordion-item {
          .accordion-title {
            @include padding(28);
            background: var(--back-color);
            @include borr(12);
            display: grid;
            @include gtc(28, 1fr, 235);
            @include s(gap, 16);
            align-items: flex-start;
            cursor: pointer;
            // @media (max-width: $tab) {
            //   @include padding(16, 0);
            // }
            .icon {
              background: var(--gray-color);
              border: none;
            }
            .main-content {
              .title-wrapper {
                display: flex;
                align-items: center;
                @include s(gap, 24);
                .title {
                  @include h6;
                  text-align: left;
                  text-transform: uppercase;
                  // @media (max-width: $tab) {
                  //   @include body-lb;
                  // }
                }
                .date {
                  @include body-xs;
                  color: var(--gray-light-color);
                }
              }
              .info-list {
                @include s(margin-top, 16);
                display: flex;
                flex-direction: column;
                @include s(gap, 6);
                &.main {
                  .info-item {
                    .value {
                      @include body-mb;
                    }
                  }
                }
                .info-item {
                  display: grid;
                  @include gtc(160, 404);
                  @include s(gap, 24);
                  @media (max-width: $tab) {
                    @include gtc(140, 204);
                  }
                  .label {
                    @include body-m;
                    color: var(--gray-light-color);
                  }
                  .value {
                    @include body-m;
                  }
                }
              }
            }
            .features {
              .status {
                @include s(height, 19);
                @include padding(0, 10);
                @include descr-xs;
                text-transform: uppercase;
                width: fit-content;
                @include borr(4);
                display: flex;
                align-items: center;
                &.gray {
                  border: 1px solid var(--gray-light-color);
                  color: var(--gray-light-color);
                }
                &.orange {
                  border: 1px solid var(--orange-color);
                  color: var(--orange-color);
                }
                &.violet {
                  border: 1px solid var(--violet-color);
                  color: var(--violet-color);
                }
                &.green {
                  border: 1px solid var(--green-color);
                  color: var(--green-color);
                }
                &.red {
                  border: 1px solid var(--alert-color);
                  color: var(--alert-color);
                }
              }
              .features-list {
                display: flex;
                flex-direction: column;
                @include s(gap, 6);
                @include s(margin-top, 12);
                .btn,
                a {
                  width: fit-content;
                  display: flex;
                  align-items: center;
                  @include s(gap, 12);
                  color: var(--violet-color);
                  @include body-m;
                  text-align: left;
                  padding: 0;
                  svg {
                    @include s(width, 20);
                    @include s(height, 20);
                  }
                }
              }
            }
          }
          &.active {
            .accordion-title {
              .icon {
                svg {
                  transform: rotate(180deg);
                }
              }
            }
          }
          .icon {
            @include s(min-width, 28);
            @include s(min-height, 28);
            @include s(max-width, 28);
            @include s(max-height, 28);
            border: 1px solid var(--line-color);
            @include borr(6);
            svg {
              @include s(width, 12);
              @include s(height, 6);
            }
          }
          .accordion-body {
            padding-left: 0;
            @include s(margin-top, 36);
            display: flex;
            flex-direction: column;
            @include s(gap, 48);
            @include s(padding-bottom, 100);
            .order-cards-list {
              display: flex;
              flex-direction: column;
              @include s(gap, 28);
              width: 100%;
            }
          }
        }
      }
      .orders-list {
        display: none;
        @media (max-width: $tab-sm) {
          display: flex;
          flex-direction: column;
          @include s(gap, 12);
          @include s(margin-top, 28);
        }
        .order-item {
          @include padding(20);
          @include borr(12);
          background: var(--back-color);
          .top {
            display: grid;
            @include gtc(232, 1fr);
            @include s(gap, 20);
          }
          .title-wrapper {
            .title {
              @include h6;
            }
            .date {
              @include body-xs;
              color: var(--gray-light-color);
              @include s(margin-top, 4);
            }
          }
          .status {
            @include s(height, 19);
            @include padding(0, 10);
            @include descr-xs;
            text-transform: uppercase;
            width: fit-content;
            @include borr(4);
            display: flex;
            align-items: center;
            @include s(margin-top, 10);

            &.gray {
              border: 1px solid var(--gray-light-color);
              color: var(--gray-light-color);
            }
            &.orange {
              border: 1px solid var(--orange-color);
              color: var(--orange-color);
            }
            &.violet {
              border: 1px solid var(--violet-color);
              color: var(--violet-color);
            }
            &.green {
              border: 1px solid var(--green-color);
              color: var(--green-color);
            }
            &.red {
              border: 1px solid var(--alert-color);
              color: var(--alert-color);
            }
          }
          .info-list {
            @include s(margin-top, 16);
            display: flex;
            flex-direction: column;
            @include s(gap, 6);

            .info-item {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              @include s(gap, 16);
              .label {
                @include body-s;
                color: var(--gray-light-color);
              }
              .value {
                @include body-sb;
              }
            }
          }
          .icon {
            @include s(min-width, 28);
            @include s(min-height, 28);
            @include s(max-width, 28);
            @include s(max-height, 28);
            border: 1px solid var(--line-color);
            @include borr(6);
            background: var(--gray-color);
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
              @include s(height, 12);
              @include s(width, 6);
            }
          }
        }
      }
      .add-btn {
        @include s(gap, 14);
        @include s(margin-top, 48);
        @include padding(0, 24);
        p {
          text-transform: uppercase;
          @include descr-m;
        }
      }
    }
    .menu-block {
    }
  }
}
