mixin delivery()
    .delivery
        .delivery-inner.container.tabs-wrapper 
            h1 доставка и оплата
            .tabs 
                button.btn.tab.m.active(data-tab='0') Для юридических лиц
                button.btn.tab.m(data-tab='1') Для физических лиц
            .tab-content(data-tab='0')
                .delivey-card 
                    .image-wrapper 
                        img( src="./img/delivery/2.jpg", alt="payment" width='624' height='280')
                    .content 
                        h3 оплата
                        .text 
                            p Для выбора оплаты товара с помощью банковской карты на соответствующей странице необходимо нажать кнопку Оплата заказа банковской картой. Оплата происходит через ПАО СБЕРБАНК с использованием банковских карт следующих платёжных систем: МИР , VISA International , Mastercard Worldwide
                        .alert 
                            p.alert-text Внимание!
                            p.descr Отгрузка товаров осуществляется только после 100% предоплаты.
                .delivey-card 
                    .image-wrapper 
                        img( src="./img/delivery/1.jpg", alt="delivery" width='624' height='280')
                    .content 
                        h3 Доставка
                        .text 
                            p Собственный автопарк позволяет осуществлять еженедельную доставку продукции до клиентов более чем в 100 городов России и ближнего зарубежья. Мы также сотрудничаем с ведущими транспортными компаниями России.
                            p Доставка осуществляется из складского комплекса компании в Ростове-на-Дону. Что позволяет обеспечивать регулярные и полноценные отгрузки клиентам. Условия доставки Вы можете узнать у Вашего персонального менеджера.
                            p Рады видеть Вас в числе наших партнёров! О сроках, стоимости и способах доставки Вас подробно проконсультируют наши менеджеры.
            .tab-content(data-tab='1')
                .delivey-card 
                    .image-wrapper 
                        img( src="./img/delivery/1.jpg", alt="delivery" width='624' height='280')
                    .content 
                        h3 Доставка
                        .text 
                            p Собственный автопарк позволяет осуществлять еженедельную доставку продукции до клиентов более чем в 100 городов России и ближнего зарубежья. Мы также сотрудничаем с ведущими транспортными компаниями России.
                            p Доставка осуществляется из складского комплекса компании в Ростове-на-Дону. Что позволяет обеспечивать регулярные и полноценные отгрузки клиентам. Условия доставки Вы можете узнать у Вашего персонального менеджера.
                            p Рады видеть Вас в числе наших партнёров! О сроках, стоимости и способах доставки Вас подробно проконсультируют наши менеджеры.
                .delivey-card 
                    .image-wrapper 
                        img( src="./img/delivery/2.jpg", alt="payment" width='624' height='280')
                    .content 
                        h3 оплата
                        .text 
                            p Для выбора оплаты товара с помощью банковской карты на соответствующей странице необходимо нажать кнопку Оплата заказа банковской картой. Оплата происходит через ПАО СБЕРБАНК с использованием банковских карт следующих платёжных систем: МИР , VISA International , Mastercard Worldwide
                        .alert 
                            p.alert-text Внимание!
                            p.descr Отгрузка товаров осуществляется только после 100% предоплаты.
