// common components
include ../mixins/head.pug
include ../components/header/header.pug
include ../components/selector/selector.pug
include ../components/category-card/category-card.pug
include ../components/product-card/product-card.pug
include ../components/product-card/product-card-cart.pug
include ../components/product-card/product-card-opt.pug
include ../components/footer-alert/footer-alert.pug
include ../components/footer/footer.pug
include ../components/mobile-menu/mobile-menu.pug
include ../components/accordion-item/accordion-item.pug
include ../components/catalog-menu/catalog-menu.pug
include ../components/crumbs/crumbs.pug
include ../components/image-block/image-block.pug
include ../components/alert-block/alert-block.pug
include ../components/map/map.pug
include ../components/vacancy-card/vacancy-card.pug
include ../components/shop-contacts-card/shop-contacts-card.pug
include ../components/pagination/pagination.pug
include ../components/shop-card/shop-card.pug
include ../components/info-card/info-card.pug
include ../components/download-card/download-card.pug
include ../components/contacts-card/contacts-card.pug
include ../components/person-contacts-card/person-contacts-card.pug
include ../components/consultation-form/consultation-form.pug
include ../components/order-form/order-form.pug
include ../components/become-partner-card/become-partner-card.pug
include ../components/mobile-sidebar/mobile-sidebar.pug
include ../components/profile-retail-menu/profile-retail-menu.pug
include ../components/profile-wholesale-menu/profile-wholesale-menu.pug
include ../components/schedule-card/schedule-card.pug
include ../components/cart-item/cart-item.pug
include ../components/order-card/order-card.pug
include ../components/notification-card/notification-card.pug
include ../components/document-card/document-card.pug
include ../components/banner-download-card/banner-download-card.pug
include ../components/profile-menu/profile-menu.pug

// modals
include ../modals/charity-modal/charity-modal.pug
include ../modals/figure-modal/figure-modal.pug
include ../modals/history-modal/history-modal.pug
include ../modals/auth-modal/auth-modal.pug
include ../modals/recover-password-modal/recover-password-modal.pug
include ../modals/send-mail-modal/send-mail-modal.pug
include ../modals/add-address-modal/add-address-modal.pug
include ../modals/edit-address-modal/edit-address-modal.pug
include ../modals/add-legal-entities-modal/add-legal-entities-modal.pug
include ../modals/add-user-modal/add-user-modal.pug
include ../modals/add-delivery-address-modal/add-delivery-address-modal.pug
include ../modals/ask-manager-modal/ask-manager-modal.pug
include ../modals/special-offers-modal/special-offers-modal.pug
include ../modals/quiz-modal/quiz-modal.pug
include ../modals/add-shop-modal/add-shop-modal.pug
include ../modals/edit-shop-modal/edit-shop-modal.pug
include ../modals/success-modal/success-modal.pug
include ../modals/order-modal/order-modal.pug

// pages
include ../pages/home/home-hero/home-hero.pug
include ../pages/home/home-advards/home-advards.pug
include ../pages/home/home-categories/home-categories.pug
include ../pages/home/home-new-products/home-new-products.pug
include ../pages/home/home-popular/home-popular.pug
include ../pages/home/home-stocks/home-stocks.pug
include ../pages/home/home-collections/home-collections.pug
include ../pages/home/home-brands/home-brands.pug
include ../pages/home/home-ideas/home-ideas.pug
include ../pages/home/home-partners/home-partners.pug

include ../pages/about/about-hero/about-hero.pug
include ../pages/about/about-features/about-features.pug
include ../pages/about/about-info/about-info.pug
include ../pages/about/about-values/about-values.pug
include ../pages/about/about-figures/about-figures.pug
include ../pages/about/about-brands/about-brands.pug
include ../pages/about/about-groups/about-groups.pug
include ../pages/about/about-partner/about-partner.pug
include ../pages/about/about-geography/about-geography.pug
include ../pages/about/about-map/about-map.pug
include ../pages/about/about-charity/about-charity.pug
include ../pages/about/about-press/about-press.pug
include ../pages/about/about-gallery/about-gallery.pug
include ../pages/catalog/catalog.pug
include ../pages/catalog/catalog-opt.pug
include ../pages/catalog/catalog-sale.pug
include ../pages/catalog/catalog-favorite.pug
include ../pages/cart/cart.pug
include ../pages/catalog/recently-viewed/recently-viewed.pug
include ../pages/career/career-hero/career-hero.pug
include ../pages/career/career-features/career-features.pug
include ../pages/career/career-info/career-info.pug
include ../pages/career/career-about/career-about.pug
include ../pages/career/career-team/career-team.pug
include ../pages/career/career-vacancy/career-vacancy.pug
include ../pages/career/career-team-about/career-team-about.pug
include ../pages/career/career-stages/career-stages.pug
include ../pages/career/career-form/career-form.pug
include ../pages/career/career-adaptation/career-adaptation.pug
include ../pages/career/career-history/career-history.pug
include ../pages/career/career-work/career-work.pug
include ../pages/career/career-faq/career-faq.pug


include ../pages/buy-info/buy-info.pug

include ../pages/stock/stock.pug

include ../pages/collections/collections.pug

include ../pages/promotional/promotional.pug

include ../pages/press-center/press-center.pug

include ../pages/documents/documents.pug

include ../pages/contacts/contacts.pug
include ../pages/contacts/contacts-main/contacts-main.pug
include ../pages/contacts/contacts-sallers/contacts-sallers.pug
include ../pages/contacts/contacts-production/contacts-production.pug
include ../pages/contacts/contacts-other/contacts-other.pug
include ../pages/contacts/contacts-regions/contacts-regions.pug
include ../pages/contacts/contacts-distributors/contacts-distributors.pug

include ../pages/news/news.pug

include ../pages/refund/refund.pug

include ../pages/faq/faq.pug

include ../pages/how-buy/how-buy.pug

include ../pages/become-parter/become-parter.pug

include ../pages/delivery/delivery.pug

include ../pages/404/404.pug

include ../pages/policy/policy.pug

include ../pages/change-password/change-password.pug

include ../pages/register/register.pug

include ../pages/register-gartitude/register-gartitude.pug

include ../pages/register-gartitude-wholesale/register-gartitude-wholesale.pug

include ../pages/profile-retail/profile-retail.pug

include ../pages/support-retail/support-retail.pug

include ../pages/wholesale-office/wholesale-office.pug

include ../pages/wholesale-profile/wholesale-profile.pug

include ../pages/wholesale-organization/wholesale-organization.pug

include ../pages/wholesale-legal-entities/wholesale-legal-entities.pug

include ../pages/wholesale-addresses/wholesale-addresses.pug

include ../pages/wholesale-users/wholesale-users.pug

include ../pages/wholesale-orders/wholesale-orders.pug

include ../pages/wholesale-support/wholesale-support.pug

include ../pages/wholesale-notification/wholesale-notification.pug

include ../pages/wholesale-documents/wholesale-documents.pug

include ../pages/wholesale-special-offers/wholesale-special-offers.pug

include ../pages/wholesale-loyalty-program/wholesale-loyalty-program.pug

include ../pages/wholesale-knowledge-base/wholesale-knowledge-base.pug

include ../pages/wholesale-knowledge-base-inner/wholesale-knowledge-base-inner.pug

include ../pages/wholesale-knowledge-base-files/wholesale-knowledge-base-files.pug

include ../pages/wholesale-loyalty-program-about/wholesale-loyalty-program-about.pug

include ../pages/wholesale-marketing-materials/wholesale-marketing-materials.pug

include ../pages/wholesale-marketing-materials-inner/wholesale-marketing-materials-inner.pug

include ../pages/wholesale-marketing-materials-files/wholesale-marketing-materials-files.pug

include ../pages/wholesale-marketing-materials-banners/wholesale-marketing-materials-banners.pug

include ../pages/wholesale-shops/wholesale-shops.pug

include ../pages/wholesale-surveys/wholesale-surveys.pug

include ../pages/wholesale-loyalty-program-conditions/wholesale-loyalty-program-conditions.pug

include ../pages/wholesale-knowledge-base-article/wholesale-knowledge-base-article.pug


include ../pages/wholesale-product/wholesale-product-info/wholesale-product-info.pug
include ../pages/wholesale-product/wholesale-product-alert/wholesale-product-alert.pug
include ../pages/wholesale-product/wholesale-customer-product-watch/wholesale-customer-product-watch.pug
include ../pages/wholesale-product/wholesale-customer-product-addittional/wholesale-customer-product-addittional.pug

include ../pages/retail-customer-product/retail-customer-product-info/retail-customer-product-info.pug
include ../pages/retail-customer-product/retail-customer-product-addittional/retail-customer-product-addittional.pug
include ../pages/retail-customer-product/retail-customer-product-watch/retail-customer-product-watch.pug
include ../pages/retail-customer-product/fixed-order-form/fixed-order-form.pug

include ../pages/retail-customer-making-order/retail-customer-making-order.pug

include ../pages/wholesale-making-order/wholesale-making-order.pug

include ../pages/success-making-order/success-making-order.pug
include ../pages/success-making-order-register/success-making-order-register.pug