// common components
include ../mixins/head.pug
include ../components/header/header.pug
include ../components/selector/selector.pug
include ../components/category-card/category-card.pug
include ../components/product-card/product-card.pug
include ../components/footer-alert/footer-alert.pug
include ../components/footer/footer.pug
include ../components/mobile-menu/mobile-menu.pug
include ../components/accordion-item/accordion-item.pug
include ../components/catalog-menu/catalog-menu.pug
include ../components/crumbs/crumbs.pug
include ../components/image-block/image-block.pug
include ../components/alert-block/alert-block.pug
include ../components/map/map.pug
include ../components/vacancy-card/vacancy-card.pug
include ../components/shop-contacts-card/shop-contacts-card.pug
include ../components/pagination/pagination.pug
include ../components/shop-card/shop-card.pug
include ../components/info-card/info-card.pug
include ../components/download-card/download-card.pug
include ../components/contacts-card/contacts-card.pug
include ../components/person-contacts-card/person-contacts-card.pug


// pages
include ../pages/home/home-hero/home-hero.pug
include ../pages/home/home-advards/home-advards.pug
include ../pages/home/home-categories/home-categories.pug
include ../pages/home/home-new-products/home-new-products.pug
include ../pages/home/home-popular/home-popular.pug
include ../pages/home/home-stocks/home-stocks.pug
include ../pages/home/home-collections/home-collections.pug
include ../pages/home/home-brands/home-brands.pug
include ../pages/home/home-ideas/home-ideas.pug
include ../pages/home/home-partners/home-partners.pug

include ../pages/about/about-hero/about-hero.pug
include ../pages/about/about-features/about-features.pug
include ../pages/about/about-info/about-info.pug
include ../pages/about/about-values/about-values.pug
include ../pages/about/about-figures/about-figures.pug
include ../pages/about/about-brands/about-brands.pug
include ../pages/about/about-groups/about-groups.pug
include ../pages/about/about-partner/about-partner.pug
include ../pages/about/about-geography/about-geography.pug
include ../pages/about/about-map/about-map.pug
include ../pages/about/about-charity/about-charity.pug
include ../pages/about/about-press/about-press.pug
include ../pages/about/about-gallery/about-gallery.pug


include ../pages/career/career-hero/career-hero.pug
include ../pages/career/career-features/career-features.pug
include ../pages/career/career-info/career-info.pug
include ../pages/career/career-about/career-about.pug
include ../pages/career/career-team/career-team.pug
include ../pages/career/career-vacancy/career-vacancy.pug
include ../pages/career/career-team-about/career-team-about.pug
include ../pages/career/career-stages/career-stages.pug
include ../pages/career/career-form/career-form.pug
include ../pages/career/career-adaptation/career-adaptation.pug
include ../pages/career/career-history/career-history.pug
include ../pages/career/career-work/career-work.pug
include ../pages/career/career-faq/career-faq.pug


include ../pages/buy-info/buy-info.pug

include ../pages/stock/stock.pug

include ../pages/collections/collections.pug

include ../pages/promotional/promotional.pug

include ../pages/press-center/press-center.pug

include ../pages/documents/documents.pug

include ../pages/contacts/contacts.pug
include ../pages/contacts/contacts-main/contacts-main.pug
include ../pages/contacts/contacts-sallers/contacts-sallers.pug
include ../pages/contacts/contacts-production/contacts-production.pug
include ../pages/contacts/contacts-other/contacts-other.pug
include ../pages/contacts/contacts-regions/contacts-regions.pug
include ../pages/contacts/contacts-distributors/contacts-distributors.pug