mixin pagination()
    .pagination
        button.btn.circle.l.pagination-prev
            img(load='lazy' src="./img/icons/nav-prev.svg", alt="pagination-btn")
        .pagination-pages 
            button.circle.l.active 1
            button.circle.l 2
            button.circle.l 3
            button.circle.l 4
            button.circle.l 5
            .dots ...
            button.circle.l 186
        button.btn.circle.l.pagination-next
            img(load='lazy' src="./img/icons/nav-next.svg", alt="pagination-btn")

