mixin contacts-main()
    .contacts-main-wrapper
        .contacts-main
            .content 
                .address 
                    img(src="./img/icons/pin-violet.svg", alt="pin")
                    p 344082, г. Ростов-на-Дону, <br>пер. Халтуринский, 80 оф.1
                a(href="tel:+7 (863) 261-89-62").phone 
                    img(src="./img/icons/phone-violet.svg", alt="phone")
                    p +7 (863) 261-89-62
                a(href="mailto:secretary@phoenix-plus.ru ").mail
                    img(src="./img/icons/mail.svg", alt="mail")
                    p secretary@phoenix-plus.ru 
                .time 
                    img(src="./img/icons/clock-violet.svg", alt="clock")
                    p Время работы с 9.00 до 18.00
                .btns 
                    button.btn.outline.violet.s.call-btn
                        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5327 13.1822C9.2006 16.8501 12.0197 17.7708 15.3425 14.448C15.8625 13.914 16.3489 13.2393 15.6588 12.5494L12.9691 10.4926C12.1202 10.0358 11.7887 10.3607 11.3869 10.8089C9.9185 12.448 8.3343 11.904 7.27337 10.8089L5.69116 9.22672C4.59611 8.16568 4.05214 6.58131 5.69116 5.11318C6.1396 4.71142 6.46425 4.37978 6.00754 3.53098L3.95069 0.841257C3.26064 0.151205 2.58593 0.63757 2.05195 1.15763C-1.27069 4.48027 -0.350126 7.29937 3.31778 10.9674L5.5327 13.1822Z" fill="#343176"/>
                        </svg>
                        p заказ звонка
                    button.btn.outline.violet.s.feedback-btn 
                        p обратная связь
                .socials-wrapper 
                    p.title пишите нам
                    .socials    
                        a(href="#" target="_blank").tg
                            img(src="./img/icons/tg-white.svg", alt="tg")
                        a(href="#" target="_blank").wa
                            img(src="./img/icons/wa-white.svg", alt="wa")
                .requisites-wrapper
                    p.title Реквизиты
                    .requisites
                        p 
                            span ИНН 
                            | 6164092058
                        p 
                            span ИНН 
                            | 6164092058
                        p 
                            span КПП 
                            | 616401001
                        p 
                            span ОГРН 
                            | 1026103300783
                        p 
                            span ОКПО 
                            | 55519261
                        p 
                            span Р/с 
                            | 40702810100200001447 в ПАО КБ «Центр-инвест» г. Ростов-на-Дону
                        p 
                            span  К/с 
                            | 30101810100000000762
                        p 
                            span  БИК
                            | 046015762
            .map-wrapper 
                +map({center: '47.22164957425129,39.70285849999996', zoom: '17', pinImg: '../img/icons/pin.png', mainPin: '47.22164957425129,39.70285849999996'})
        .managers 
            p.title руководители
            .managers-list 
                .manager
                    .image-wrapper 
                        img(src="./img/about/figures/1.jpeg", alt="figure")
                    .content 
                        p.post Директор ООО «Феникс+»
                        p.name Вальдман <br>Дмитрий <br>Леонидович
                       
                .manager
                    .image-wrapper 
                        img(src="./img/about/figures/2.jpeg", alt="figure")
                    .content 
                        p.post Директор ООО «Феникс+»
                        p.name Вальдман <br>Дмитрий <br>Леонидович