@use "src/scss/common/files/mixins" as *;

.contacts-main-wrapper {
  .contacts-main {
    display: grid;
    @include gtc(318, 1fr);
    @include s(gap, 24);
    @media (max-width: $tab) {
      grid-template-columns: 1fr;
      @include s(gap, 28);
    }
    .content {
      .phone,
      .mail,
      .time,
      .address {
        display: grid;
        @include gtc(16, 1fr);
        @include s(gap, 16);
        img {
          @include s(margin-top, 5);
        }
        p {
          @include body-l;
          @media (max-width: $tab) {
            @include body-m;
          }
        }
      }
      .phone,
      .mail {
        p {
          color: var(--violet-color);
        }
      }
      .mail,
      .time,
      .phone {
        @include s(margin-top, 10);
      }
      .btns {
        @include s(margin-top, 28);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include s(gap, 10);
        .btn {
          @include s(gap, 12);
          justify-content: center;
          svg {
            @include s(width, 16);
            @include s(height, 16);
          }
        }
      }
      .title {
        text-transform: uppercase;
        @include descr-m;
      }
      .socials-wrapper {
        @include s(margin-top, 48);
        @media (max-width: $tab) {
          display: flex;
          justify-content: space-between;
          @include s(margin-top, 20);
          align-items: center;
        }
        .socials {
          display: flex;
          align-items: center;
          @include s(gap, 12);
          @include s(margin-top, 12);

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            @include s(width, 44);
            @include s(height, 44);
            @include borr(6);
            &.tg {
              background: #528df0;
              &:hover {
                background: #77aaff;
              }
            }
            &.wa {
              background: #50b550;
              &:hover {
                background: #56db56;
              }
            }
          }
        }
      }
      .requisites-wrapper {
        @include s(margin-top, 48);
        @media (max-width: $tab) {
          @include s(margin-top, 20);
        }
        .requisites {
          list-style: none;
          display: flex;
          flex-direction: column;
          @include s(gap, 8);
          @include s(margin-top, 12);
          p {
            @include body-xs;

            span {
              text-transform: uppercase;
              color: var(--gray-light-color);
              white-space: nowrap;
            }
          }
        }
      }
    }
    .map-wrapper {
      #map {
        @include s(height, 600);
        @media (max-width: $tab) {
          @include s(height, 320);
        }
      }
    }
  }
  .managers {
    @include s(margin-top, 80);
    .title {
      @include h2;
    }
    .managers-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include s(gap, 24);
      @include s(margin-top, 36);
      @media (max-width: $tab-sm) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    .manager {
      display: flex;
      @include s(gap, 24);
      transition: opacity var(--trs-cubic-300);

      .image-wrapper {
        @include s(width, 320);
        @include s(height, 320);
        @include borr(20);
        position: relative;
        overflow: hidden;
        @media (max-width: $tab) {
          @include s(width, 150);
          @include s(height, 150);
        }
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .content {
        @include s(width, 318);
        @include s(padding-top, 28);
        border-top: 1px solid var(--line-color);
        transition: var(--trs-cubic-300);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: $tab) {
          @include s(width, 150);
          @include s(padding-top, 20);
        }
        .post {
          @include descr-m;
          color: var(--gray-light-color);
          transition: var(--trs-cubic-300);
          @media (max-width: $tab) {
            @include descr-s;
          }
        }
        .name {
          @include s(margin-top, 20);
          @include h6;
          text-transform: uppercase;
          transition: var(--trs-cubic-300);
        }
      }
    }
  }
}
