@use "src/scss/common/files/mixins" as *;

.documents {
  @include s(margin-top, 28);
  @include s(padding-bottom, 156);
  @media (max-width: $tab-sm) {
    @include s(padding-bottom, 64);
    @include s(margin-top, 16);
  }
  .documents-inner {
    h1 {
      @include h1;
    }

    .documents-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @include s(gap, 24);
      @include s(margin-top, 28);
      @media (max-width: $tab-sm) {
        grid-template-columns: repeat(1, 1fr);
        @include s(gap, 12);
        @include s(margin-top, 20);
      }
    }
  }
}
