mixin documents()
    .documents
        .documents-inner.container 
            h1 нормативные документы
            .documents-list 
                +download-card({title: 'Перечень рекомендуемых мероприятий по улучшению условий труда 2018 (ООО Феникс)'})
                +download-card({title: 'Отчет о проведении СОУТ 2023 (ООО Феникс+)'})
                +download-card({title: 'Перечень рекомендуемых мероприятий по улучшению условий труда 2018 (ООО Феникс)'})
                +download-card({title: 'Перечень рекомендуемых мероприятий по улучшению условий труда 2018 (ООО Феникс)'})
                +download-card({title: 'Отчет о проведении СОУТ 2023 (ООО Феникс+)'})
                +download-card({title: 'Перечень рекомендуемых мероприятий по улучшению условий труда 2018 (ООО Феникс)'})
                +download-card({title: 'Перечень рекомендуемых мероприятий по улучшению условий труда 2018 (ООО Феникс)'})
                +download-card({title: 'Отчет о проведении СОУТ 2023 (ООО Феникс+)'})
                +download-card({title: 'Перечень рекомендуемых мероприятий по улучшению условий труда 2018 (ООО Феникс)'})
                +download-card({title: 'Перечень рекомендуемых мероприятий по улучшению условий труда 2018 (ООО Феникс)'})
                +download-card({title: 'Отчет о проведении СОУТ 2023 (ООО Феникс+)'})
                +download-card({title: 'Перечень рекомендуемых мероприятий по улучшению условий труда 2018 (ООО Феникс)'})