mixin ask-manager-modal()
    .ask-manager-modal.modal
        .modal-content-wrapper
            .close-modal-wrapper
                button.btn.close-modal 
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.05026 14.9497L14.9498 5.05025" stroke="#343176"/>
                        <path d="M14.9498 14.9497L5.05026 5.05025" stroke="#343176"/>
                    </svg>
            .modal-content
                form.form
                    p.title вопрос менеджеру
                    .manager 
                        .image-wrapper 
                            img( src="./img/contacts/person.jpg", alt="person")
                        .content 
                            p.name Александра Константинопольская
                            p.post Персональный менеджер
                            p.date
                                img( src="./img/icons/clock-dark.svg", alt="clock")
                                | ПН-ПТ с 8:00 до 20:00
                            a(href="tel:+78632618964").tel
                                img( src="./img/icons/phone-violet.svg", alt="phone")
                                | +7 (863) 261-89-64, доб.140  
                    textarea(placeholder="Ваш вопрос *")
                    .btn.outline.violet.m
                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.506836 7.5H14.5068" stroke="#333435"/>
                            <path d="M7.50684 14.5L7.50684 0.5" stroke="#333435"/>
                        </svg>
                        span прикрепить файл
                        input(type="file")
                    button.btn.primary.m.submit-btn
                        span отправить