mixin wholesale-product-alert()
    .wholesale-product-alert
        .wholesale-product-alert-inner.container 
            .content 
                p вы находитесь в 
                    span каталоге предзаказа
                img(src="./img/wholesale-product-alert/img.jpg", alt="catalog"  width='375' height='88')
