@use "src/scss/common/files/mixins" as *;

.document-card {
  display: grid;
  grid-template-areas: "checkbox title info comment";
  @include gtc(20, 270, 224, 1fr);
  @include s(gap, 24);
  @include padding(24, 0);
  border-top: 1px solid var(--line-color);
  align-items: flex-start;
  @media (max-width: $tab) {
    @include gtc(20, 1fr, 224);

    @include s(gap, 12);
    grid-template-areas: "checkbox title info" "comment comment comment";
  }
  @media (max-width: $tab-sm) {
    @include gtc(20, 1fr);
    @include s(gap, 12);
    grid-template-areas: "checkbox title" "checkbox info" "checkbox comment";
  }
  .custom-checkbox {
    grid-area: checkbox;
  }
  .title-wrapper {
    grid-area: title;
    display: flex;
    align-items: flex-start;
    @include s(gap, 16);
    @media (max-width: $tab-sm) {
      flex-direction: column;
      @include s(gap, 12);
    }
    img {
      @include s(width, 24);
      @include s(height, 24);
    }
    .title {
      @include body-mb;
    }
  }
  .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    @include s(gap, 24);
    grid-area: info;
    .company {
      display: flex;
      align-items: center;
      @include s(gap, 10);
      svg {
        @include s(width, 12);
        @include s(height, 12);
      }
      p {
        @include body-xs;
        color: var(--gray-light-color);
      }
    }
    .date {
      @include body-xs;
      color: var(--gray-light-color);
    }
  }

  .comment-wrapper {
    grid-area: comment;
    .comment {
      @include body-m;
    }
    .add-comment-btn {
      display: flex;
      align-items: center;
      @include s(gap, 15);
      svg {
        @include s(width, 14);
        @include s(height, 14);
      }
      p {
        color: var(--violet-color);
        @include body-m;
      }
    }
    .textarea-wrapper {
      textarea {
        @include s(height, 144);
        @include borr(6);
      }
      .btns {
        @include s(margin-top, 12);
        display: flex;
        align-items: center;
        @include s(gap, 12);
        @media (max-width: $tab-sm) {
          flex-direction: column;
        }
        .btn {
          width: fit-content;
          @include padding(0, 36);
          @include s(gap, 10);
          @media (max-width: $tab-sm) {
            width: 100%;
          }
          span {
            text-transform: uppercase;
            @include descr-m;
          }
        }
      }
    }
  }
}
