mixin home-hero() 
    .home-hero 
        .home-hero-swiper 
            .swiper-wrapper 
                .swiper-slide 
                    img(load='lazy' src="./img/home/hero/bg.jpg", alt="")
                .swiper-slide 
                    img(load='lazy' src="./img/home/hero/bg2.jpg", alt="")
                .swiper-slide 
                    img(load='lazy' src="./img/home/hero/bg.jpg", alt="")
                .swiper-slide 
                    img(load='lazy' src="./img/home/hero/bg2.jpg", alt="")
                .swiper-slide 
                    img(load='lazy' src="./img/home/hero/bg.jpg", alt="")
                .swiper-slide 
                    img(load='lazy' src="./img/home/hero/bg2.jpg", alt="")
                .swiper-slide 
                    img(load='lazy' src="./img/home/hero/bg.jpg", alt="")
                .swiper-slide 
                    img(load='lazy' src="./img/home/hero/bg.jpg", alt="")
                .swiper-slide 
                    img(load='lazy' src="./img/home/hero/bg2.jpg", alt="")
                .swiper-slide 
                    img(load='lazy' src="./img/home/hero/bg.jpg", alt="")
                .swiper-slide 
                    img(load='lazy' src="./img/home/hero/bg2.jpg", alt="")
                .swiper-slide 
                    img(load='lazy' src="./img/home/hero/bg.jpg", alt="")
                .swiper-slide 
                    img(load='lazy' src="./img/home/hero/bg2.jpg", alt="")
                .swiper-slide 
                    img(load='lazy' src="./img/home/hero/bg.jpg", alt="")
        .home-hero-inner.container 
            .home-hero-content-swiper 
                .swiper-wrapper 
                    .swiper-slide 
                        p.title яркие цвета символ детства
                        p.descr Наша компания создана в 2001 году для работы в новом направлении - производство и реализация бумажно-беловой продукции, школьного текстиля, товаров для школы и офиса.
                        a(href="#").btn.outline.l 
                            p подробнее
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                    .swiper-slide 
                        p.title яркие цвета символ детства 2
                        p.descr Наша компания создана в 2001 году для работы в новом направлении - производство и реализация бумажно-беловой продукции, школьного текстиля, товаров для школы и офиса.
                        a(href="#").btn.outline.l 
                            p подробнее
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                    .swiper-slide 
                        p.title яркие цвета символ детства 3
                        p.descr Наша компания создана в 2001 году для работы в новом направлении - производство и реализация бумажно-беловой продукции, школьного текстиля, товаров для школы и офиса.
                        a(href="#").btn.outline.l 
                            p подробнее
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                    .swiper-slide 
                        p.title яркие цвета символ детства 4
                        p.descr Наша компания создана в 2001 году для работы в новом направлении - производство и реализация бумажно-беловой продукции, школьного текстиля, товаров для школы и офиса.
                        a(href="#").btn.outline.l 
                            p подробнее
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                    .swiper-slide 
                        p.title яркие цвета символ детства 5
                        p.descr Наша компания создана в 2001 году для работы в новом направлении - производство и реализация бумажно-беловой продукции, школьного текстиля, товаров для школы и офиса.
                        a(href="#").btn.outline.l 
                            p подробнее
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                    .swiper-slide 
                        p.title яркие цвета символ детства 6
                        p.descr Наша компания создана в 2001 году для работы в новом направлении - производство и реализация бумажно-беловой продукции, школьного текстиля, товаров для школы и офиса.
                        a(href="#").btn.outline.l 
                            p подробнее
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                    .swiper-slide 
                        p.title яркие цвета символ детства 7
                        p.descr Наша компания создана в 2001 году для работы в новом направлении - производство и реализация бумажно-беловой продукции, школьного текстиля, товаров для школы и офиса.
                        a(href="#").btn.outline.l 
                            p подробнее
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                    .swiper-slide 
                        p.title яркие цвета символ детства
                        p.descr Наша компания создана в 2001 году для работы в новом направлении - производство и реализация бумажно-беловой продукции, школьного текстиля, товаров для школы и офиса.
                        a(href="#").btn.outline.l 
                            p подробнее
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                    .swiper-slide 
                        p.title яркие цвета символ детства 2
                        p.descr Наша компания создана в 2001 году для работы в новом направлении - производство и реализация бумажно-беловой продукции, школьного текстиля, товаров для школы и офиса.
                        a(href="#").btn.outline.l 
                            p подробнее
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                    .swiper-slide 
                        p.title яркие цвета символ детства 3
                        p.descr Наша компания создана в 2001 году для работы в новом направлении - производство и реализация бумажно-беловой продукции, школьного текстиля, товаров для школы и офиса.
                        a(href="#").btn.outline.l 
                            p подробнее
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                    .swiper-slide 
                        p.title яркие цвета символ детства 4
                        p.descr Наша компания создана в 2001 году для работы в новом направлении - производство и реализация бумажно-беловой продукции, школьного текстиля, товаров для школы и офиса.
                        a(href="#").btn.outline.l 
                            p подробнее
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                    .swiper-slide 
                        p.title яркие цвета символ детства 5
                        p.descr Наша компания создана в 2001 году для работы в новом направлении - производство и реализация бумажно-беловой продукции, школьного текстиля, товаров для школы и офиса.
                        a(href="#").btn.outline.l 
                            p подробнее
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                    .swiper-slide 
                        p.title яркие цвета символ детства 6
                        p.descr Наша компания создана в 2001 году для работы в новом направлении - производство и реализация бумажно-беловой продукции, школьного текстиля, товаров для школы и офиса.
                        a(href="#").btn.outline.l 
                            p подробнее
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                    .swiper-slide 
                        p.title яркие цвета символ детства 7
                        p.descr Наша компания создана в 2001 году для работы в новом направлении - производство и реализация бумажно-беловой продукции, школьного текстиля, товаров для школы и офиса.
                        a(href="#").btn.outline.l 
                            p подробнее
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
            .home-hero-bottom
                .left-block 
                    .pagination-wrapper.pagination-progress-wrapper 
                        p.current 01
                        .pagination-progress.home-hero-pagination  
                        p.total 
                    .home-hero-descr-swiper 
                        .swiper-wrapper 
                            p.swiper-slide творчество
                            p.swiper-slide творчество 2
                            p.swiper-slide творчество 3
                            p.swiper-slide творчество 4
                            p.swiper-slide творчество 5
                            p.swiper-slide творчество 6
                            p.swiper-slide творчество 7
                .right-block 
                    .navigation 
                        button.btn.circle.l.home-hero-prev
                            <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 13L1 7L9 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                        button.btn.circle.l.home-hero-next
                            <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L9 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>





