mixin retail-customer-product-info()
    .retail-customer-product-info
        .retail-customer-product-info-inner.container
            .content 
                .content-hero 
                    .retail-customer-product-swiper-wrapper
                        .retail-customer-product-swiper-thumbs 
                            .swiper-wrapper 
                                .swiper-slide 
                                    img(src="./img/retail-customer-product-info/img.png", alt="product")
                                .swiper-slide 
                                    img(src="./img/retail-customer-product-info/img.png", alt="product")
                                .swiper-slide 
                                    img(src="./img/retail-customer-product-info/img.png", alt="product")
                                .swiper-slide 
                                    img(src="./img/retail-customer-product-info/img.png", alt="product")
                                .swiper-slide 
                                    img(src="./img/retail-customer-product-info/img.png", alt="product")
                                .swiper-slide 
                                    img(src="./img/retail-customer-product-info/img.png", alt="product") 
                                .swiper-slide 
                                    img(src="./img/retail-customer-product-info/img.png", alt="product")
                                .swiper-slide 
                                    img(src="./img/retail-customer-product-info/img.png", alt="product")
                                .swiper-slide 
                                    img(src="./img/retail-customer-product-info/img.png", alt="product") 
                        .retail-customer-product-swiper 
                            .retail-customer-product-swiper-features
                                .badge.success новинка
                                button.video-btn 
                                    .icon 
                                        <svg width="24" height="19" viewBox="0 0 24 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.55009 1.22625C10.1778 0.924584 13.8222 0.924584 17.4499 1.22625L19.8868 1.42889C21.2442 1.54176 22.3546 2.62303 22.5789 4.05036C23.1404 7.62166 23.1404 11.2672 22.5789 14.8385C22.3546 16.2659 21.2442 17.3471 19.8868 17.46L17.4499 17.6626C13.8222 17.9643 10.1778 17.9643 6.55009 17.6626L4.1132 17.46C2.75585 17.3471 1.64543 16.2659 1.42105 14.8385C0.859649 11.2672 0.859649 7.62166 1.42105 4.05036C1.64543 2.62303 2.75585 1.54176 4.1132 1.42889L6.55009 1.22625ZM9.82485 12.2998V6.58909C9.82485 6.31953 10.1015 6.15304 10.319 6.29172L14.7964 9.14708C15.0076 9.28177 15.0076 9.60712 14.7964 9.74181L10.319 12.5972C10.1015 12.7359 9.82485 12.5694 9.82485 12.2998Z" stroke="#343176" stroke-linejoin="round"/>
                                        </svg>
                                    p видеообзор
                                button.btn.primary.m.another-btn
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_9576_29440)">
                                        <circle cx="8.22857" cy="8.22857" r="7.72857" stroke="white"/>
                                        <path d="M13.7148 13.7144L18.0006 18.0001" stroke="white"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_9576_29440">
                                        <rect width="18" height="18" fill="white"/>
                                        </clipPath>
                                        </defs>
                                    </svg>
                                    p аналоги
                            .swiper-wrapper 
                                .swiper-slide 
                                    .image-wrapper 
                                        img(src="./img/retail-customer-product-info/img.png", alt="product")
                                .swiper-slide 
                                    .image-wrapper 
                                        img(src="./img/retail-customer-product-info/img.png", alt="product")
                                .swiper-slide 
                                    .image-wrapper 
                                        img(src="./img/retail-customer-product-info/img.png", alt="product")
                                .swiper-slide 
                                    .image-wrapper 
                                        img(src="./img/retail-customer-product-info/img.png", alt="product")
                                .swiper-slide 
                                    .image-wrapper 
                                        img(src="./img/retail-customer-product-info/img.png", alt="product")
                                .swiper-slide 
                                    .image-wrapper 
                                        img(src="./img/retail-customer-product-info/img.png", alt="product")
                                .swiper-slide 
                                    .image-wrapper 
                                        img(src="./img/retail-customer-product-info/img.png", alt="product")
                                .swiper-slide 
                                    .image-wrapper 
                                        img(src="./img/retail-customer-product-info/img.png", alt="product")
                                .swiper-slide 
                                    .image-wrapper 
                                        img(src="./img/retail-customer-product-info/img.png", alt="product")
                        .retail-customer-product-pagination.pagination
                    .retail-customer-product-property 
                        h6 Ежедневник недатированный ESCALADA, формат А6+, 160 л., мягкий переплёт, искусственная кожа «Анаконда металлик»
                        ul 
                            li 
                                p.label Артикул
                                p.value 68012
                            li 
                                p.label Штрихкод
                                p.value 4606008612533
                            li 
                                p.label Формат
                                p.value А6+
                            li 
                                p.label Размер
                                p.value 126х174 мм
                            li 
                                p.label Количество листов
                                p.value 160
                            li 
                                p.label Тип обложки
                                p.value мягкий переплёт
                        .color-list-wrapper 
                            p.title дизайн
                            .color-list
                                label
                                    input(type="radio" name='color' checked)
                                    .color(style='background: rgba(220, 221, 225);')
                                        img(src="./img/retail-customer-product-info/check.svg", alt="check")
                                label
                                    input(type="radio" name='color')
                                    .color(style='background: rgba(241, 238, 231);')
                                        img(src="./img/retail-customer-product-info/check.svg", alt="check")
                                label
                                    input(type="radio" name='color')
                                    .color(style='background: rgba(247, 164, 172);')
                                        img(src="./img/retail-customer-product-info/check.svg", alt="check")
                .order-mobile 
                    .price-wrapper 
                        p.current-price 114 999 ₽
                        p.old-price 115 674 ₽
                    .price-info 
                        p.descr Розничная цена
                        a(href="#").btn
                            p Узнать оптовую цену
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.5" y="0.5" width="17" height="17" rx="8.5" stroke="#343176"/>
                                <path d="M8.26123 10.8516V10.25C8.26123 9.85254 8.31494 9.54818 8.42236 9.33691C8.53337 9.12565 8.68376 8.9502 8.87354 8.81055C9.06689 8.66732 9.28532 8.50798 9.52881 8.33252C9.83317 8.11051 10.0444 7.88493 10.1626 7.65576C10.2843 7.42301 10.3452 7.18848 10.3452 6.95215C10.3452 6.56901 10.2145 6.26823 9.95312 6.0498C9.69173 5.8278 9.33366 5.7168 8.87891 5.7168C8.38118 5.7168 7.99447 5.86182 7.71875 6.15186C7.44303 6.43831 7.30518 6.84115 7.30518 7.36035H6.34375C6.34375 6.85905 6.44938 6.4222 6.66064 6.0498C6.87191 5.67741 7.16732 5.38737 7.54688 5.17969C7.93001 4.97201 8.37402 4.86816 8.87891 4.86816C9.35156 4.86816 9.76693 4.95768 10.125 5.13672C10.4867 5.31217 10.7695 5.55745 10.9736 5.87256C11.1777 6.18408 11.2798 6.54395 11.2798 6.95215C11.2798 7.73275 10.8966 8.38802 10.1304 8.91797C9.89046 9.08268 9.70247 9.2277 9.56641 9.35303C9.43034 9.47477 9.33366 9.60905 9.27637 9.75586C9.22266 9.90267 9.1958 10.096 9.1958 10.3359V10.8516H8.26123ZM8.72852 13.0913C8.54232 13.0913 8.38298 13.0269 8.25049 12.8979C8.12158 12.7655 8.05713 12.6061 8.05713 12.4199C8.05713 12.2301 8.12158 12.0708 8.25049 11.9419C8.38298 11.813 8.54232 11.7485 8.72852 11.7485C8.91829 11.7485 9.07764 11.813 9.20654 11.9419C9.33545 12.0708 9.3999 12.2301 9.3999 12.4199C9.3999 12.6061 9.33545 12.7655 9.20654 12.8979C9.07764 13.0269 8.91829 13.0913 8.72852 13.0913Z" fill="#343176"/>
                            </svg>
                    .count.green Много
                    .cart-btn-wrapper 
                        .counter
                            button.btn.clear.dec
                                <svg width="15" height="1" viewBox="0 0 15 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.5 0.5H14.5" stroke="#333435"/>
                                </svg>
                            .current-count 1
                            button.btn.clear.inc 
                                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.506836 7.5H14.5068" stroke="#333435"/>
                                    <path d="M7.50684 14.5L7.50684 0.5" stroke="#333435"/>
                                </svg>
                        button.btn.primary.m.cart-btn 
                            p в корзину
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                .collections 
                    p.title товары в коллекции
                    .collections-list 
                        .image-wrapper 
                            img(src="./img/retail-customer-product-info/img.png", alt="product")
                        .image-wrapper 
                            img(src="./img/retail-customer-product-info/img.png", alt="product")
                        .image-wrapper 
                            img(src="./img/retail-customer-product-info/img.png", alt="product")
                        .image-wrapper 
                            img(src="./img/retail-customer-product-info/img.png", alt="product")
                        .image-wrapper 
                            img(src="./img/retail-customer-product-info/img.png", alt="product")
                        .image-wrapper 
                            img(src="./img/retail-customer-product-info/img.png", alt="product")
                        .image-wrapper 
                            img(src="./img/retail-customer-product-info/img.png", alt="product")
                .specifications.tabs-wrapper
                    .tabs 
                        button.btn.tab.m.active(data-tab='0') Технические характеристики
                        button.btn.tab.m(data-tab='1') Описание
                        button.btn.tab.m(data-tab='2') Сертификаты
                    .tab-content(data-tab='0')
                        .visible-content.list-content 
                            ul 
                                li 
                                    p.label Формат
                                    p.value А6+
                                li 
                                    p.label Размер
                                    p.value 126х174 мм
                                li 
                                    p.label Количество листов
                                    p.value 160
                                li 
                                    p.label Тип обложки
                                    p.value мягкий переплёт
                                li 
                                    p.label Способ скрепления блока
                                    p.value ниткошвейный
                            ul 
                                li 
                                    p.label Материал обложки
                                    p.value искусственная кожа
                                li 
                                    p.label Плотность бумаги
                                    p.value 70 г/м²
                                li 
                                    p.label Срок эксплуатации
                                    p.value 15 лет
                                li 
                                    p.label Страна
                                    p.value Китай
                                li 
                                    p.label Бренд
                                    p.value Escalada
                        .hidden-content.text-content
                            ul 
                                li 
                                    p.label Формат
                                    p.value А6+
                                li 
                                    p.label Размер
                                    p.value 126х174 мм
                                li 
                                    p.label Количество листов
                                    p.value 160
                                li 
                                    p.label Тип обложки
                                    p.value мягкий переплёт
                                li 
                                    p.label Способ скрепления блока
                                    p.value ниткошвейный
                            ul 
                                li 
                                    p.label Материал обложки
                                    p.value искусственная кожа
                                li 
                                    p.label Плотность бумаги
                                    p.value 70 г/м²
                                li 
                                    p.label Срок эксплуатации
                                    p.value 15 лет
                                li 
                                    p.label Страна
                                    p.value Китай
                                li 
                                    p.label Бренд
                                    p.value Escalada
                        button.btn.show-btn
                            <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L7 7L13 1" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                            p развернуть все
                    .tab-content(data-tab='1')
                        .visible-content.text-content 
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt nihil quam facilis architecto culpa iste officia modi nemo sapiente, aliquid nesciunt libero reiciendis beatae voluptatem excepturi, mollitia ut autem fuga suscipit eaque harum vero? Magni, neque dolore reiciendis asperiores quae officiis quas dicta eveniet suscipit iste ad, labore, culpa nemo.
                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi quaerat dicta nulla ratione non fugit eos ipsum recusandae. Accusamus, aliquid!
                        .hidden-content.text-content  
                           p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse laudantium voluptatem est nihil! Repellat minima soluta quas ea consequuntur iusto rerum cupiditate placeat accusantium! Ea voluptatem a commodi reprehenderit, consequuntur soluta eveniet inventore ut sequi incidunt quae repellendus veritatis. Beatae delectus molestiae iure id aut quaerat, dolores repudiandae veritatis ratione debitis praesentium aspernatur quam dolorem corporis repellendus perferendis odit vel aperiam placeat cupiditate. Ipsam, facere adipisci ut illum tenetur quaerat quibusdam animi magni a laborum dolore repellat ea sunt nulla voluptatibus expedita iusto beatae libero eius impedit minima rerum quo itaque? Commodi quidem quas, molestias culpa, corrupti debitis, amet autem error deserunt corporis nesciunt omnis necessitatibus ratione totam accusantium architecto. Quis voluptatum explicabo unde dolorum a. Veniam rerum obcaecati et ut, numquam illum soluta architecto sed maxime natus nobis neque facilis dolor perspiciatis hic? Voluptatem ea iure perferendis repellat culpa.
                           p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, doloribus.
                        button.btn.show-btn
                            <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L7 7L13 1" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                            p развернуть все
                    .tab-content(data-tab='2')
                        .visible-content.text-content  
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt nihil quam facilis architecto culpa iste officia modi nemo sapiente, aliquid nesciunt libero reiciendis beatae voluptatem excepturi, mollitia ut autem fuga suscipit eaque harum vero? Magni, neque dolore reiciendis asperiores quae officiis quas dicta eveniet suscipit iste ad, labore, culpa nemo.
                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi quaerat dicta nulla ratione non fugit eos ipsum recusandae. Accusamus, aliquid!
                        .hidden-content.text-content  
                           p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse laudantium voluptatem est nihil! Repellat minima soluta quas ea consequuntur iusto rerum cupiditate placeat accusantium! Ea voluptatem a commodi reprehenderit, consequuntur soluta eveniet inventore ut sequi incidunt quae repellendus veritatis. Beatae delectus molestiae iure id aut quaerat, dolores repudiandae veritatis ratione debitis praesentium aspernatur quam dolorem corporis repellendus perferendis odit vel aperiam placeat cupiditate. Ipsam, facere adipisci ut illum tenetur quaerat quibusdam animi magni a laborum dolore repellat ea sunt nulla voluptatibus expedita iusto beatae libero eius impedit minima rerum quo itaque? Commodi quidem quas, molestias culpa, corrupti debitis, amet autem error deserunt corporis nesciunt omnis necessitatibus ratione totam accusantium architecto. Quis voluptatum explicabo unde dolorum a. Veniam rerum obcaecati et ut, numquam illum soluta architecto sed maxime natus nobis neque facilis dolor perspiciatis hic? Voluptatem ea iure perferendis repellat culpa.
                           p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, doloribus.
                        button.btn.show-btn
                            <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L7 7L13 1" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                            p развернуть все
            .order-block 
                .sticky-block 
                    .features 
                        button 
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14 25.4666V1.99997" stroke="#333435" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M9.59844 25.4663L18.3984 25.4663" stroke="#333435" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M3 4.19997L25 4.19997" stroke="#333435" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M17.5046 14.207L21.5 5.22967L25.4954 14.2069C25.4512 14.6687 25.0906 15.2138 24.3836 15.6797C23.6457 16.1659 22.6169 16.5 21.5 16.5C20.3705 16.5 19.3421 16.1655 18.6081 15.6801C17.9056 15.2155 17.5483 14.6705 17.5046 14.207Z" stroke="#333435"/>
                                <path d="M2.50458 14.207L6.5 5.22967L10.4954 14.2069C10.4512 14.6687 10.0906 15.2138 9.38362 15.6797C8.64572 16.1659 7.61691 16.5 6.5 16.5C5.37047 16.5 4.34212 16.1655 3.60814 15.6801C2.90558 15.2155 2.54827 14.6705 2.50458 14.207Z" stroke="#333435"/>
                            </svg>
                        button 
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.73738 5.74745C1.41975 8.07668 1.422 11.8248 3.73738 14.1563L13.9938 24.488C17.4165 21.048 20.8395 17.6079 24.2618 14.1678C26.5794 11.8386 26.5794 8.08839 24.2618 5.75895C21.9441 3.4295 18.2126 3.42971 15.8952 5.75895L14.0055 7.65804L12.104 5.74693C9.78635 3.41769 6.05486 3.41769 3.73743 5.74693L3.73738 5.74745Z" stroke="#333435"/>
                            </svg>
                    form.order-form
                        p.price 4 382 ₽
                        p.descr Розничная цена
                        .count.orange мало
                        .counter 
                            button(type='button').btn.clear.dec
                                <svg width="15" height="1" viewBox="0 0 15 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.5 0.5H14.5" stroke="#333435"/>
                                </svg>
                            .current-count
                                input(type="text" value='1')
                            button(type='button').btn.clear.inc 
                                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.506836 7.5H14.5068" stroke="#333435"/>
                                    <path d="M7.50684 14.5L7.50684 0.5" stroke="#333435"/>
                                </svg>
                        button.btn.primary.m 
                            p в корзину
                        .total 
                            p.label Итого:
                            p.value 8 764 ₽
                    button.btn.outline.violet.m 
                        p узнать оптовую цену
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.5" y="0.5" width="17" height="17" rx="8.5" stroke="#A8A9B0"/>
                            <path d="M8.26123 10.8516V10.25C8.26123 9.85254 8.31494 9.54818 8.42236 9.33691C8.53337 9.12565 8.68376 8.9502 8.87354 8.81055C9.06689 8.66732 9.28532 8.50798 9.52881 8.33252C9.83317 8.11051 10.0444 7.88493 10.1626 7.65576C10.2843 7.42301 10.3452 7.18848 10.3452 6.95215C10.3452 6.56901 10.2145 6.26823 9.95312 6.0498C9.69173 5.8278 9.33366 5.7168 8.87891 5.7168C8.38118 5.7168 7.99447 5.86182 7.71875 6.15186C7.44303 6.43831 7.30518 6.84115 7.30518 7.36035H6.34375C6.34375 6.85905 6.44938 6.4222 6.66064 6.0498C6.87191 5.67741 7.16732 5.38737 7.54688 5.17969C7.93001 4.97201 8.37402 4.86816 8.87891 4.86816C9.35156 4.86816 9.76693 4.95768 10.125 5.13672C10.4867 5.31217 10.7695 5.55745 10.9736 5.87256C11.1777 6.18408 11.2798 6.54395 11.2798 6.95215C11.2798 7.73275 10.8966 8.38802 10.1304 8.91797C9.89046 9.08268 9.70247 9.2277 9.56641 9.35303C9.43034 9.47477 9.33366 9.60905 9.27637 9.75586C9.22266 9.90267 9.1958 10.096 9.1958 10.3359V10.8516H8.26123ZM8.72852 13.0913C8.54232 13.0913 8.38298 13.0269 8.25049 12.8979C8.12158 12.7655 8.05713 12.6061 8.05713 12.4199C8.05713 12.2301 8.12158 12.0708 8.25049 11.9419C8.38298 11.813 8.54232 11.7485 8.72852 11.7485C8.91829 11.7485 9.07764 11.813 9.20654 11.9419C9.33545 12.0708 9.3999 12.2301 9.3999 12.4199C9.3999 12.6061 9.33545 12.7655 9.20654 12.8979C9.07764 13.0269 8.91829 13.0913 8.72852 13.0913Z" fill="#A8A9B0"/>
                        </svg>
