@use "src/scss/common/files/mixins" as *;

.notification-card {
  @include padding(28);
  @include borr(12);
  background: var(--back-color);
  display: grid;
  @include gtc(164, 1fr);
  @include s(gap, 28);
  position: relative;
  &.no-check {
    &:before {
      content: "";
      @include s(width, 12);
      @include s(height, 12);
      @include s(top, 12);
      @include s(right, 12);
      border-radius: 999px;
      background: var(--green-color);
      position: absolute;
    }
  }
  .image-wrapper {
    @include s(width, 164);
    @include s(height, 93);
    @include borr(12);
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    .date {
      display: flex;
      align-items: center;
      @include s(gap, 10);
      text-transform: uppercase;
      @include descr-xs;
      img {
        @include s(width, 12);
        @include s(height, 12);
      }
    }
    .title {
      @include s(margin-top, 12);
      @include h6;
    }
    .descr {
      @include s(margin-top, 8);
      @include body-m;
    }
    .btn {
      @include s(margin-top, 24);
      @include s(height, 36);
      width: fit-content;
      @include s(gap, 12);
      @include padding(0, 16);
      p {
        text-transform: uppercase;
        @include descr-s;
      }
    }
  }
}
