mixin about-partner()
    .about-partner
        .about-partner-inner.container
            h3 Феникс+ — надежный партнер <br>для вашего бизнеса
            .content 
                .col 
                    .partner-item 
                        p.title Гарантия качества <br>и высокие стандарты
                        p.descr Наши товары соответствуют высоким стандартам качества, что обеспечивает их надежность и востребованность у покупателей.
                    .partner-item 
                        p.title Конкурентные цены <br>и гибкая политика
                        p.descr Мы предлагаем оптимальные цены и гибкие условия сотрудничества, чтобы поддерживать ваш бизнес в условиях рынка.
                .image-wrapper 
                    img( src="./img/about/partner/img.jpg", alt="partner" loading='lazy' width='660' height='550')
                .col 
                    .partner-item 
                        p.title Быстрая отгрузка <br>и надежная доставка
                        p.descr Мы ценим ваше время и гарантируем оперативную отгрузку и своевременную доставку, что позволяет вам минимизировать затраты на логистику.
                    .partner-item 
                        p.title Обновляемый ассортимент
                        p.descr Феникс+ регулярно пополняет ассортимент, включая актуальные позиции, которые помогают вам поддерживать стабильный поток продаж и привлекать новых клиентов.
            .double-swiper.partners-swiper 
                .swiper-wrapper 
                    .swiper-slide 
                        p.title Гарантия качества <br>и высокие стандарты
                        p.descr Наши товары соответствуют высоким стандартам качества, что обеспечивает их надежность и востребованность у покупателей.
                    .swiper-slide 
                        p.title Конкурентные цены <br>и гибкая политика
                        p.descr Мы предлагаем оптимальные цены и гибкие условия сотрудничества, чтобы поддерживать ваш бизнес в условиях рынка.
                    .swiper-slide 
                        p.title Быстрая отгрузка <br>и надежная доставка
                        p.descr Мы ценим ваше время и гарантируем оперативную отгрузку и своевременную доставку, что позволяет вам минимизировать затраты на логистику.
                    .swiper-slide 
                        p.title Обновляемый ассортимент
                        p.descr Феникс+ регулярно пополняет ассортимент, включая актуальные позиции, которые помогают вам поддерживать стабильный поток продаж и привлекать новых клиентов.
                .double-swiper-pagination-wrapper.pagination-progress-wrapper
                    p.current 01
                    .double-swiper-pagination.pagination-progress
                    p.total