@use "src/scss/common/files/mixins" as *;

.career-vacancy {
  @include s(margin-top, 80);

  .career-vacancy-inner {
    .tabs {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @include s(gap, 4);
    }
    .vacancy-list-wrapper {
      @include s(margin-top, 36);
      display: grid;
      @include gtc(1fr, 318);
      @include s(gap, 24);
      .vacancy-list {
        display: flex;
        flex-direction: column;
        @include s(gap, 24);
      }
      .hh-block {
        .sticky-block {
          @include padding(48, 48);
          @include borr(12);
          background: var(--pink-color);
          display: flex;
          flex-direction: column;
          align-items: center;
          @include s(gap, 28);
          img {
            @include s(width, 96);
            @include s(height, 96);
          }
          .btn {
            @include s(gap, 12);
            justify-content: center;
            @include padding(0, 22);

            p {
              @include descr-m;
              text-transform: uppercase;
            }
          }
        }
      }
    }
    .load-btn {
      @include s(gap, 12);
      justify-content: center;
      @include padding(0, 22);
      @include s(margin-top, 24);

      p {
        @include descr-m;
        text-transform: uppercase;
      }
    }
  }
}
