@use "src/scss/common/files/mixins" as *;

.career-vacancy {
  @include s(margin-top, 80);
  @media (max-width: $tab) {
    @include s(margin-top, 45);
  }
  .career-vacancy-inner {
    .tabs {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @include s(gap, 4);
      @media (max-width: $tab) {
        display: none;
      }
    }
    .tabs-selector {
      display: none;
      @media (max-width: $tab) {
        display: block;
      }
    }
    .vacancy-list-wrapper {
      @include s(margin-top, 36);
      display: grid;
      @include gtc(1fr, 318);
      @include s(gap, 24);
      @media (max-width: $tab) {
        grid-template-columns: 1fr;
        @include s(gap, 28);
        @include s(margin-top, 24);
      }
      .vacancy-list-content-wrapper {
        display: flex;
        flex-direction: column;
        @include s(gap, 24);
        .vacancy-list {
          display: flex;
          flex-direction: column;
          @include s(gap, 24);
          @media (max-width: $tab) {
            @include s(gap, 12);
          }
        }
        .load-btn {
          @include s(gap, 12);
          justify-content: center;
          @include padding(0, 22);
          width: fit-content;
          @media (max-width: $tab) {
            width: 100%;
            @include s(height, 48);
          }
          p {
            @include descr-m;
            text-transform: uppercase;
          }
        }
      }

      .hh-block {
        .sticky-block {
          @include padding(48);
          @include borr(12);
          background: var(--pink-color);
          display: flex;
          flex-direction: column;
          align-items: center;
          @include s(gap, 28);
          @media (max-width: $tab) {
            @include padding(28, 48);
            @include s(gap, 16);
          }
          img {
            @include s(width, 96);
            @include s(height, 96);
            @media (max-width: $tab) {
              @include s(width, 64);
              @include s(height, 64);
            }
          }
          .btn {
            @include s(gap, 12);
            justify-content: center;
            @include padding(0, 22);
            @media (max-width: $tab) {
              @include s(height, 48);
            }
            span {
              @include descr-m;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}
