@use "src/scss/common/files/mixins" as *;

.about-figures {
  @include s(margin-top, 116);
  overflow: hidden;
  @media (max-width: $tab) {
    @include s(margin-top, 64);
  }
  .about-figures-inner {
    h3 {
      @include h2;
    }
    .double-swiper {
      @include s(margin-top, 36);
      position: relative;
      @media (max-width: $tab) {
        @include s(margin-top, 28);
      }
      .swiper-slide {
        display: flex;
        @include s(gap, 24);
        opacity: 0;
        transition: opacity var(--trs-cubic-300);
        cursor: pointer;
        @media (max-width: $tab) {
          @include s(gap, 20);
        }
        &.visible-slide {
          opacity: 1;
        }
        &:hover {
          .content {
            border-color: var(--violet-color);
            .post {
              color: var(--gray-color);
            }
            .name {
              color: var(--violet-color);
            }
          }
        }
        .image-wrapper {
          @include s(width, 320);
          @include s(height, 320);
          @include borr(20);
          position: relative;
          overflow: hidden;
          @media (max-width: $tab) {
            @include s(max-width, 93);
            @include s(max-height, 93);
            @include s(min-width, 93);
            @include s(min-height, 93);
          }
          img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .content {
          @include s(width, 318);
          @include s(padding-top, 28);
          border-top: 1px solid var(--line-color);
          transition: var(--trs-cubic-300);
          @media (max-width: $tab) {
            border-top: none;
            width: 100%;
            @include s(padding-top, 0);
          }
          .post {
            @include descr-m;
            color: var(--gray-light-color);
            transition: var(--trs-cubic-300);
            @media (max-width: $tab) {
              @include descr-s;
            }
          }
          .name {
            @include s(margin-top, 20);
            @include h6;
            text-transform: uppercase;
            transition: var(--trs-cubic-300);
            @media (max-width: $tab) {
              @include s(margin-top, 6);
            }
          }
          .descr {
            @include s(margin-top, 16);
            @include body-m;
            @media (max-width: $tab) {
              @include s(margin-top, 10);
            }
          }
        }
      }
      .navigation {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        @include s(left, -23);
        @include s(right, -23);
        justify-content: space-between;
        z-index: 2;
      }
    }
  }
}
