mixin about-figures()
    .about-figures
        .about-figures-inner.container 
            h3 ключевые фигуры
            .double-swiper.about-figures-swiper 
                .swiper-wrapper 
                    .swiper-slide(data-modal-target='figure-modal') 
                        .image-wrapper 
                            img(load='lazy' src="./img/about/figures/1.jpeg", alt="figure")
                            img(load='lazy' src="./img/icons/shape1.svg", alt="shape").shape
                        .content 
                            p.post Учредитель ООО «Феникс+»
                            p.name Вальдман <br>Леонид <br>Ефимович
                            p.descr Описание, дальше текст для массы. Обеспечивает стратегическое развитие компании, делая акцент на качестве продукции и партнёрских отношениях. 
                    .swiper-slide(data-modal-target='figure-modal')  
                        .image-wrapper 
                            img(load='lazy' src="./img/about/figures/2.jpeg", alt="figure")
                            img(load='lazy' src="./img/icons/shape2.svg", alt="shape").shape
                        .content 
                            p.post Директор ООО «Феникс+»
                            p.name Вальдман <br>Дмитрий <br>Леонидович
                            p.descr Описание, дальше текст для массы. Обеспечивает стратегическое развитие компании, делая акцент на качестве продукции и партнёрских отношениях. 
                    .swiper-slide(data-modal-target='figure-modal')  
                        .image-wrapper 
                            img(load='lazy' src="./img/about/figures/1.jpeg", alt="figure")
                            img(load='lazy' src="./img/icons/shape1.svg", alt="shape").shape
                        .content 
                            p.post Учредитель ООО «Феникс+»
                            p.name Вальдман <br>Леонид <br>Ефимович
                            p.descr Описание, дальше текст для массы. Обеспечивает стратегическое развитие компании, делая акцент на качестве продукции и партнёрских отношениях. 
                    .swiper-slide(data-modal-target='figure-modal')  
                        .image-wrapper 
                            img(load='lazy' src="./img/about/figures/2.jpeg", alt="figure")
                            img(load='lazy' src="./img/icons/shape2.svg", alt="shape").shape
                        .content 
                            p.post Директор ООО «Феникс+»
                            p.name Вальдман <br>Дмитрий <br>Леонидович
                            p.descr Описание, дальше текст для массы. Обеспечивает стратегическое развитие компании, делая акцент на качестве продукции и партнёрских отношениях. 
                .navigation
                    button.btn.circle.l.double-swiper-prev
                        <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 13L1 7L9 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.circle.l.double-swiper-next
                        <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 13L9 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                .double-swiper-pagination-wrapper.pagination-progress-wrapper
                    p.current 01
                    .double-swiper-pagination.pagination-progress
                    p.total