@use "src/scss/common/files/mixins" as *;

.career-work {
  overflow: hidden;
  @include s(margin-top, 116);
  .career-work-inner {
    h3 {
      @include h2;
      text-align: center;
    }
    .career-work-swiper {
      @include s(margin-top, 36);
      position: relative;
      .navigation {
        position: absolute;
        @include s(top, 223);
        @include s(left, 252);
        @include s(right, 252);
        justify-content: space-between;
        z-index: 2;
      }
      .pagination {
        @include s(margin-top, 63);
      }
      .swiper-slide {
        .image-wrapper {
          height: auto;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .content {
          @include s(margin-top, 16);
          display: flex;
          flex-direction: column;
          align-items: center;
          .title {
            @include h5;
            text-transform: uppercase;
            text-align: center;
          }
          .descr {
            @include s(margin-top, 12);
            @include s(max-width, 626);
            text-align: center;
            @include body-l;
          }
        }
      }
    }
  }
}
