@use "src/scss/common/files/mixins" as *;

.career-work {
  overflow: hidden;
  @include s(margin-top, 116);
  @media (max-width: $tab-sm) {
    @include s(margin-top, 64);
  }
  .career-work-inner {
    h3 {
      @include h2;
      text-align: center;
      @media (max-width: $tab-sm) {
        text-align: left;
      }
    }
    .career-work-swiper {
      @include s(margin-top, 36);
      position: relative;
      @media (max-width: $tab-sm) {
        @include s(margin-top, 20);
      }
      .navigation {
        position: absolute;
        @include s(top, 223);
        @include s(left, 252);
        @include s(right, 252);
        justify-content: space-between;
        z-index: 2;
      }
      .pagination {
        @include s(margin-top, 63);
      }
      .swiper-slide {
        opacity: 0;
        transition: opacity var(--trs-cubic-300);
        &.visible-slide {
          opacity: 1;
        }
        .image-wrapper {
          height: auto;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .content {
          @include s(margin-top, 16);
          display: flex;
          flex-direction: column;
          align-items: center;
          @media (max-width: $tab-sm) {
            align-items: flex-start;
          }
          .title {
            @include h5;
            text-transform: uppercase;
            text-align: center;
            @media (max-width: $tab-sm) {
              text-align: left;
            }
          }
          .descr {
            @include s(margin-top, 12);
            @include s(max-width, 626);
            text-align: center;
            @include body-l;
            @media (max-width: $tab-sm) {
              text-align: left;
              @include s(margin-top, 8);
              @include body-m;
            }
          }
        }
      }
    }
  }
}
