mixin become-parter()
    .become-parter
        .become-parter-inner.container.tabs-wrapper  
            h1 Станьте нашим партнером
            .become-parter-inner-content 
                .tab-content-wrapper 
                    .tabs 
                        button.btn.tab.m.active(data-tab='0') Дизайнеры
                        button.btn.tab.m(data-tab='1') Маркетологи
                        button.btn.tab.m(data-tab='2') Поставщики бумаги
                        button.btn.tab.m(data-tab='3') Иллюстраторы
                        button.btn.tab.m(data-tab='4') Фабрики
                    .tab-content(data-tab='0')
                        +become-partner-card({img: './img/about/info/preview.jpg', title: 'Феникс+ — одна из ведущих компаний в сфере оптовой дистрибуции товаров для офиса, школы и творчества.', descr: 'Мы работаем по всей России и активно развиваем сотрудничество с представителями разных специализаций. Открытые для новых идей и решений, мы всегда рады расширять круг партнеров, это открывает новые возможности и горизонты.Феникс+ гордится сотрудничеством с талантливыми писателями, иллюстраторами, дизайнерами и другими творческими профессионалами, которые помогают нам создавать уникальную продукцию.'})
                        .become-partners-list-wrapper 
                            h3 Примеры творческих коллабораций
                            .list
                                +become-partner-card({title: 'Авторская серия ежедневников с иллюстрациями художника Марии Ивановой', descr: 'Совместно с Марией Ивановой мы разработали коллекцию ежедневников с уникальными обложками, которые отражают современные тренды и вдохновляют на творчество. Каждый дизайн стал хитом продаж среди студентов и профессионалов.', moreBtn: true})
                                +become-partner-card({img: './img/home/ideas/1.jpg',title: 'Дизайн школьных аксессуаров от студии «Детали»', descr: 'Для школьников мы создали коллекцию папок, тетрадей и рюкзаков с дизайном, разработанным креативной студией «Детали». Продукция стала популярной благодаря яркому и функциональному оформлению.', moreBtn: true})
                                +become-partner-card({img: './img/home/ideas/2.jpg',title: 'Открытки и книги с эксклюзивными текстами от писателя Андрея Смирнова', descr: 'В партнерстве с Андреем Смирновым мы выпустили серию открыток и подарочных книг с вдохновляющими текстами. Эта линейка нашла отклик у покупателей, ценящих внимание к деталям и эмоциональный посыл.', moreBtn: true})
                    .tab-content(data-tab='1')
                        +become-partner-card({img: './img/home/ideas/1.jpg', title: 'Феникс+ — одна из ведущих компаний в сфере оптовой дистрибуции товаров для офиса, школы и творчества.', descr: 'Мы работаем по всей России и активно развиваем сотрудничество с представителями разных специализаций. Открытые для новых идей и решений, мы всегда рады расширять круг партнеров, это открывает новые возможности и горизонты.Феникс+ гордится сотрудничеством с талантливыми писателями, иллюстраторами, дизайнерами и другими творческими профессионалами, которые помогают нам создавать уникальную продукцию.'})
                        .become-partners-list-wrapper 
                            h3 Примеры творческих коллабораций 2
                            .list
                                +become-partner-card({title: 'Авторская серия ежедневников с иллюстрациями художника Марии Ивановой', descr: 'Совместно с Марией Ивановой мы разработали коллекцию ежедневников с уникальными обложками, которые отражают современные тренды и вдохновляют на творчество. Каждый дизайн стал хитом продаж среди студентов и профессионалов.', moreBtn: true})
                                +become-partner-card({img: './img/home/ideas/1.jpg',title: 'Дизайн школьных аксессуаров от студии «Детали»', descr: 'Для школьников мы создали коллекцию папок, тетрадей и рюкзаков с дизайном, разработанным креативной студией «Детали». Продукция стала популярной благодаря яркому и функциональному оформлению.', moreBtn: true})
                                +become-partner-card({img: './img/home/ideas/2.jpg',title: 'Открытки и книги с эксклюзивными текстами от писателя Андрея Смирнова', descr: 'В партнерстве с Андреем Смирновым мы выпустили серию открыток и подарочных книг с вдохновляющими текстами. Эта линейка нашла отклик у покупателей, ценящих внимание к деталям и эмоциональный посыл.', moreBtn: true})
                    .tab-content(data-tab='2')
                        +become-partner-card({img: './img/home/ideas/2.jpg', title: 'Феникс+ — одна из ведущих компаний в сфере оптовой дистрибуции товаров для офиса, школы и творчества.', descr: 'Мы работаем по всей России и активно развиваем сотрудничество с представителями разных специализаций. Открытые для новых идей и решений, мы всегда рады расширять круг партнеров, это открывает новые возможности и горизонты.Феникс+ гордится сотрудничеством с талантливыми писателями, иллюстраторами, дизайнерами и другими творческими профессионалами, которые помогают нам создавать уникальную продукцию.'})
                        .become-partners-list-wrapper 
                            h3 Примеры творческих коллабораций 3
                            .list
                                +become-partner-card({title: 'Авторская серия ежедневников с иллюстрациями художника Марии Ивановой', descr: 'Совместно с Марией Ивановой мы разработали коллекцию ежедневников с уникальными обложками, которые отражают современные тренды и вдохновляют на творчество. Каждый дизайн стал хитом продаж среди студентов и профессионалов.', moreBtn: true})
                                +become-partner-card({img: './img/home/ideas/1.jpg',title: 'Дизайн школьных аксессуаров от студии «Детали»', descr: 'Для школьников мы создали коллекцию папок, тетрадей и рюкзаков с дизайном, разработанным креативной студией «Детали». Продукция стала популярной благодаря яркому и функциональному оформлению.', moreBtn: true})
                                +become-partner-card({img: './img/home/ideas/2.jpg',title: 'Открытки и книги с эксклюзивными текстами от писателя Андрея Смирнова', descr: 'В партнерстве с Андреем Смирновым мы выпустили серию открыток и подарочных книг с вдохновляющими текстами. Эта линейка нашла отклик у покупателей, ценящих внимание к деталям и эмоциональный посыл.', moreBtn: true})
                    .tab-content(data-tab='3')
                        +become-partner-card({img: './img/home/ideas/3.jpg', title: 'Феникс+ — одна из ведущих компаний в сфере оптовой дистрибуции товаров для офиса, школы и творчества.', descr: 'Мы работаем по всей России и активно развиваем сотрудничество с представителями разных специализаций. Открытые для новых идей и решений, мы всегда рады расширять круг партнеров, это открывает новые возможности и горизонты.Феникс+ гордится сотрудничеством с талантливыми писателями, иллюстраторами, дизайнерами и другими творческими профессионалами, которые помогают нам создавать уникальную продукцию.'})
                        .become-partners-list-wrapper 
                            h3 Примеры творческих коллабораций 4
                            .list
                                +become-partner-card({title: 'Авторская серия ежедневников с иллюстрациями художника Марии Ивановой', descr: 'Совместно с Марией Ивановой мы разработали коллекцию ежедневников с уникальными обложками, которые отражают современные тренды и вдохновляют на творчество. Каждый дизайн стал хитом продаж среди студентов и профессионалов.', moreBtn: true})
                                +become-partner-card({img: './img/home/ideas/1.jpg',title: 'Дизайн школьных аксессуаров от студии «Детали»', descr: 'Для школьников мы создали коллекцию папок, тетрадей и рюкзаков с дизайном, разработанным креативной студией «Детали». Продукция стала популярной благодаря яркому и функциональному оформлению.', moreBtn: true})
                                +become-partner-card({img: './img/home/ideas/2.jpg',title: 'Открытки и книги с эксклюзивными текстами от писателя Андрея Смирнова', descr: 'В партнерстве с Андреем Смирновым мы выпустили серию открыток и подарочных книг с вдохновляющими текстами. Эта линейка нашла отклик у покупателей, ценящих внимание к деталям и эмоциональный посыл.', moreBtn: true})
                    .tab-content(data-tab='4')
                        +become-partner-card({img: './img/home/ideas/4.jpg', title: 'Феникс+ — одна из ведущих компаний в сфере оптовой дистрибуции товаров для офиса, школы и творчества.', descr: 'Мы работаем по всей России и активно развиваем сотрудничество с представителями разных специализаций. Открытые для новых идей и решений, мы всегда рады расширять круг партнеров, это открывает новые возможности и горизонты.Феникс+ гордится сотрудничеством с талантливыми писателями, иллюстраторами, дизайнерами и другими творческими профессионалами, которые помогают нам создавать уникальную продукцию.'})
                        .become-partners-list-wrapper 
                            h3 Примеры творческих коллабораций 5
                            .list
                                +become-partner-card({title: 'Авторская серия ежедневников с иллюстрациями художника Марии Ивановой', descr: 'Совместно с Марией Ивановой мы разработали коллекцию ежедневников с уникальными обложками, которые отражают современные тренды и вдохновляют на творчество. Каждый дизайн стал хитом продаж среди студентов и профессионалов.', moreBtn: true})
                                +become-partner-card({img: './img/home/ideas/1.jpg',title: 'Дизайн школьных аксессуаров от студии «Детали»', descr: 'Для школьников мы создали коллекцию папок, тетрадей и рюкзаков с дизайном, разработанным креативной студией «Детали». Продукция стала популярной благодаря яркому и функциональному оформлению.', moreBtn: true})
                                +become-partner-card({img: './img/home/ideas/2.jpg',title: 'Открытки и книги с эксклюзивными текстами от писателя Андрея Смирнова', descr: 'В партнерстве с Андреем Смирновым мы выпустили серию открыток и подарочных книг с вдохновляющими текстами. Эта линейка нашла отклик у покупателей, ценящих внимание к деталям и эмоциональный посыл.', moreBtn: true})
                .form-block 
                    .sticky-block
                        h4 У вас есть предложение?
                        .form-info
                            p.descr Свяжитесь с нами любым удобным способом, и мы обсудим возможности сотрудничества. Мы внимательно рассмотрим ваше предложение и свяжемся с вами в ближайшее время.
                            .btns 
                                .btn-wrapper
                                    a(href="tel:+78632618962").btn.outline.violet.l
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_7956_74267)">
                                            <path d="M5.84111 12.0969C9.05052 15.3063 11.5172 16.1119 14.4247 13.2045C14.8797 12.7373 15.3053 12.1469 14.7015 11.5432L12.348 9.74348C11.6052 9.34387 11.3151 9.62808 10.9635 10.0203C9.67869 11.4545 8.29251 10.9785 7.3642 10.0203L5.97977 8.63588C5.0216 7.70747 4.54562 6.32115 5.97977 5.03654C6.37215 4.68499 6.65621 4.39481 6.2566 3.65211L4.45685 1.2986C3.85306 0.694804 3.26269 1.12037 2.79546 1.57543C-0.111852 4.48274 0.69364 6.94945 3.90305 10.159L5.84111 12.0969Z" stroke="#343176"/>
                                            </g>
                                            <defs>
                                            <clipPath id="clip0_7956_74267">
                                            <rect width="16" height="16" fill="white"/>
                                            </clipPath>
                                            </defs>
                                        </svg>
                                        p 8 800 000 00 00
                                    .socials    
                                        a(href="#" target="_blank").tg
                                            img( src="./img/icons/tg-white.svg", alt="tg")
                                        a(href="#" target="_blank").wa
                                            img( src="./img/icons/wa-white.svg", alt="wa")
                                .btn-wrapper
                                    a(href="mailto:pochta@pheniks.ru").btn.outline.violet.l
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_7956_68683)">
                                            <path d="M0.5 15.5V4.30902L8 0.559017L15.5 4.30902V15.5H0.5Z" stroke="#343176"/>
                                            <path d="M3 6.5L8 9.5L13 6.5" stroke="#343176"/>
                                            </g>
                                            <defs>
                                            <clipPath id="clip0_7956_68683">
                                            <rect width="16" height="16" fill="white"/>
                                            </clipPath>
                                            </defs>
                                        </svg>
                                        p pochta@pheniks.ru
                        +order-form()