mixin policy()
    .policy-page
        .policy-inner.container
            .policy-content
                h1 политика конфиденциаль&shy;ности
                .policy-info 
                    p.date
                        img(load='lazy' src="./img/icons/clock.svg", alt="clock")
                        | « 01» Марта 2018 г.
                    p.address
                        img(load='lazy' src="./img/icons/pin.svg", alt="pin")
                        | г. Ростов-на-Дону
                p.descr Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) представляет собой правила использования ООО «Феникс+» персональной информации Пользователя и действует в отношении всей информации, которую ООО «Феникс+» может получить о Пользователе во время использования им Интернет-магазина ООО «Феникс+», расположенного на доменном имени www.phoenix-plus.ru, а также, во время использования Пользователем программ и продуктов данного Интернет-магазина.
                .policy-text 
                    .text-wrapper 
                        h5 1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
                        ol 
                            li
                                span 1.1
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li
                                span 1.2
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li
                                span 1.3
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li
                                span 1.4
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li
                                span 1.5
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li
                                span 1.6
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                    .text-wrapper 
                        h5 2. ОБЩИЕ ПОЛОЖЕНИЯ
                        ol 
                            li
                                span 2.1
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li
                                span 2.2
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li
                                span 2.3
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                    .text-wrapper 
                        h5 1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
                        ol 
                            li
                                span 1.1
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li
                                span 1.2
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li
                                span 1.3
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li
                                span 1.4
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li
                                span 1.5
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li
                                span 1.6
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                    .text-wrapper 
                        h5 2. ОБЩИЕ ПОЛОЖЕНИЯ
                        ol 
                            li
                                span 2.1
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li
                                span 2.2
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li
                                span 2.3
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                    .text-wrapper 
                        h5 1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
                        ol 
                            li
                                span 1.1
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li
                                span 1.2
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li
                                span 1.3
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li
                                span 1.4
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li
                                span 1.5
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li
                                span 1.6
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                    .text-wrapper 
                        h5 2. ОБЩИЕ ПОЛОЖЕНИЯ
                        ol 
                            li
                                span 2.1
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li
                                span 2.2
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li
                                span 2.3
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                    .text-wrapper 
                        h5 1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
                        ol 
                            li
                                span 1.1
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li
                                span 1.2
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li
                                span 1.3
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li
                                span 1.4
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li
                                span 1.5
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li
                                span 1.6
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                    .text-wrapper 
                        h5 2. ОБЩИЕ ПОЛОЖЕНИЯ
                        ol 
                            li
                                span 2.1
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li
                                span 2.2
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li
                                span 2.3
                                p Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
            .image-block 
                .sticky-block 
                    .image-wrapper 
                        img(load='lazy' src="./img/policy/img.jpg", alt="policy")
