mixin figure-modal()
    .figure-modal.modal
        .modal-content-wrapper
            .close-modal-wrapper
                button.btn.close-modal 
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.05026 14.9497L14.9498 5.05025" stroke="#343176"/>
                        <path d="M14.9498 14.9497L5.05026 5.05025" stroke="#343176"/>
                    </svg>
            .modal-content 
                .image-block-wrapper
                    .sticky-block
                        .image-wrapper 
                            img( src="./img/about/figures/1.jpeg", alt="figure" loading='lazy' width='318' height='394')
                            img( src="./img/icons/shape1.svg", alt="shape" loading='lazy' width='318' height='394').shape
                        p.post руководитель проектов
                .content-wrapper
                    h3 Вальдман Леонид Ефимович
                    p.subtitle Я всегда стремился развиваться и брал на себя больше, чем требовала должность», — <br>рассказывает Алексей, руководитель компании Феникс+. 
                    .content
                        .text 
                            p Я работаю в Феникс+ с 2003 года, и вот уже 20 лет компания остается моим единственным работодателем. Начинал я с позиции помощника менеджера по продажам, и даже на такую стартовую должность требовалось пройти тщательный отбор. Попасть в компанию тогда было непросто, несмотря на мой диплом экономиста с отличием.
                            p По образованию я финансист, но уже тогда знал, что работа в коммерции — это сфера, где я смогу добиться успеха. Феникс+ привлек меня своей динамичностью и возможностями для роста. Помощник менеджера — начальная позиция, на которую я мог устроиться, чтобы начать путь в компании. Первые месяцы я активно обучался, знакомился с продуктами, учился общению с клиентами и продажам. Моя первая запись в трудовой книжке — помощник менеджера по продажам в Феникс+.
                        .text 
                            p Я работаю в Феникс+ с 2003 года, и вот уже 20 лет компания остается моим единственным работодателем. Начинал я с позиции помощника менеджера по продажам, и даже на такую стартовую должность требовалось пройти тщательный отбор. Попасть в компанию тогда было непросто, несмотря на мой диплом экономиста с отличием.
                            p По образованию я финансист, но уже тогда знал, что работа в коммерции — это сфера, где я смогу добиться успеха. Феникс+ привлек меня своей динамичностью и возможностями для роста. Помощник менеджера — начальная позиция, на которую я мог устроиться, чтобы начать путь в компании. Первые месяцы я активно обучался, знакомился с продуктами, учился общению с клиентами и продажам. Моя первая запись в трудовой книжке — помощник менеджера по продажам в Феникс+.