mixin comparison-fixed()
    .comparison-fixed
        .comparison-fixed-inner.container
            .comparison-fixed-swiper 
                .swiper-wrapper 
                    .swiper-slide 
                        .image-wrapper 
                            img(src="./img/products/1.jpg", alt="product")
                            button.remove-btn 
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7M7 7L1 1M7 7L13 13M7 7L13 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                        p.art Арт 68012 
                        .price 
                            p.current-price 582 ₽
                            p.old-price 150 ₽
                       
                        button.btn.primary.to-cart-btn 
                            span в корзину
                        .features
                            button.remove-mob-btn
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7M7 7L1 1M7 7L13 13M7 7L13 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                            button.favor-btn
                                <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.3568 2.36466C0.546857 4.18366 0.548613 7.11073 2.3568 8.93152L10.3665 17C13.0394 14.3135 15.7126 11.627 18.3852 8.9405C20.1951 7.1215 20.1951 4.1928 18.3852 2.37364C16.5752 0.554475 13.6612 0.554638 11.8514 2.37364L10.3756 3.85672L8.89064 2.36425C7.0807 0.54525 4.16661 0.54525 2.35684 2.36425L2.3568 2.36466Z" stroke="#333435"/>
                                </svg>
                    .swiper-slide 
                        .image-wrapper 
                            img(src="./img/products/1.jpg", alt="product")
                            button.remove-btn 
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7M7 7L1 1M7 7L13 13M7 7L13 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                        p.art Арт 68012 
                        .price 
                            p.current-price 582 ₽
                            p.old-price 150 ₽
                        button.btn.primary.to-cart-btn 
                            span в корзину
                        .features
                            button.remove-mob-btn
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7M7 7L1 1M7 7L13 13M7 7L13 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                            button.favor-btn
                                <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.3568 2.36466C0.546857 4.18366 0.548613 7.11073 2.3568 8.93152L10.3665 17C13.0394 14.3135 15.7126 11.627 18.3852 8.9405C20.1951 7.1215 20.1951 4.1928 18.3852 2.37364C16.5752 0.554475 13.6612 0.554638 11.8514 2.37364L10.3756 3.85672L8.89064 2.36425C7.0807 0.54525 4.16661 0.54525 2.35684 2.36425L2.3568 2.36466Z" stroke="#333435"/>
                                </svg>
                    .swiper-slide 
                        .image-wrapper 
                            img(src="./img/products/1.jpg", alt="product")
                            button.remove-btn 
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7M7 7L1 1M7 7L13 13M7 7L13 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                        p.art Арт 68012 
                        .price 
                            p.current-price 582 ₽
                            p.old-price 150 ₽
                        button.btn.primary.to-cart-btn 
                            span в корзину
                        .features
                            button.remove-mob-btn
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7M7 7L1 1M7 7L13 13M7 7L13 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                            button.favor-btn
                                <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.3568 2.36466C0.546857 4.18366 0.548613 7.11073 2.3568 8.93152L10.3665 17C13.0394 14.3135 15.7126 11.627 18.3852 8.9405C20.1951 7.1215 20.1951 4.1928 18.3852 2.37364C16.5752 0.554475 13.6612 0.554638 11.8514 2.37364L10.3756 3.85672L8.89064 2.36425C7.0807 0.54525 4.16661 0.54525 2.35684 2.36425L2.3568 2.36466Z" stroke="#333435"/>
                                </svg>
                    .swiper-slide 
                        .image-wrapper 
                            img(src="./img/products/1.jpg", alt="product")
                            button.remove-btn 
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7M7 7L1 1M7 7L13 13M7 7L13 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                        p.art Арт 68012 
                        .price 
                            p.current-price 582 ₽
                            p.old-price 150 ₽
                        button.btn.primary.to-cart-btn 
                            span в корзину
                        .features
                            button.remove-mob-btn
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7M7 7L1 1M7 7L13 13M7 7L13 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                            button.favor-btn
                                <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.3568 2.36466C0.546857 4.18366 0.548613 7.11073 2.3568 8.93152L10.3665 17C13.0394 14.3135 15.7126 11.627 18.3852 8.9405C20.1951 7.1215 20.1951 4.1928 18.3852 2.37364C16.5752 0.554475 13.6612 0.554638 11.8514 2.37364L10.3756 3.85672L8.89064 2.36425C7.0807 0.54525 4.16661 0.54525 2.35684 2.36425L2.3568 2.36466Z" stroke="#333435"/>
                                </svg>
                    .swiper-slide 
                        .image-wrapper 
                            img(src="./img/products/1.jpg", alt="product")
                            button.remove-btn 
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7M7 7L1 1M7 7L13 13M7 7L13 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                        p.art Арт 68012 
                        .price 
                            p.current-price 582 ₽
                            p.old-price 150 ₽
                        button.btn.primary.to-cart-btn 
                            span в корзину
                        .features
                            button.remove-mob-btn
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7M7 7L1 1M7 7L13 13M7 7L13 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                            button.favor-btn
                                <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.3568 2.36466C0.546857 4.18366 0.548613 7.11073 2.3568 8.93152L10.3665 17C13.0394 14.3135 15.7126 11.627 18.3852 8.9405C20.1951 7.1215 20.1951 4.1928 18.3852 2.37364C16.5752 0.554475 13.6612 0.554638 11.8514 2.37364L10.3756 3.85672L8.89064 2.36425C7.0807 0.54525 4.16661 0.54525 2.35684 2.36425L2.3568 2.36466Z" stroke="#333435"/>
                                </svg>
                    .swiper-slide 
                        .image-wrapper 
                            img(src="./img/products/1.jpg", alt="product")
                            button.remove-btn 
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7M7 7L1 1M7 7L13 13M7 7L13 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                        p.art Арт 68012 
                        .price 
                            p.current-price 582 ₽
                            p.old-price 150 ₽
                        button.btn.primary.to-cart-btn 
                            span в корзину
                        .features
                            button.remove-mob-btn
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7M7 7L1 1M7 7L13 13M7 7L13 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                            button.favor-btn
                                <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.3568 2.36466C0.546857 4.18366 0.548613 7.11073 2.3568 8.93152L10.3665 17C13.0394 14.3135 15.7126 11.627 18.3852 8.9405C20.1951 7.1215 20.1951 4.1928 18.3852 2.37364C16.5752 0.554475 13.6612 0.554638 11.8514 2.37364L10.3756 3.85672L8.89064 2.36425C7.0807 0.54525 4.16661 0.54525 2.35684 2.36425L2.3568 2.36466Z" stroke="#333435"/>
                                </svg>
                    .swiper-slide 
                        .image-wrapper 
                            img(src="./img/products/1.jpg", alt="product")
                            button.remove-btn 
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7M7 7L1 1M7 7L13 13M7 7L13 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                        p.art Арт 68012 
                        .price 
                            p.current-price 582 ₽
                            p.old-price 150 ₽
                        button.btn.primary.to-cart-btn 
                            span в корзину
                        .features
                            button.remove-mob-btn
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7M7 7L1 1M7 7L13 13M7 7L13 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                            button.favor-btn
                                <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.3568 2.36466C0.546857 4.18366 0.548613 7.11073 2.3568 8.93152L10.3665 17C13.0394 14.3135 15.7126 11.627 18.3852 8.9405C20.1951 7.1215 20.1951 4.1928 18.3852 2.37364C16.5752 0.554475 13.6612 0.554638 11.8514 2.37364L10.3756 3.85672L8.89064 2.36425C7.0807 0.54525 4.16661 0.54525 2.35684 2.36425L2.3568 2.36466Z" stroke="#333435"/>
                                </svg>
                    .swiper-slide 
                        .image-wrapper 
                            img(src="./img/products/1.jpg", alt="product")
                            button.remove-btn 
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7M7 7L1 1M7 7L13 13M7 7L13 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                        p.art Арт 68012 
                        .price 
                            p.current-price 582 ₽
                            p.old-price 150 ₽
                        button.btn.primary.to-cart-btn 
                            span в корзину
                        .features
                            button.remove-mob-btn
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7M7 7L1 1M7 7L13 13M7 7L13 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                            button.favor-btn
                                <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.3568 2.36466C0.546857 4.18366 0.548613 7.11073 2.3568 8.93152L10.3665 17C13.0394 14.3135 15.7126 11.627 18.3852 8.9405C20.1951 7.1215 20.1951 4.1928 18.3852 2.37364C16.5752 0.554475 13.6612 0.554638 11.8514 2.37364L10.3756 3.85672L8.89064 2.36425C7.0807 0.54525 4.16661 0.54525 2.35684 2.36425L2.3568 2.36466Z" stroke="#333435"/>
                                </svg>
                .navigation 
                    button.btn.circle.l.comparison-fixed-prev
                        <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 13L1 7L9 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.circle.l.comparison-fixed-next
                        <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 13L9 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>  