mixin wholesale-knowledge-base-article()
    .wholesale-knowledge-base-article
        .wholesale-knowledge-base-article-inner.container
            .content 
                .top 
                    h1 название скрипта
                    a(href="#").btn.outline.violet.m
                        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 13L1 7L7 1" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                        p назад
                .text-block-wrapper 
                    .navigation-block 
                        .sticky-block 
                            .nav-list 
                                button.link 
                                    span 01.
                                    | Приветствие и установление контакта
                                button.link 
                                    span 02. 
                                    | Выяснение потребностей
                                button.link 
                                    span 03. 
                                    | Презентация продукции
                                button.link 
                                    span 04. 
                                    | Обработка возражений
                                button.link 
                                    span 05. 
                                    | Закрытие сделки
                                button.link 
                                    span 06. 
                                    | Завершение общения и прощание
                            .features 
                                a(href="#" download).btn.circle.m
                                    <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 9.375L1 14.175M19 9.375V14.175M1 13.575C1 14.0478 1.09312 14.5159 1.27403 14.9527C1.45495 15.3894 1.72012 15.7863 2.05442 16.1206C2.38871 16.4549 2.78557 16.72 3.22234 16.901C3.65911 17.0819 4.12724 17.175 4.6 17.175H15.4C15.8728 17.175 16.3409 17.0819 16.7777 16.901C17.2144 16.72 17.6113 16.4549 17.9456 16.1206C18.2799 15.7863 18.5451 15.3894 18.726 14.9527C18.9069 14.5159 19 14.0478 19 13.575M15.625 6.375L10 12.375L4.825 6.375M10 0L10 11.775" stroke="#333435"/>
                                    </svg>
                                a(href="#").btn.circle.m
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect x="0.5" y="5.5" width="19" height="10" rx="2.5" stroke="#333435"/>
                                        <rect x="4.5" y="10.5" width="11" height="9" rx="1.5" fill="white" stroke="#333435"/>
                                        <path d="M7 0.5H13C14.3807 0.5 15.5 1.61929 15.5 3V5.5H4.5V3C4.5 1.61929 5.61929 0.5 7 0.5Z" stroke="#333435"/>
                                    </svg>
                    .text-block 
                        h3 1. Приветствие и установление контакта
                        .quote-block 
                            p.title Консультант:
                            .text 
                                img(src="./img/icons/quote-outline.svg", alt="quote")
                                p Здравствуйте! Чем могу вам помочь? У нас широкий ассортимент школьной продукции для всех возрастов.
                        p.target 
                            b Цель: 
                            | проявить заботу и готовность помочь, чтобы покупатель почувствовал внимание к его потребностям.
                        .video-block 
                            video(src='./files/video.mp4' type='video/mp4' preload="auto" poster="./img/about/info/preview.jpg")
                            button.btn.play-btn 
                                img(src="./img/icons/play.svg", alt="play") 
                        h3 2. Выяснение потребностей
                        .quote-block 
                            p.title Консультант:
                            .text 
                                img(src="./img/icons/quote-outline.svg", alt="quote")
                                p Здравствуйте! Чем могу вам помочь? У нас широкий ассортимент школьной продукции для всех возрастов.
                        p.target 
                            b Цель: 
                            | проявить заботу и готовность помочь, чтобы покупатель почувствовал внимание к его потребностям.
                        h3 3. Презентация продукции
                        p На основе полученной информации предложите несколько товаров. Опишите преимущества каждого варианта.
                        ul 
                            li Тетради и блокноты: «У нас есть тетради на любой вкус — от классических до тематических, с плотными страницами, что удобно для записи в течение всего учебного года.»
                            li Ручки и карандаши: «Обратите внимание на наши эргономичные ручки и карандаши, которые обеспечат комфорт даже при длительном письме.»
                            li Органайзеры и пеналы: «Для удобства хранения школьных принадлежностей можем предложить органайзеры и пеналы, они прочные и вместительные.»
                        .quote-block 
                            p.title Консультант:
                            .text 
                                img(src="./img/icons/quote-outline.svg", alt="quote")
                                p Здравствуйте! Чем могу вам помочь? У нас широкий ассортимент школьной продукции для всех возрастов.
                        p.target 
                            b Цель: 
                            | проявить заботу и готовность помочь, чтобы покупатель почувствовал внимание к его потребностям.
                        h3 4. Обработка возражений
                        p На основе полученной информации предложите несколько товаров. Опишите преимущества каждого варианта.
                        ul 
                            li Тетради и блокноты: «У нас есть тетради на любой вкус — от классических до тематических, с плотными страницами, что удобно для записи в течение всего учебного года.»
                            li Ручки и карандаши: «Обратите внимание на наши эргономичные ручки и карандаши, которые обеспечат комфорт даже при длительном письме.»
                            li Органайзеры и пеналы: «Для удобства хранения школьных принадлежностей можем предложить органайзеры и пеналы, они прочные и вместительные.»
                        .quote-block 
                            p.title Консультант:
                            .text 
                                img(src="./img/icons/quote-outline.svg", alt="quote")
                                p Здравствуйте! Чем могу вам помочь? У нас широкий ассортимент школьной продукции для всех возрастов.
                        p.target 
                            b Цель: 
                            | проявить заботу и готовность помочь, чтобы покупатель почувствовал внимание к его потребностям.
                        h3 5. Закрытие сделки
                        .quote-block 
                            p.title Консультант:
                            .text 
                                img(src="./img/icons/quote-outline.svg", alt="quote")
                                p Здравствуйте! Чем могу вам помочь? У нас широкий ассортимент школьной продукции для всех возрастов.
                        p.target 
                            b Цель: 
                            | проявить заботу и готовность помочь, чтобы покупатель почувствовал внимание к его потребностям.
                        h3 6. Завершение общения и прощание
                        .quote-block 
                            p.title Консультант:
                            .text 
                                img(src="./img/icons/quote-outline.svg", alt="quote")
                                p Здравствуйте! Чем могу вам помочь? У нас широкий ассортимент школьной продукции для всех возрастов.
                        p.target 
                            b Цель: 
                            | проявить заботу и готовность помочь, чтобы покупатель почувствовал внимание к его потребностям.
            .menu-block     
                .sticky-block
                    +profile-wholesale-menu()