@use "src/scss/common/files/mixins" as *;

.remove-product {
  .close-modal-wrapper {
    @media (max-width: $tab-sm) {
      top: 0 !important;
    }
    .close-modal {
      margin-top: calc(-50 / var(--screensize) * 100vw) !important;
      margin-right: calc(-50 / var(--screensize) * 100vw) !important;
      @media (max-width: $tab-sm) {
        margin: 0 !important;
        @include s(top, 0);
        @include s(right, 0);
      }
    }
  }
  .modal-content-wrapper {
    @include s(max-width, 508);
    // @include borr(12);
    @include padding(48);
    // padding: 0;
    position: relative;
    overflow: auto;
    @media (max-width: $tab-sm) {
      @include padding(20);
    }
    .modal-content {
      @media (max-width: $tab-sm) {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .title {
      @include h6;
      text-transform: uppercase;
      text-align: center;
    }

    .descr {
      @include body-m;
      text-align: center;
      @include s(margin-top, 8);
    }

    .remove-product__btns {
      display: flex;
      justify-content: space-between;
      @include s(gap, 12);
      @include s(margin-top, 20);

      @media (max-width: $mob) {
        flex-direction: column;
        align-items: center;
      }

      .btn {
        @include s(width, 200);

        &.outline {
          border-color: var(--violet-color);
          text-transform: uppercase;
          
          p {
            color: var(--violet-color);
            @include descr-m;
          }
        }
      }
    }
    .form {
      .inputs {
        display: flex;
        flex-direction: column;
        @include s(gap, 20);
        @include s(margin-top, 20);
        @media (max-width: $tab-sm) {
          @include s(gap, 12);
        }
        .input-wrapper {
          display: flex;
          flex-direction: column;
          @include s(gap, 12);
          p {
            font-weight: 400;
            @include s(font-size, 16);
            line-height: 120%;
            color: var(--gray-light-color);
          }
        }
        .row {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          @include s(gap, 20);
        }
      }
    }
    .submit-btn {
      width: fit-content;
      justify-content: center;
      @include s(margin-top, 28);
      @include padding(0, 48);
      @media (max-width: $tab-sm) {
        width: 100%;
        @include s(margin-top, 20);
      }
      p {
        text-transform: uppercase;
        @include descr-m;
      }
    }
  }
}
