@use "src/scss/common/files/mixins" as *;

.schedule-card {
  background: var(--back-color);
  @include padding(28);
  display: flex;
  flex-direction: column;
  @include s(gap, 6);
  @include borr(12);
  @media (max-width: $tab) {
    @include padding(20);
    @include s(gap, 4);
  }
  .title {
    @include body-m;
    @media (max-width: $tab) {
      @include body-s;
    }
  }
  .sum {
    @include body-xl;
    @media (max-width: $tab) {
      @include body-lb;
    }
  }
}
