@use "src/scss/common/files/mixins" as *;

.schedule-card {
  background: var(--back-color);
  @include padding(28);
  display: flex;
  flex-direction: column;
  @include s(gap, 6);
  @include borr(12);
  .title {
    @include body-m;
  }
  .sum {
    @include body-xl;
  }
}
