mixin home-ideas()
    .home-ideas 
        .home-ideas-top.container 
            h3 идеи для вдохновения
        .home-ideas-swiper-wrapper
            .home-ideas-swiper
                .navigation.container 
                    .navigation 
                        button.btn.circle.l.home-ideas-prev
                            <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 13L1 7L9 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                        button.btn.circle.l.home-ideas-next
                            <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L9 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                .swiper-wrapper 
                    .swiper-slide 
                        .bg 
                            img(src="./img/home/ideas/idea-1440.jpg",  srcset="./img/home/ideas/idea-720.jpg 720w, ./img/home/ideas/idea-1440.jpg 1440w, ./img/home/ideas/idea-2880.jpg 2880w" sizes="100vw" alt="idea" fetchpriority="high" loading='eager' width='2880' height='1411')
                            button.btn.outline.violet(data-modal-target='ideas-modal') 
                                span смотреть товары
                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7L0.999999 1" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                        .pins 
                            .pin-wrapper(style='top:53%; left: 16%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:-482%; left: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='bottom:5%; left: 37%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='bottom:0%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='top:24%; left: 47%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:0%; left: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='top:34%; left: 57%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:-304%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='bottom:10%; left: 64%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='bottom:0%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                    .swiper-slide 
                        .bg 
                            img(src="./img/home/ideas/idea-1440.jpg",  srcset="./img/home/ideas/idea-720.jpg 720w, ./img/home/ideas/idea-1440.jpg 1440w, ./img/home/ideas/idea-2880.jpg 2880w" sizes="100vw" alt="idea" fetchpriority="high" loading='eager' width='2880' height='1411')
                            button.btn.outline.violet(data-modal-target='ideas-modal') 
                                span смотреть товары
                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7L0.999999 1" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                        .pins 
                            .pin-wrapper(style='top:53%; left: 16%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:-482%; left: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='bottom:5%; left: 37%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='bottom:0%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='top:24%; left: 47%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:0%; left: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='top:34%; left: 57%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:-304%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='bottom:10%; left: 64%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='bottom:0%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                    .swiper-slide 
                        .bg 
                            img(src="./img/home/ideas/idea-1440.jpg",  srcset="./img/home/ideas/idea-720.jpg 720w, ./img/home/ideas/idea-1440.jpg 1440w, ./img/home/ideas/idea-2880.jpg 2880w" sizes="100vw" alt="idea" fetchpriority="high" loading='eager' width='2880' height='1411')
                            button.btn.outline.violet(data-modal-target='ideas-modal') 
                                span смотреть товары
                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7L0.999999 1" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                        .pins 
                            .pin-wrapper(style='top:53%; left: 16%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:-482%; left: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='bottom:5%; left: 37%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='bottom:0%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='top:24%; left: 47%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:0%; left: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='top:34%; left: 57%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:-304%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='bottom:10%; left: 64%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='bottom:0%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                    .swiper-slide 
                        .bg 
                            img(src="./img/home/ideas/idea-1440.jpg",  srcset="./img/home/ideas/idea-720.jpg 720w, ./img/home/ideas/idea-1440.jpg 1440w, ./img/home/ideas/idea-2880.jpg 2880w" sizes="100vw" alt="idea" fetchpriority="high" loading='eager' width='2880' height='1411')
                            button.btn.outline.violet(data-modal-target='ideas-modal') 
                                span смотреть товары
                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7L0.999999 1" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                        .pins 
                            .pin-wrapper(style='top:53%; left: 16%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:-482%; left: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='bottom:5%; left: 37%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='bottom:0%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='top:24%; left: 47%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:0%; left: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='top:34%; left: 57%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:-304%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='bottom:10%; left: 64%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='bottom:0%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                    .swiper-slide 
                        .bg 
                            img(src="./img/home/ideas/idea-1440.jpg",  srcset="./img/home/ideas/idea-720.jpg 720w, ./img/home/ideas/idea-1440.jpg 1440w, ./img/home/ideas/idea-2880.jpg 2880w" sizes="100vw" alt="idea" fetchpriority="high" loading='eager' width='2880' height='1411')
                            button.btn.outline.violet(data-modal-target='ideas-modal') 
                                span смотреть товары
                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7L0.999999 1" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                        .pins 
                            .pin-wrapper(style='top:53%; left: 16%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:-482%; left: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='bottom:5%; left: 37%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='bottom:0%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='top:24%; left: 47%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:0%; left: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='top:34%; left: 57%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:-304%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='bottom:10%; left: 64%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='bottom:0%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                    .swiper-slide 
                        .bg 
                            img(src="./img/home/ideas/idea-1440.jpg",  srcset="./img/home/ideas/idea-720.jpg 720w, ./img/home/ideas/idea-1440.jpg 1440w, ./img/home/ideas/idea-2880.jpg 2880w" sizes="100vw" alt="idea" fetchpriority="high" loading='eager' width='2880' height='1411')
                            button.btn.outline.violet(data-modal-target='ideas-modal') 
                                span смотреть товары
                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7L0.999999 1" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                        .pins 
                            .pin-wrapper(style='top:53%; left: 16%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:-482%; left: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='bottom:5%; left: 37%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='bottom:0%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='top:24%; left: 47%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:0%; left: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='top:34%; left: 57%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:-304%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='bottom:10%; left: 64%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='bottom:0%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                    .swiper-slide 
                        .bg 
                            img(src="./img/home/ideas/idea-1440.jpg",  srcset="./img/home/ideas/idea-720.jpg 720w, ./img/home/ideas/idea-1440.jpg 1440w, ./img/home/ideas/idea-2880.jpg 2880w" sizes="100vw" alt="idea" fetchpriority="high" loading='eager' width='2880' height='1411')
                            button.btn.outline.violet(data-modal-target='ideas-modal') 
                                span смотреть товары
                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7L0.999999 1" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                        .pins 
                            .pin-wrapper(style='top:53%; left: 16%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:-482%; left: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='bottom:5%; left: 37%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='bottom:0%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='top:24%; left: 47%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:0%; left: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='top:34%; left: 57%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:-304%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='bottom:10%; left: 64%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='bottom:0%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                    .swiper-slide 
                        .bg 
                            img(src="./img/home/ideas/idea-1440.jpg",  srcset="./img/home/ideas/idea-720.jpg 720w, ./img/home/ideas/idea-1440.jpg 1440w, ./img/home/ideas/idea-2880.jpg 2880w" sizes="100vw" alt="idea" fetchpriority="high" loading='eager' width='2880' height='1411')
                            button.btn.outline.violet(data-modal-target='ideas-modal') 
                                span смотреть товары
                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7L0.999999 1" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                        .pins 
                            .pin-wrapper(style='top:53%; left: 16%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:-482%; left: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='bottom:5%; left: 37%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='bottom:0%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='top:24%; left: 47%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:0%; left: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='top:34%; left: 57%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:-304%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='bottom:10%; left: 64%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='bottom:0%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                    .swiper-slide 
                        .bg 
                            img(src="./img/home/ideas/idea-1440.jpg",  srcset="./img/home/ideas/idea-720.jpg 720w, ./img/home/ideas/idea-1440.jpg 1440w, ./img/home/ideas/idea-2880.jpg 2880w" sizes="100vw" alt="idea" fetchpriority="high" loading='eager' width='2880' height='1411')
                            button.btn.outline.violet(data-modal-target='ideas-modal') 
                                span смотреть товары
                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7L0.999999 1" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                        .pins 
                            .pin-wrapper(style='top:53%; left: 16%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:-482%; left: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='bottom:5%; left: 37%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='bottom:0%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='top:24%; left: 47%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:0%; left: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='top:34%; left: 57%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:-304%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='bottom:10%; left: 64%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='bottom:0%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                    .swiper-slide 
                        .bg 
                            img(src="./img/home/ideas/idea-1440.jpg",  srcset="./img/home/ideas/idea-720.jpg 720w, ./img/home/ideas/idea-1440.jpg 1440w, ./img/home/ideas/idea-2880.jpg 2880w" sizes="100vw" alt="idea" fetchpriority="high" loading='eager' width='2880' height='1411')
                            button.btn.outline.violet(data-modal-target='ideas-modal') 
                                span смотреть товары
                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7L0.999999 1" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                        .pins 
                            .pin-wrapper(style='top:53%; left: 16%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:-482%; left: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='bottom:5%; left: 37%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='bottom:0%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='top:24%; left: 47%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:0%; left: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='top:34%; left: 57%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='top:-304%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
                            .pin-wrapper(style='bottom:10%; left: 64%')
                                +product-card({
                                    imgs: 
                                    [
                                        './img/products/1.jpg',
                                        './img/products/2.jpg',
                                        './img/products/3.jpg',
                                        './img/products/1.jpg',
                                        './img/products/2.jpg'
                                    ],
                                    art: 'Арт 68012', 
                                    count: 'many', 
                                    price: '116 ₽', 
                                    descr: 'Набор для выращивания кристаллов, Фиолетовая змейка, Змейки, картонная коробка, 10+, Lori', 
                                }).sm.absolute(style='bottom:0%; right: -673%')
                                button.btn.circle.s.white.pin
                                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7.06494H14" stroke="#343176"/>
                                        <path d="M7 14.0649L7 0.0649414" stroke="#343176"/>
                                    </svg>
            .home-ideas-thumbs-swiper-wrapper.container
                .home-ideas-thumbs-container
                    .home-ideas-thumbs-swiper
                        .swiper-wrapper 
                            .swiper-slide 
                                img( src="./img/home/ideas/1.jpg", alt="ideas-thumb" loading='lazy' width='116' height='67')
                            .swiper-slide 
                                img( src="./img/home/ideas/2.jpg", alt="ideas-thumb" loading='lazy' width='116' height='67')
                            .swiper-slide 
                                img( src="./img/home/ideas/3.jpg", alt="ideas-thumb" loading='lazy' width='116' height='67')
                            .swiper-slide 
                                img( src="./img/home/ideas/4.jpg", alt="ideas-thumb" loading='lazy' width='116' height='67')
                            .swiper-slide 
                                img( src="./img/home/ideas/5.jpg", alt="ideas-thumb" loading='lazy' width='116' height='67')
                            .swiper-slide 
                                img( src="./img/home/ideas/6.jpg", alt="ideas-thumb" loading='lazy' width='116' height='67')
                            .swiper-slide 
                                img( src="./img/home/ideas/7.jpg", alt="ideas-thumb" loading='lazy' width='116' height='67')
                            .swiper-slide 
                                img( src="./img/home/ideas/8.jpg", alt="ideas-thumb" loading='lazy' width='116' height='67')
                            .swiper-slide 
                                img( src="./img/home/ideas/9.jpg", alt="ideas-thumb" loading='lazy' width='116' height='67')
                            .swiper-slide 
                                img( src="./img/home/ideas/10.jpg", alt="ideas-thumb" loading='lazy' width='116' height='67')