@use "src/scss/common/files/mixins" as *;

.home-ideas {
  @include s(padding-top, 122);
  @media (max-width: $tab-sm) {
    @include s(padding-top, 79);
  }
  .home-ideas-top {
    h3 {
      @include h1;
    }
  }
  .home-ideas-swiper-wrapper {
    @include s(margin-top, 38);
    @include s(height, 705);
    position: relative;
    @media (max-width: $tab-sm) {
      height: fit-content;
      @include s(margin-top, 30);
    }
    .navigation {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      z-index: 2;
      pointer-events: none;
      display: flex;
      justify-content: space-between;
      .btn {
        pointer-events: all;
      }
    }
    .home-ideas-thumbs-swiper-wrapper {
      width: 100%;
      height: 100%;
      position: relative;
      @media (max-width: $tab-sm) {
        overflow: auto;
        scrollbar-width: thin;
        scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
        &::-webkit-scrollbar {
          width: 0px;
        }
      }
      .home-ideas-thumbs-container {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }
    .home-ideas-thumbs-swiper {
      position: absolute;
      @include s(top, 48);
      left: 0;
      @media (max-width: $tab-sm) {
        position: relative;
        top: 0;
        right: 0;
        @include s(margin-top, 4);
      }
      .swiper-slide {
        @include s(height, 67);
        @include s(width, 116);
        @include borr(6);
        border: 1px solid rgba(0, 0, 0, 0);
        position: relative;
        overflow: hidden;
        transition: var(--trs-cubic-300);
        cursor: pointer;
        @media (max-width: $tab-sm) {
          @include s(height, 44);
          @include s(width, 78);
        }
        &.swiper-slide-thumb-active {
          border-color: var(--violet-color);
          &:before {
            opacity: 1;
          }
        }
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(244, 244, 244, 0.7);
          z-index: 2;
          opacity: 0;
          transition: var(--trs-cubic-300);
        }
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .home-ideas-swiper {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      @media (max-width: $tab-sm) {
        position: relative;
        @include s(height, 203);
      }
      .swiper-slide {
        position: relative;
        height: 100%;
        width: 100%;
        .bg {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .pins {
          position: absolute;
          z-index: 4;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          @media (max-width: $tab-sm) {
            display: none;
          }
          .pin-wrapper {
            position: absolute;
            .product-card {
              @include s(width, 259);
              opacity: 0;
              transition: var(--trs-cubic-300);
              pointer-events: none;

              &.active {
                opacity: 1;
                pointer-events: all;
              }
            }
            .pin {
              box-shadow: var(--shadow);
              z-index: 2;
              position: relative;
              svg {
                transition: var(--trs-cubic-300);
              }
              &.active {
                background: var(--violet-color);
                svg {
                  transform: rotate(45deg);
                  path {
                    stroke: var(--white-color);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
