mixin contacts-regions()
    .contacts-regions-wrapper
        .contacts-regions-list
            +person-contacts-card({
                img:'./img/contacts/logo.svg',
                title: 'москва',
                nameInfo: [
                    {
                        name: 'Мячин Виталий Васильевич ', 
                        post: 'Директор представительства',
                    }
                ],
                address: '109202 Москва ш.Фрезер 17, ООО «Феникс+».',
                routes: [
                    'от станции метро Авиамоторная, Маршрутка №133 / автобус №759 до остановки "Аптека". ',
                    'от станции метро Авиамоторная, Маршрутка №133 / автобус №759 до остановки "Аптека". ',
                    'от метро "Рязанский проспект", маршрутка №63/автобус №143 до остановки "ТЦ "Город".',
                ],
                phones: [
                    {
                        title: '+7 (863) 261-89-62',
                        phone: '+78632618962',
                    },
                    {
                        title: '+7 (863) 261-89-63',
                        phone: '+78632618963',
                    },
                    {
                        title: '+7 (863) 261-89-63',
                        phone: '+78632618963',
                        descr: '(тел / факс)'
                    },
                    {
                        title: '+7 (863) 261-89-63',
                        phone: '+78632618963',
                        descr: '(директор)'
                    },
                    {
                        title: '+7 (863) 261-89-64 , доб.140',
                        phone: '+78632618964',
                    },
                ]
            }).in-box.with-logo
            +person-contacts-card({
                img:'./img/contacts/logo.svg',
                title: 'юфо',
                nameInfo: [
                    {
                        name: 'Стебловская Ольга Александровна', 
                        post: 'Директор представительства',
                    }
                ],
                address: '220020, г. Минск, проспект Победителей, д. 89, корпус 3, офис 8а',
                phones: [
                    {
                        title: '+7 (863) 261-89-62',
                        phone: '+78632618962',
                    },
                    {
                        title: '+7 (863) 261-89-63',
                        phone: '+78632618963',
                    },
                    {
                        title: '+7 (863) 261-89-64 , доб.140',
                        phone: '+78632618964',
                    },
                ]
            }).in-box.with-logo
            +person-contacts-card({
                img:'./img/contacts/logo.svg',
                title: 'екатеринбург',
                nameInfo: [
                    {
                        name: 'Ракитин Денис Игорьевич', 
                        post: 'Директор представительства',
                    },
                    {
                        name: 'Жидкоблинов Алексей Владимирович ', 
                        post: 'Менеджер представительства',
                    },
                ],
                address: '620085 г.Екатеринбург ул. Сухоложская, д.8 ',
                phones: [
                    {
                        title: '+7 (863) 261-89-64 , доб.140',
                        phone: '+78632618964',
                    },
                ]
            }).in-box.with-logo
            +person-contacts-card({
                img:'./img/contacts/logo.svg',
                title: 'заголовок',
                nameInfo: [
                    {
                        name: 'Ивасенко Маргарита Александровна', 
                        post: 'Директор представительства',
                    },
                ],
                address: '220020, г. Минск, проспект Победителей, д. 89, корпус 3, офис 8а',
                phones: [
                    {
                        title: '+7 (863) 261-89-62',
                        phone: '+78632618962',
                    },
                ]
            }).in-box.with-logo