@use "src/scss/common/files/mixins" as *;

.info-card {
  &:hover {
    .btn {
      background: var(--violet-color);
      p {
        color: var(--white-color);
      }
      svg {
        path {
          stroke: var(--white-color);
        }
      }
    }
  }
  .image-wrapper {
    @include borr(12);
    overflow: hidden;
    position: relative;
    padding-bottom: 57%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
  }
  .content {
    @include s(margin-top, 28);
    display: flex;
    flex-direction: column;
    align-items: center;
    .date {
      display: flex;
      align-items: center;
      @include s(gap, 16);
      @include s(margin-bottom, 16);

      p {
        text-transform: uppercase;
        color: var(--violet-color);
        @include descr-m;
      }
    }
    .title {
      @include h6;
      text-transform: uppercase;
      text-align: center;
    }
    .btn {
      @include s(margin-top, 28);
      @include s(gap, 12);
      @include padding(0, 24);
      &:hover {
        svg {
          path {
            stroke: var(--white-color);
          }
        }
      }
      p {
        @include descr-m;
        text-transform: uppercase;
      }
    }
  }
}
