@use "src/scss/common/files/mixins" as *;

.contacts-other-wrapper {
  .contacts-other-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include s(column-gap, 24);
    @include s(row-gap, 80);
    @media (max-width: $tab) {
      grid-template-columns: repeat(1, 1fr);
      @include s(row-gap, 36);
    }
  }
}
