mixin contacts-other()
    .contacts-other-wrapper
        .contacts-other-list
            +person-contacts-card({
                img:'./img/contacts/person.jpg',
                title: 'Арт-отдел', 
                nameInfo: [
                    {
                        name: 'Кошлакова Надежда Леонидовна', 
                        post: 'Арт-директор',
                    }
                ],
                phones: [
                    {
                        title: '+7 (863) 261-89-62',
                        phone: '+78632618962',
                    },
                    {
                        title: '+7 (863) 261-89-62',
                        phone: '+78632618962',
                    },
                    {
                        title: '+7 (863) 261-89-62, доб.140',
                        phone: '+78632618962',
                    },
                ]
            }).in-box
            +person-contacts-card({
                title: 'IT', 
                nameInfo: [
                    {
                        name: 'Стебловская Ольга Александровна', 
                        post: 'Арт-директор',
                    }
                ],
                phones: [
                    {
                        title: '+7 (863) 261-89-62',
                        phone: '+78632618962',
                    },
                    {
                        title: '+7 (863) 261-89-62',
                        phone: '+78632618962',
                    },
                    {
                        title: '+7 (863) 261-89-62, доб.140',
                        phone: '+78632618962',
                    },
                ]
            }).in-box
            +person-contacts-card({
                img:'./img/contacts/person.jpg',
                title: 'Бухгалтерия', 
                nameInfo: [
                    {
                        name: 'Иванова Елена Владимировна', 
                        post: 'Арт-директор',
                    }
                ],
                phones: [
                    {
                        title: '+7 (863) 261-89-62, доб.140',
                        phone: '+78632618962',
                    },
                ]
            }).in-box
            +person-contacts-card({
                img:'./img/career/team/3.jpg',
                title: 'Отдел персонала', 
                nameInfo: [
                    {
                        name: 'Ивасенко Маргарита Александровна', 
                        post: 'Арт-директор',
                    }
                ],
                phones: [
                    {
                        title: '+7 (863) 261-89-62, доб.140',
                        phone: '+78632618962',
                    },
                ]
            }).in-box