@use "src/scss/common/files/mixins" as *;

.content-hero {
  @include s(margin-top, 28);
  @media (max-width: $tab) {
    @include s(margin-top, 16);
  }
  h1 {
    @include h1;
  }
  h2 {
    @include h2;
  }
  .content-hero-content {
    @include s(margin-top, 36);
    display: flex;
    @include s(gap, 48);
    @media (max-width: $tab) {
      flex-direction: column;
      @include s(gap, 28);
      @include s(margin-top, 28);
    }
    .image-wrapper {
      @include s(width, 888);
      @include s(height, 503);
      @include borr(12);
      overflow: hidden;
      @media (max-width: $tab) {
        width: 100%;
        @include s(height, 403);
      }
      @media (max-width: $tab-sm) {
        @include s(width, 320);
        @include s(height, 180);
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .text {
      @include s(width, 408);
      display: flex;
      flex-direction: column;
      @media (max-width: $tab) {
        width: 100%;
      }
      @media (max-width: $tab-sm) {
        @include s(width, 320);
      }
      .top {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: $tab) {
          @include s(gap, 20);
        }
        .awards {
          display: flex;
          align-items: center;
          @include s(gap, 24);
          @media (max-width: $tab) {
            @include s(gap, 20);
          }
          img {
            @include s(width, 96);
            @include s(height, 85);
            @media (max-width: $tab) {
              @include s(width, 56);
              @include s(height, 49);
            }
          }
          p {
            @include h5;
            color: var(--violet-color);
            text-transform: uppercase;
          }
        }
      }
      .bottom {
        @include s(margin-top, 36);
        @include s(padding-top, 36);
        border-top: 1px solid var(--line-color);
        @media (max-width: $tab) {
          @include s(margin-top, 20);
          @include s(padding-top, 20);
        }
        .descr {
          @include body-l;
          @media (max-width: $tab) {
            @include body-m;
          }
        }
        .subtitle {
          @include h5;
          color: var(--violet-color);
          text-transform: uppercase;
        }
      }
    }
  }
}
