mixin register()
    .register
        .register-inner.container.tabs-wrapper 
            h1 регистрация
            .content 
                .inputs-wrapper
                    .tabs 
                        button.btn.tab.m.active(data-tab='0') Оптовый бизнес-партнёр
                        button.btn.tab.m(data-tab='1') Розничный клиент
                    .tab-content(data-tab='0')
                        form.form
                            h6 Контактное лицо
                            .inputs 
                                .input-wrapper 
                                    p Фамилия *
                                    .input__row.gray
                                        input(type="text" placeholder="Введите").custom-input.input.form__input-value.input__valid-lastname
                                        .input__item-small
                                .input-wrapper 
                                    p Имя *
                                    .input__row.gray
                                        input(type="text" placeholder="Введите").custom-input.input.form__input-value.input__valid-name
                                        .input__item-small
                                .input-wrapper 
                                    p Отчество 
                                    .input__row.gray
                                        input(type="text" placeholder="Введите").custom-input
                                .input-wrapper 
                                    p Телефон * 
                                    .input__row.gray
                                        input(type="tel" placeholder="+7 (").custom-input.input.form__input-value.input__valid-phone
                                        .input__item-small
                                .input-wrapper 
                                    p Эл. почта *
                                    .input__row.gray
                                        input(type="text" placeholder="Введите").custom-input.input.form__input-value.input__valid-email
                                        .input__item-small
                                .input-wrapper 
                                    p Пароль (от 6 символов) *
                                    .input__row.password-input-row.gray
                                        input(type="password" placeholder="Введите пароль").custom-input.input.form__input-value.input__valid-password
                                        button(type='button').show-password
                                            <svg width="31" height="28" viewBox="0 0 31 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_8288_112990)">
                                                <path d="M27.8597 11.6917C26.6291 14.0573 24.77 16.0377 22.4868 17.4153C20.2037 18.7928 17.5848 19.5141 14.9183 19.4998C12.2518 19.4855 9.6409 18.7362 7.37264 17.3342C5.10438 15.9323 3.26664 13.932 2.06148 11.5533" stroke="#A8A9B0"/>
                                                <path d="M14.9961 19L14.9961 23" stroke="#A8A9B0"/>
                                                <path d="M20.7148 18.1152L22.5101 21.6898" stroke="#A8A9B0"/>
                                                <path d="M24.875 15.1123L27.6937 17.9505" stroke="#A8A9B0"/>
                                                <path d="M4.8125 15.1123L1.99383 17.9505" stroke="#A8A9B0"/>
                                                <path d="M9.625 18.1763L7.60472 21.6286" stroke="#A8A9B0"/>
                                                </g>
                                                <defs>
                                                <clipPath id="clip0_8288_112990">
                                                <rect width="30.1538" height="28" fill="white" transform="translate(-0.00390625)"/>
                                                </clipPath>
                                                </defs>
                                            </svg>
                                        .input__item-small
                                .input-wrapper
                                    p Повторите пароль *
                                    .input__row.password-input-row.gray
                                        input(type="password" placeholder="Повторите пароль").custom-input.input.form__input-value.input__valid-password
                                        button(type='button').show-password
                                            <svg width="31" height="28" viewBox="0 0 31 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_8288_112990)">
                                                <path d="M27.8597 11.6917C26.6291 14.0573 24.77 16.0377 22.4868 17.4153C20.2037 18.7928 17.5848 19.5141 14.9183 19.4998C12.2518 19.4855 9.6409 18.7362 7.37264 17.3342C5.10438 15.9323 3.26664 13.932 2.06148 11.5533" stroke="#A8A9B0"/>
                                                <path d="M14.9961 19L14.9961 23" stroke="#A8A9B0"/>
                                                <path d="M20.7148 18.1152L22.5101 21.6898" stroke="#A8A9B0"/>
                                                <path d="M24.875 15.1123L27.6937 17.9505" stroke="#A8A9B0"/>
                                                <path d="M4.8125 15.1123L1.99383 17.9505" stroke="#A8A9B0"/>
                                                <path d="M9.625 18.1763L7.60472 21.6286" stroke="#A8A9B0"/>
                                                </g>
                                                <defs>
                                                <clipPath id="clip0_8288_112990">
                                                <rect width="30.1538" height="28" fill="white" transform="translate(-0.00390625)"/>
                                                </clipPath>
                                                </defs>
                                            </svg>
                                        .input__item-small
                            h6 данные организации
                            .inputs 
                                .input-wrapper 
                                    p Наименование <br>организации *
                                    .input__row.gray
                                        input(type="text" placeholder="Введите").custom-input.input.form__input-value.input__valid-organization
                                        .input__item-small
                                .input-wrapper 
                                    p Брендовое название 
                                    .input__row.gray
                                        input(type="text" placeholder="Введите").custom-input
                                .input-wrapper 
                                    p ИНН *
                                    .input__row.gray
                                        input(type="text" placeholder="Введите").custom-input.input.form__input-value.input__valid-inn
                                        .input__item-small
                                .input-wrapper 
                                    p КПП  
                                    .input__row.gray
                                        input(type="text" placeholder="Введите").custom-input
                                .input-wrapper 
                                    p Город  
                                    .input__row.gray
                                        input(type="text" placeholder="Введите").custom-input
                            label
                                input(type="checkbox").custom-checkbox
                                span Я даю согласие на обработку персональных данных в соответствии с 
                                    a(href='#' target="_blank") Политикой конфиденциальности
                            button.btn.primary.m.submit-btn
                                span зарегистрироваться
                        .info-block 
                            h4 этапы регистрации
                            ul 
                                li Заполните форму регистрации
                                li Наш менеджер свяжется с вами в течении 2-х рабочих дней
                                li В течении 1-го рабочего дня после общения с менеджером вам поступит сообщение на почту о прохождении регистрации
                                li Авторизуйтесь на сайте, чтобы получить полный доступ к партнерскому функционалу сайта
                            h4 у вас есть вопросы? <br> свяжитесь с нами!
                            .form-info
                                .date 
                                    img( src="./img/icons/clock-dark.svg", alt="clock")
                                    p пн-пн с 8:00 до 20:00
                                .btns 
                                    .btn-wrapper
                                        a(href="tel:+78632618962").btn.outline.violet.l
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_7956_74267)">
                                                <path d="M5.84111 12.0969C9.05052 15.3063 11.5172 16.1119 14.4247 13.2045C14.8797 12.7373 15.3053 12.1469 14.7015 11.5432L12.348 9.74348C11.6052 9.34387 11.3151 9.62808 10.9635 10.0203C9.67869 11.4545 8.29251 10.9785 7.3642 10.0203L5.97977 8.63588C5.0216 7.70747 4.54562 6.32115 5.97977 5.03654C6.37215 4.68499 6.65621 4.39481 6.2566 3.65211L4.45685 1.2986C3.85306 0.694804 3.26269 1.12037 2.79546 1.57543C-0.111852 4.48274 0.69364 6.94945 3.90305 10.159L5.84111 12.0969Z" stroke="#343176"/>
                                                </g>
                                                <defs>
                                                <clipPath id="clip0_7956_74267">
                                                <rect width="16" height="16" fill="white"/>
                                                </clipPath>
                                                </defs>
                                            </svg>
                                            p 8 800 000 00 00
                                        .socials    
                                            a(href="#" target="_blank").tg
                                                img( src="./img/icons/tg-white.svg", alt="tg")
                                            a(href="#" target="_blank").wa
                                                img( src="./img/icons/wa-white.svg", alt="wa")
                    .tab-content(data-tab='1')
                        form.form
                            h6 Контактное лицо 
                            .inputs 
                                .input-wrapper 
                                    p Эл. почта *
                                    .input__row.gray
                                        input(type="text" placeholder="Введите").custom-input.input.form__input-value.input__valid-email
                                        .input__item-small
                                .input-wrapper 
                                    p Пароль (от 6 символов) *
                                    .input__row.password-input-row.gray
                                        input(type="password" placeholder="Введите пароль").custom-input.input.form__input-value.input__valid-password
                                        button(type='button').show-password
                                            <svg width="31" height="28" viewBox="0 0 31 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_8288_112990)">
                                                <path d="M27.8597 11.6917C26.6291 14.0573 24.77 16.0377 22.4868 17.4153C20.2037 18.7928 17.5848 19.5141 14.9183 19.4998C12.2518 19.4855 9.6409 18.7362 7.37264 17.3342C5.10438 15.9323 3.26664 13.932 2.06148 11.5533" stroke="#A8A9B0"/>
                                                <path d="M14.9961 19L14.9961 23" stroke="#A8A9B0"/>
                                                <path d="M20.7148 18.1152L22.5101 21.6898" stroke="#A8A9B0"/>
                                                <path d="M24.875 15.1123L27.6937 17.9505" stroke="#A8A9B0"/>
                                                <path d="M4.8125 15.1123L1.99383 17.9505" stroke="#A8A9B0"/>
                                                <path d="M9.625 18.1763L7.60472 21.6286" stroke="#A8A9B0"/>
                                                </g>
                                                <defs>
                                                <clipPath id="clip0_8288_112990">
                                                <rect width="30.1538" height="28" fill="white" transform="translate(-0.00390625)"/>
                                                </clipPath>
                                                </defs>
                                            </svg>
                                        .input__item-small
                                .input-wrapper
                                    p Повторите пароль *
                                    .input__row.password-input-row.gray
                                        input(type="password" placeholder="Повторите пароль").custom-input.input.form__input-value.input__valid-password
                                        button(type='button').show-password
                                            <svg width="31" height="28" viewBox="0 0 31 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_8288_112990)">
                                                <path d="M27.8597 11.6917C26.6291 14.0573 24.77 16.0377 22.4868 17.4153C20.2037 18.7928 17.5848 19.5141 14.9183 19.4998C12.2518 19.4855 9.6409 18.7362 7.37264 17.3342C5.10438 15.9323 3.26664 13.932 2.06148 11.5533" stroke="#A8A9B0"/>
                                                <path d="M14.9961 19L14.9961 23" stroke="#A8A9B0"/>
                                                <path d="M20.7148 18.1152L22.5101 21.6898" stroke="#A8A9B0"/>
                                                <path d="M24.875 15.1123L27.6937 17.9505" stroke="#A8A9B0"/>
                                                <path d="M4.8125 15.1123L1.99383 17.9505" stroke="#A8A9B0"/>
                                                <path d="M9.625 18.1763L7.60472 21.6286" stroke="#A8A9B0"/>
                                                </g>
                                                <defs>
                                                <clipPath id="clip0_8288_112990">
                                                <rect width="30.1538" height="28" fill="white" transform="translate(-0.00390625)"/>
                                                </clipPath>
                                                </defs>
                                            </svg>
                                        .input__item-small
                            label
                                input(type="checkbox").custom-checkbox
                                span Я даю согласие на обработку персональных данных в соответствии с 
                                    a(href='#' target="_blank") Политикой конфиденциальности
                            button.btn.primary.m.submit-btn
                                span зарегистрироваться
                        .info-block 
                            h4 возможности
                            ul 
                                li Текст возможности первый
                                li Текст возможности первый
                                li Текст возможности первый
                            h4 у вас есть вопросы? <br> свяжитесь с нами!
                            .form-info
                                .date 
                                    img( src="./img/icons/clock-dark.svg", alt="clock")
                                    p пн-пн с 8:00 до 20:00
                                .btns 
                                    .btn-wrapper
                                        a(href="tel:+78632618962").btn.outline.violet.l
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_7956_74267)">
                                                <path d="M5.84111 12.0969C9.05052 15.3063 11.5172 16.1119 14.4247 13.2045C14.8797 12.7373 15.3053 12.1469 14.7015 11.5432L12.348 9.74348C11.6052 9.34387 11.3151 9.62808 10.9635 10.0203C9.67869 11.4545 8.29251 10.9785 7.3642 10.0203L5.97977 8.63588C5.0216 7.70747 4.54562 6.32115 5.97977 5.03654C6.37215 4.68499 6.65621 4.39481 6.2566 3.65211L4.45685 1.2986C3.85306 0.694804 3.26269 1.12037 2.79546 1.57543C-0.111852 4.48274 0.69364 6.94945 3.90305 10.159L5.84111 12.0969Z" stroke="#343176"/>
                                                </g>
                                                <defs>
                                                <clipPath id="clip0_7956_74267">
                                                <rect width="16" height="16" fill="white"/>
                                                </clipPath>
                                                </defs>
                                            </svg>
                                            p 8 800 000 00 00
                                        .socials    
                                            a(href="#" target="_blank").tg
                                                img( src="./img/icons/tg-white.svg", alt="tg")
                                            a(href="#" target="_blank").wa
                                                img( src="./img/icons/wa-white.svg", alt="wa")