mixin career-hero()
    .content-hero
        .content-hero-inner.container
            h1 карьера в феникс+
            .content-hero-content 
                .image-wrapper 
                    img(src="./img/career/hero/bg.jpg", alt="hero")
                .text 
                    .top 
                        h2 Присоединяйся <br>к команде профессионалов
                     
                    .bottom 
                        p.subtitle и создавай будущее <br>вместе с нами!