@use "src/scss/common/files/mixins" as *;

.contacts-card {
  background: var(--back-color);
  @include borr(12);
  @include padding(28);
  @media (max-width: $tab-sm) {
    @include padding(20);
  }
  .name {
    @include body-xl;
    @media (max-width: $tab-sm) {
      @include body-mb;
    }
  }
  .post {
    @include s(margin-top, 8);
    color: var(--gray-light-color);
    @include body-m;
    @media (max-width: $tab-sm) {
      @include s(margin-top, 6);
      @include body-s;
    }
  }
  .info {
    @include s(margin-top, 28);
    display: flex;
    flex-direction: column;
    @include s(gap, 12);
    @media (max-width: $tab-sm) {
      @include s(margin-top, 16);
      @include s(gap, 10);
    }
    a {
      @include s(gap, 16);
      display: flex;
      align-items: center;
      p {
        color: var(--violet-color);
        @include body-m;
        @media (max-width: $tab-sm) {
          @include body-s;
        }
      }
    }
  }
}
