mixin category-card(data) 
    a(href="#").category-card
        .image-wrapper
            img( src=data.img, alt="category" loading='lazy' width="204" height="362")
        p.title #{data.title}
    