mixin support-retail()
    .support-retail
        .support-retail-inner.container.tabs-wrapper 
            .content 
                .questions
                    h1 поддержка
                    .descr 
                        p В этом разделе вы найдете ответы на частые вопросы о работе с сайтом и условиях сотрудничества с Феникс+. 
                        p Мы собрали основную информацию, чтобы вы могли быстро получить нужные ответы. 
                        p Если вы не нашли ответ на свой вопрос, воспользуйтесь формой обратного звонка или свяжитесь с нами по указанным контактам — мы всегда готовы помочь!
                    .question-search 
                        h4 часто задаваемые вопросы
                        .search-wrapper
                            input(type="text" placeholder='Например: бонусы').transparent 
                            button.btn.clear.search-btn 
                                <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="8.22857" cy="8.22857" r="7.72857" stroke="white"/>
                                    <path d="M13.7148 13.7144L18.0006 18.0001" stroke="white"/>
                                </svg>
                    .accordion 
                        .accordion-item.nested
                            button(type='button').accordion-title 
                                .icon 
                                    <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                    </svg>
                                .title-wrapper
                                    p.title заголовок категории вопросов
                            .collapse.accordion-body
                                .accordion
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Условия возврата
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Условия возврата
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Условия возврата
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Условия возврата
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                        .accordion-item.nested
                            button(type='button').accordion-title 
                                .icon 
                                    <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                    </svg>
                                .title-wrapper
                                    p.title заголовок категории вопросов
                            .collapse.accordion-body
                                .accordion
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Условия возврата
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Условия возврата
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Условия возврата
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Условия возврата
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                        .accordion-item.nested
                            button(type='button').accordion-title 
                                .icon 
                                    <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                    </svg>
                                .title-wrapper
                                    p.title заголовок категории вопросов
                            .collapse.accordion-body
                                .accordion
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Условия возврата
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Условия возврата
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Условия возврата
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Условия возврата
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                        .accordion-item.nested
                            button(type='button').accordion-title 
                                .icon 
                                    <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                    </svg>
                                .title-wrapper
                                    p.title заголовок категории вопросов
                            .collapse.accordion-body
                                .accordion
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Условия возврата
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Условия возврата
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Условия возврата
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Условия возврата
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                    form.form.ask-question
                        h4 не нашли ответа на ваш вопрос?
                        p.descr Напишите нам — мы внимательно изучаем обратную связь от наших партнеров и принимаем меры!
                        .inputs 
                            textarea(placeholder="Ваш вопрос")
                            .input__row.gray
                                input(type="text" placeholder="Укажите удобный для вас канал связи (телефон / мессенджер / почта)").custom-input.input.form__input-value.input__valid-text
                                .input__item-small
                        button.btn.primary.m
                            p отправить
                .menu-block 
                    .sticky-block
                        +profile-retail-menu()