mixin about-features()
    .about-features
        .about-features-inner.container
            .about-feature-item     
                img(load='lazy' src="./img/about/features/1.svg", alt="feature")
                p.title >10 000
                p.descr товаров в ассортименте 
            .about-feature-item     
                img(load='lazy' src="./img/about/features/2.svg", alt="feature")
                p.title > 200
                p.descr сотрудников в штате
            .about-feature-item     
                img(load='lazy' src="./img/about/features/3.svg", alt="feature")
                p.title >20 лет
                p.descr опыта на рынке
            .about-feature-item     
                img(load='lazy' src="./img/about/features/4.svg", alt="feature")
                p.title В 80+
                p.descr городах есть наше представительство