@use "src/scss/common/files/mixins" as *;

.collections {
  @include s(margin-top, 28);
  @include s(padding-bottom, 156);
  @media (max-width: $tab) {
    @include s(padding-bottom, 64);
    @include s(margin-top, 16);
  }
  .collections-inner {
    h1 {
      @include h1;
    }
    .collections-list {
      @include s(margin-top, 28);
      @include s(column-gap, 24);
      @include s(row-gap, 80);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @media (max-width: $tab-sm) {
        @include s(margin-top, 20);
        @include s(row-gap, 36);
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
