mixin collections()
    .collections 
        .collections-inner.container
            h1 коллекции
            .collections-list 
                +info-card({img: './img/home/ideas/2.jpg', title: 'школьная коллекция', btnTitle: 'товары коллекции'})
                +info-card({img: './img/home/brands/2.jpg', title: 'киберпанк', btnTitle: 'товары коллекции'})
                +info-card({img: './img/home/ideas/3.jpg', title: 'школьная коллекция', btnTitle: 'товары коллекции'})
                +info-card({img: './img/home/ideas/4.jpg', title: 'киберпанк', btnTitle: 'товары коллекции'})
                +info-card({img: './img/home/ideas/5.jpg', title: 'школьная коллекция', btnTitle: 'товары коллекции'})
                +info-card({img: './img/home/ideas/6.jpg', title: 'киберпанк', btnTitle: 'товары коллекции'})
                +info-card({img: './img/home/ideas/7.jpg', title: 'школьная коллекция', btnTitle: 'товары коллекции'})