@use "src/scss/common/files/mixins" as *;

.download-card {
  background: var(--back-color);
  @include borr(12);
  @include padding(28);
  display: grid;
  @include gtc(1fr, 56);
  @include s(gap, 30);
  @media (max-width: $tab) {
    @include padding(20);
    @include gtc(1fr, 48);
    @include s(gap, 20);
  }
  &:hover {
    .btn {
      background: var(--violet-color);
      span {
        color: var(--white-color);
      }
      svg {
        path {
          stroke: var(--white-color);
        }
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    @include s(gap, 24);
    justify-content: space-between;
    @media (max-width: $tab) {
      @include s(gap, 12);
    }
    .title {
      text-transform: uppercase;
      @include descr-m;
    }
    .btn {
      @include padding(0, 24);
      @include s(gap, 12);
      width: fit-content;
      @media (max-width: $tab) {
        @include padding(0, 16);
      }
      svg {
        @include s(width, 15);
        @include s(height, 15);
      }
    }
  }
  img {
    @include s(width, 56);
    @include s(height, 72);
    @media (max-width: $tab) {
      @include s(width, 48);
      @include s(height, 62);
    }
  }
}
