@use "src/scss/common/files/mixins" as *;

.download-card {
  background: var(--back-color);
  @include borr(12);
  @include padding(28);
  display: grid;
  @include gtc(1fr, 56);
  @include s(gap, 30);
  &:hover {
    .btn {
      background: var(--violet-color);
      p {
        color: var(--white-color);
      }
      svg {
        path {
          stroke: var(--white-color);
        }
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    @include s(gap, 24);
    justify-content: space-between;
    .title {
      text-transform: uppercase;
      @include descr-m;
    }
    .btn {
      @include padding(0, 24);
      @include s(gap, 12);
      width: fit-content;
    }
  }
  img {
    @include s(width, 56);
    @include s(height, 72);
  }
}
