mixin news()
    .news
        .news-inner.container
            .content-block 
                h1 "ЕДИНАЯ РОССИЯ" и "ФЕНИКС+" вручили ранцы и канцтовары будущим первоклассникам!
                .text-block
                    .text-wrapper 
                        .image-wrapper 
                            img(src="./img/about/info/preview.jpg", alt="news")
                        p.date
                            img(src="./img/icons/clock.svg", alt="clock")
                            | 18 февраля 2025
                        p.subtitle 31-я международная мультитематическая выставка «Скрепка Экспо» объединила  более 250 компаний и участников из России, Беларуси, Китая, Индии, Турции и других стран.
                        .text 
                            p Феникс+ — производитель канцелярии с креативным оформлением: карандашей, пеналов, блоков для заметок, линеек и других канцелярских принадлежностей. Решив заказать школьные канцтовары данного бренда, вы получите первоклассные товары по заманчивой стоимости. 
                            p Чтобы оформить заказ, зарегистрируйтесь на сайте, добавьте товары в корзину и завершите покупку. Наши менеджеры свяжутся с вами для подтверждения.
                    .text-wrapper 
                        h2 Офисные товары оптом:
                        .text 
                            p Феникс+ — производитель канцелярии с креативным оформлением: карандашей, пеналов, блоков для заметок, линеек и других канцелярских принадлежностей. Решив заказать школьные канцтовары данного бренда, вы получите первоклассные товары по заманчивой стоимости. Чтобы оформить заказ, зарегистрируйтесь на сайте, добавьте товары в корзину и завершите покупку. Наши менеджеры свяжутся с вами для подтверждения.
                            p В этом году ФЕНИКС+  совместно с депутатом Государственной Думы Тутовой Ларисой Николаевной, депутатами Законодательного Собрания Ростовской области - Сизякиным Дмитрием Владимировичем, Гелас Максимом Валерьевичем и главой администрации Кировского района Ростова-на-Дону Симаченко Наталией Олеговной поддержал всероссийскую акцию и подарил канцелярские наборы и школьные ранцы будущим первоклассникам. Ребята нас заверили, что с ранцами ФЕНИКС+ будут учиться только на 5!
                    .text-wrapper 
                        h2 заголовок текста с фото
                        .text 
                            p Феникс+ — производитель канцелярии с креативным оформлением: карандашей, пеналов, блоков для заметок, линеек и других канцелярских принадлежностей. Решив заказать школьные канцтовары данного бренда, вы получите первоклассные товары по заманчивой стоимости. Чтобы оформить заказ, зарегистрируйтесь на сайте, добавьте товары в корзину и завершите покупку. Наши менеджеры свяжутся с вами для подтверждения.
                        .image-wrapper 
                            img(src="./img/about/info/preview.jpg", alt="news")
                        .text 
                            p В этом году ФЕНИКС+  совместно с депутатом Государственной Думы Тутовой Ларисой Николаевной, депутатами Законодательного Собрания Ростовской области - Сизякиным Дмитрием Владимировичем, Гелас Максимом Валерьевичем и главой администрации Кировского района Ростова-на-Дону Симаченко Наталией Олеговной поддержал всероссийскую акцию и подарил канцелярские наборы и школьные ранцы будущим первоклассникам. Ребята нас заверили, что с ранцами ФЕНИКС+ будут учиться только на 5!
                    .text-wrapper 
                        h3 заголовок списка с текстом
                        .text 
                            p Феникс+ — производитель канцелярии с креативным оформлением: карандашей, пеналов, блоков для заметок, линеек и других канцелярских принадлежностей. Решив заказать школьные канцтовары данного бренда, вы получите первоклассные товары по заманчивой стоимости. Чтобы оформить заказ, зарегистрируйтесь на сайте, добавьте товары в корзину и завершите покупку. Наши менеджеры свяжутся с вами для подтверждения.
                        ul 
                            li Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li Организация рабочего места: папки, подставки для карандашей и ручек, блокноты, ежедневники, записные книжки.
                            li Офисная бумага: блоки для заметок, клейкие листочки, закладки.
                            li Офисные аксессуары: корректоры, канцелярские ножи, скрепки, клеи-карандаши, зажимы, степлеры, ножницы.
                    .text-wrapper 
                        h4 заголовок списка
                        ul 
                            li Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li Организация рабочего места: папки, подставки для карандашей и ручек, блокноты, ежедневники, записные книжки.
                            li Офисная бумага: блоки для заметок, клейкие листочки, закладки.
                            li Офисные аксессуары: корректоры, канцелярские ножи, скрепки, клеи-карандаши, зажимы, степлеры, ножницы.
                    .text-wrapper 
                        h5 нумерованный список
                        ol 
                            li Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                            li Организация рабочего места: папки, подставки для карандашей и ручек, блокноты, ежедневники, записные книжки.
                            li Офисная бумага: блоки для заметок, клейкие листочки, закладки.
                            li Офисные аксессуары: корректоры, канцелярские ножи, скрепки, клеи-карандаши, зажимы, степлеры, ножницы.
                                ol 
                                    li Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
                                    li Письменные принадлежности: шариковые и гелевые ручки, маркеры, карандаши, точилки, ластики, линейки.
            .side-block 
                .sticky-block 
                    h4 Может быть интересно
                    .list 
                        +info-card({img: './img/home/ideas/2.jpg', date:'3 января 2025', title: 'ФЕНИКС+ на выставке "СКРЕПКА ЭКСПО 2024"'}).row
                        +info-card({img: './img/home/ideas/3.jpg', date:'3 января 2025', title: '"ЕДИНАЯ РОССИЯ" и "ФЕНИКС+" вручили ранцы и канцтовары будущим первоклассникам!'}).row
                        +info-card({img: './img/home/ideas/4.jpg', date:'3 января 2025', title: 'Ранец "Балерина" победил в конкурсе "БИТВА ТЕКСТИЛЯ" в КАНЦКЛУБЕ!'}).row