mixin career-team()
    .career-team
        .career-team-inner.container 
            h3 Стань частью команды профессионалов
        .career-team-list 
            .rows 
                .row 
                    .image-wrapper 
                        img( src="./img/career/team/1.jpg", alt="team" loading='lazy' width='204' height='273')
                    .image-wrapper 
                        img( src="./img/career/team/2.jpg", alt="team" loading='lazy' width='204' height='273')
                    .image-wrapper 
                        img( src="./img/career/team/3.jpg", alt="team" loading='lazy' width='204' height='273')
                .row  
                    .image-wrapper 
                        img( src="./img/career/team/1.jpg", alt="team" loading='lazy' width='204' height='273')
                    .image-wrapper 
                        img( src="./img/career/team/2.jpg", alt="team" loading='lazy' width='204' height='273')
                    .image-wrapper 
                        img( src="./img/career/team/3.jpg", alt="team" loading='lazy' width='204' height='273')
            .person-container
                .sticky-block
                    .person 
                        .image-wrapper 
                            img( src="./img/career/team/person.svg", alt="person" loading='lazy' width='96' height='96')
                        p.title тут можете <br>быть вы