mixin home-partners()
    .home-partners
        .home-partners-inner 
            .titl-wrapper.container
                h3 нам доверяют
            .marquee-wrapper 
                .marquee
                    .marquee__group
                        img( src="./img/home/partners/1.jpg", alt="partners" loading='lazy' width='204' height='136')
                        img( src="./img/home/partners/2.jpg", alt="partners" loading='lazy' width='204' height='136')
                        img( src="./img/home/partners/3.jpg", alt="partners" loading='lazy' width='204' height='136')
                        img( src="./img/home/partners/4.jpg", alt="partners" loading='lazy' width='204' height='136')
                        img( src="./img/home/partners/5.jpg", alt="partners" loading='lazy' width='204' height='136')
                        img( src="./img/home/partners/6.jpg", alt="partners" loading='lazy' width='204' height='136')
                        img( src="./img/home/partners/1.jpg", alt="partners" loading='lazy' width='204' height='136')
                        img( src="./img/home/partners/2.jpg", alt="partners" loading='lazy' width='204' height='136')
                        img( src="./img/home/partners/3.jpg", alt="partners" loading='lazy' width='204' height='136')
                        img( src="./img/home/partners/4.jpg", alt="partners" loading='lazy' width='204' height='136')
                        img( src="./img/home/partners/5.jpg", alt="partners" loading='lazy' width='204' height='136')
                        img( src="./img/home/partners/6.jpg", alt="partners" loading='lazy' width='204' height='136')
                    .marquee__group
                        img( src="./img/home/partners/7.jpg", alt="partners" loading='lazy' width='204' height='136')
                        img( src="./img/home/partners/8.jpg", alt="partners" loading='lazy' width='204' height='136')
                        img( src="./img/home/partners/9.jpg", alt="partners" loading='lazy' width='204' height='136')
                        img( src="./img/home/partners/10.jpg", alt="partners" loading='lazy' width='204' height='136')
                        img( src="./img/home/partners/11.jpg", alt="partners" loading='lazy' width='204' height='136')
                        img( src="./img/home/partners/12.jpg", alt="partners" loading='lazy' width='204' height='136')
                        img( src="./img/home/partners/7.jpg", alt="partners" loading='lazy' width='204' height='136')
                        img( src="./img/home/partners/8.jpg", alt="partners" loading='lazy' width='204' height='136')
                        img( src="./img/home/partners/9.jpg", alt="partners" loading='lazy' width='204' height='136')
                        img( src="./img/home/partners/10.jpg", alt="partners" loading='lazy' width='204' height='136')
                        img( src="./img/home/partners/11.jpg", alt="partners" loading='lazy' width='204' height='136')
                        img( src="./img/home/partners/12.jpg", alt="partners" loading='lazy' width='204' height='136')