.badge {
  @include borr(4);
  @include s(height, 19);
  @include padding(0, 10);
  @include descr-xs;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: var(--trs-cubic-300);
  &.success {
    border: 1px solid var(--green-color);
    color: var(--green-color);
    &.fill {
      background: var(--green-color);
      color: var(--white-color);
    }
  }
  &.blue {
    border: 1px solid var(--blue-color);
    color: var(--blue-color);
  }
  &.warn {
    border: 1px solid var(--warn-color);
    color: var(--warn-color);
    &.fill {
      background: var(--warn-color);
      color: var(--white-color);
    }
  }
  &.alert {
    border: 1px solid var(--alert-color);
    color: var(--alert-color);
  }
}
