input {
  border: none;
  outline: none;
  width: 100%;
  &.transparent {
    background: rgba(255, 255, 255, 0.5);
    @include borr(6);
    @include padding(0, 24);
    @include s(height, 48);
    @include body-m;
    color: var(--white-color);
    transition: var(--trs-cubic-300);
    @media (max-width: $tab) {
      @include s(height, 44);
      @include padding(0, 16);
      @include body-s;
      background: var(--back-color);
      color: var(--gray-color);
    }
    &:placeholder-shown {
      @include body-m;
      color: var(--white-color);
      transition: var(--trs-cubic-300);
      @media (max-width: $tab) {
        @include body-s;
        color: var(--gray-light-color);
      }
    }
  }
}

.input__row {
  &.gray {
    input {
      background: var(--back-color);
    }
  }
  input {
    @include s(height, 48);
    @include borr(6);
    @include padding(0, 24);
    @include body-m;

    &::placeholder-shown {
      @include body-m;
      color: var(--gray-light-color);
    }
  }
}

textarea {
  background: var(--back-color);
  @include borr(12);
  @include padding(12, 24);
  resize: none;
  border: none;
  outline: none;
  @include s(height, 81);
  @include body-m;
  width: 100%;
  &::placeholder-shown {
    @include body-m;
    color: var(--gray-light-color);
  }
}
.password-input-row {
  position: relative;
  .show-password {
    position: absolute;
    @include s(height, 28);
    @include s(width, 28);
    @include s(right, 16);
    @include s(top, 11);
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      @include s(height, 20);
      @include s(width, 26);
    }
  }
}

input[type="radio"] {
  appearance: none;
  @include s(min-width, 20);
  @include s(min-height, 20);
  @include s(max-width, 20);
  @include s(max-height, 20);
  border-radius: 999px;
  border: 1px solid var(--line-color);
  position: relative;
  transition: var(--trs-cubic-300);
  cursor: pointer;

  &:checked {
    // background: var(--gray-color);
    border-color: var(--violet-color);
    &:before {
      box-shadow: inset 0 0 0 calc(4 / var(--screensize) * 100vw)
        var(--violet-color);
    }
    // &:after {
    //   opacity: 1;
    // }
  }
  &:after {
    content: "";
    @include s(width, 20);
    @include s(height, 20);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    // background: var(--gray-color);
    opacity: 0;
    transition: var(--trs-cubic-300);
    border-radius: 999px;
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 0 var(--violet-color);
    border-radius: 999px;
    transition: var(--trs-cubic-300);
    z-index: 2;
  }
}
