.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(238, 238, 238, 0.8);
  backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  pointer-events: none;
  opacity: 0;
  transition: var(--trs-cubic-300);
  @include padding(20);

  &.active {
    pointer-events: all;
    opacity: 1;
    .modal-content-wrapper {
      transform: translateY(0);
      opacity: 1;
      pointer-events: all;
    }
  }
  .modal-content-wrapper {
    overflow: auto;
    position: relative;
    transform: perspective(600px) rotateX(10deg) translateY(-50%);
    // opacity: 0;
    pointer-events: none;
    transition: var(--trs-cubic-300);
    background: var(--white-color);
    @include padding(48, 76, 48, 26);
    @include borr(20);
    @include s(height, 500);
    max-height: calc(100vh - 106px);
    height: fit-content;
    width: 100%;
    @media (max-width: $tab-sm) {
      @include padding(32, 24);
    }
    .close-modal-wrapper {
      display: flex;
      justify-content: flex-end;
      position: sticky;
      @include s(top, 0);
      @include s(right, 0);
      z-index: 10;
      @media (max-width: $tab-sm) {
        @include s(top, 34);
      }
      .close-modal {
        position: absolute;
        @include s(top, 19);
        @include s(right, 20);
        @include s(width, 36);
        @include s(height, 36);
        @include borr(6);
        padding: 0;
        @include s(margin-top, -20);
        @include s(margin-right, -20);
        background: var(--white-color);
        border: 1px solid var(--line-color);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: var(--trs-cubic-300);
        @media (max-width: $tab-sm) {
          @include s(margin-right, 0);
        }
        &:hover {
          background: var(--violet-color);
          border-color: var(--violet-color);
          svg {
            path {
              stroke: var(--white-color);
            }
          }
        }
        svg {
          @include s(width, 18);
          @include s(height, 18);
        }
      }
    }
  }
}
