@use "src/scss/common/files/mixins" as *;

.about-geography {
  @include s(margin-top, 116);
  @media (max-width: $tab-sm) {
    @include s(margin-top, 64);
  }
  .about-geography-inner {
    h3 {
      text-align: center;
      @include h2;
      @media (max-width: $tab-sm) {
        text-align: left;
      }
    }
    .image-wrapper {
      @include s(width, 1061);
      @include s(height, 427);
      @include s(margin-top, 36);
      margin-left: auto;
      margin-right: auto;
      @media (max-width: $tab-sm) {
        @include s(width, 360);
        @include s(height, 231);
        @include s(margin-left, -20);
        @include s(margin-right, -20);
        margin-top: 0;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media (max-width: $tab-sm) {
          display: none;
        }
        &.mob {
          display: none;
          @media (max-width: $tab-sm) {
            display: block;
          }
        }
      }
    }
    .content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include s(gap, 24);
      @include s(max-width, 1116);
      margin-left: auto;
      margin-right: auto;
      @include s(margin-top, -116);
      @media (max-width: $tab-sm) {
        grid-template-columns: repeat(1, 1fr);
        @include s(gap, 28);
        @include s(margin-top, -48);
      }
      .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
          color: var(--violet-color);
          font-weight: 200;
          @include s(font-size, 96);
          @include s(letter-spacing, -3);
          line-height: 80%;
          @media (max-width: $tab-sm) {
            font-weight: 300;
            @include s(font-size, 56);
            @include s(letter-spacing, -1);
          }
        }
        .descr {
          text-transform: uppercase;
          @include h6;
          text-align: center;
          @include s(margin-top, 24);
          @media (max-width: $tab-sm) {
            @include s(margin-top, 12);
            @include descr-m;
          }
        }
      }
    }
  }
}
