mixin about-geography()
    .about-geography
        .about-geography-inner.container 
            h3 География и логистика
            .image-wrapper 
                img(load='lazy' src="./img/about/geography/map.svg", alt="map")
            .content 
                .col 
                    p.title 120+
                    p.descr Региональных представительств <br>по всей России и СНГ
                .col 
                    p.title 2 000 000+
                    p.descr Единиц продукции <br>отгружаем ежегодно