mixin wholesale-marketing-materials-files()
    .wholesale-marketing-materials-files
        .wholesale-marketing-materials-files-inner.container.tabs-wrapper
            .content 
                h1 школьная продукция
                .marketing-materials-list 
                    +info-card({img: './img/wholesale-marketing-materials-files/1.jpg', descr: 'Программа лояльности также позволяет использовать накопленные баллы для оплаты.', title: '300 х 250', btnTitle: 'подробнее', width: '318', height: '181'})
                    +info-card({img: './img/wholesale-marketing-materials-files/2.jpg', descr: 'Программа лояльности также позволяет использовать накопленные баллы для оплаты.', title: '728 х 90', btnTitle: 'подробнее', width: '318', height: '181'})
                    +info-card({img: './img/wholesale-marketing-materials-files/3.jpg', descr: 'Программа лояльности также позволяет использовать накопленные баллы для оплаты.', title: '240 х 400', btnTitle: 'подробнее', width: '318', height: '181'})
                    +info-card({img: './img/wholesale-marketing-materials-files/4.jpg', descr: 'Программа лояльности также позволяет использовать накопленные баллы для оплаты.', title: '1080 x 607', btnTitle: 'подробнее', width: '318', height: '181'})
                    +info-card({img: './img/wholesale-marketing-materials-files/5.jpg', descr: 'Программа лояльности также позволяет использовать накопленные баллы для оплаты.', title: 'HTML5-баннер', btnTitle: 'подробнее', width: '318', height: '181'})
            .menu-block 
                .sticky-block
                    +profile-wholesale-menu()