@use "src/scss/common/files/mixins" as *;

.product-card {
  display: flex;
  flex-direction: column;
  &.absolute {
    position: absolute;
  }

  .cart-btn.violet {
    background: var(--violet-color) !important;
  }
  .presale {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include s(margin-top, 22);

    .selector-btn {
      margin-top: 0 !important;
    }
    .checkbox-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      .ios-switch {
        @include s(font-size, 12);
        text-transform: uppercase;
        display: flex;
        align-items: center;
      }
    }
  }
  &.sm {
    background: var(--white-color);
    @include padding(10);
    @include borr(12);
    .product-card-swiper-wrapper {
      @include s(height, 238);
      @include s(min-height, 238);
      .hidden-content {
        .btn {
          display: none;
        }
      }
    }
    .product-info {
      @include padding(0, 12, 12, 12);

      .cart-btn-wrapper {
        display: none;
      }
    }
  }
  &.in-cart {
    .product-info {
      .cart-btn-wrapper {
        .counter {
          width: 50%;
          @media (max-width: $tab-sm) {
            width: 100%;
            z-index: 3;
          }
        }
        .cart-btn {
          width: 50%;
          @include s(padding-right, 15);
          @media (max-width: $tab-sm) {
            @include s(padding-right, 0);
          }
          svg {
            opacity: 1;
            @media (max-width: $tab-sm) {
              opacity: 0;
            }
          }
        }
      }
    }
  }
  &:hover {
    .hidden-content {
      opacity: 1 !important;
    }
    .badge {
      @include borr(4);
      @include s(height, 19);
      @include padding(0, 10);
      @include descr-xs;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      &.success {
        background: var(--green-color);
        color: var(--white-color);
      }
      &.blue {
        background: var(--blue-color);
        color: var(--white-color);
      }
      &.warn {
        background: var(--warn-color);
        color: var(--white-color);
      }
      &.alert {
        background: var(--alert-color);
        color: var(--white-color);
      }
    }
  }
  .product-card-swiper-wrapper {
    @include s(height, 318);
    @include s(min-height, 318);
    @include borr(12);
    background: var(--back-color);
    position: relative;
    @media (max-width: $tab-sm) {
      @include s(height, 150);
      @include s(min-height, 150);
    }
    .product-card-features {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 3;
      position: absolute;
      @media (max-width: $tab-sm) {
        bottom: 0;
        pointer-events: none;
      }
      .badge {
        position: absolute;
        @include s(top, 18);
        @include s(left, 20);
        @media (max-width: $tab-sm) {
          top: auto;
          @include s(left, 10);
          @include s(bottom, 10);
        }
      }
      .features-list {
        display: flex;
        align-items: center;
        @include s(gap, 4);
        position: absolute;
        @include s(top, 10);
        @include s(right, 10);
        @media (max-width: $tab-sm) {
          @include s(left, 4);
          @include s(top, 4);
          @include s(right, 4);
          justify-content: space-between;
        }
        .btn {
          @include s(width, 36);
          @include s(height, 36);
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          @media (max-width: $tab-sm) {
            pointer-events: all;
          }

          &:hover {
            svg {
              path {
                // fill: var(--violet-color);
                stroke: var(--violet-color);
              }
            }
          }
          svg {
            @include s(width, 19);
            @include s(height, 19);
          }
        }
      }
    }
    .product-swiper {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      .swiper-wrapper {
        mix-blend-mode: multiply;
        @media (max-width: $tab-sm) {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }
      }
      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0 !important;

        &.swiper-slide-active {
          opacity: 1 !important;
        }
        img {
          width: 70%;
          height: 70%;
          object-fit: contain;
        }
      }
      .lines {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        z-index: 2;
        span {
          width: 100%;
          height: 100%;
        }
      }
    }
    .hidden-content {
      position: absolute;
      @include s(bottom, 20);
      @include s(right, 30);
      @include s(left, 30);
      z-index: 3;
      display: flex;
      flex-direction: column;
      @include s(gap, 20);
      opacity: 0;
      transition: var(--trs-cubic-300);
      @media (max-width: $tab-sm) {
        opacity: 1;
        @include s(bottom, -6);
        @include s(right, 9);
        @include s(left, 9);
      }
      .btn {
        text-transform: uppercase;
        @include descr-m;
        @media (max-width: $tab-sm) {
          display: none;
        }
      }
    }
  }
  .product-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    .main-info {
      @include s(margin-top, 16);
      flex: 1;
      @media (max-width: $tab-sm) {
        @include s(margin-top, 26);
      }
      .top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media (max-width: $tab-sm) {
          display: none;
        }
        .left-block {
          display: flex;
          flex-direction: column;
          p {
            color: var(--gray-light-color);
            text-transform: uppercase;
            @include descr-s;
          }
        }
        .right-block {
          .count {
            position: relative;
            @include descr-s;
            text-transform: uppercase;
            color: var(--gray-light-color);
            @include s(padding-left, 22);
            @media (max-width: $tab-sm) {
              display: none;
            }
            &:before {
              content: "";
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              border-radius: 999px;
              @include s(width, 12);
              @include s(height, 12);
            }
            &.many {
              &:before {
                background: var(--green-color);
              }
            }
            &.few {
              &:before {
                background: var(--warn-color);
              }
            }

            &.presale {
              margin-top: 0;
              &:before {
                background: var(--violet-color);
              }
            }
          }
        }
      }
      .bottom {
        @include s(margin-top, 16);
        @media (max-width: $tab-sm) {
          margin-top: 0;
        }
        .price-wrapper {
          display: flex;
          align-items: baseline;
          @include s(gap, 12);
          @media (max-width: $tab-sm) {
            @include s(gap, 8);
          }
          .price {
            @include body-xl;
            @media (max-width: $tab-sm) {
              @include body-sb;
            }
          }
          .oldPrice {
            font-weight: 600;
            @include s(font-size, 14);
            line-height: 130%;
            color: #b2b3ba;
            text-decoration: line-through;
          }
        }

        .descr {
          @include body-sb;
          @include s(margin-top, 6);
          @media (max-width: $tab-sm) {
            @include s(margin-top, 8);

            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
          }
        }
      }
    }
    .cart-btn-wrapper {
      @include s(margin-top, 20);
      @media (max-width: $tab-sm) {
        @include s(margin-top, 12);
      }
      .counter {
        width: 20%;
        background: var(--back-color);
        @include s(height, 44);
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include borr(6);
        @include padding(0, 10);
        position: absolute;
        transition: var(--trs-cubic-600);
        @media (max-width: $tab-sm) {
          @include s(height, 36);
        }
        .btn {
          display: flex;
          align-items: center;
          justify-content: center;
          @include s(height, 28);
          @include s(width, 28);
          padding: 0;
          &:hover {
            svg {
              path {
                stroke: var(--violet-color);
              }
            }
          }
        }
        .current-count {
          display: flex;
          align-items: center;
          @include body-m;
        }
      }
      .cart-btn {
        width: 100%;
        justify-content: center;
        z-index: 2;
        position: relative;
        margin-left: auto;
        @media (max-width: $tab-sm) {
          @include s(height, 36);
        }
        p {
          text-transform: uppercase;
          @include descr-m;
          @media (max-width: $tab-sm) {
            @include descr-s;
          }
        }
        svg {
          position: absolute;
          opacity: 0;
          @include s(right, 26);
          @include s(width, 8);
          @include s(height, 16);
          transition: var(--trs-cubic-300);
        }
      }
    }
  }
}

.product-info-hor {
  display: none;
  @include s(padding-top, 28);
  @include s(margin-left, 28);
  justify-content: space-between;
  border-top: 1px solid #DCDDE1;
  width: 100%;
  .presale {
    flex-direction: column-reverse;
    align-items: flex-start;
    @include s(row-gap, 10);
  }

  .remove-btn {
    padding: 0;
    margin-left: auto;
    svg {
      @include s(width, 20);
      @include s(height, 20);
    }
  }
  .left-side {
    @include s(max-width, 418);
    width: 100%;

    .descr {
      @include body-sb;
      @include s(margin-top, 6);
      @include s(margin-bottom, 12);
      @media (max-width: $tab-sm) {
        @include s(margin-top, 8);

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
      }
    }

    .top {
      @include s(margin-bottom, 20);
      display: flex;
      @include s(gap, 28);
      span {
        color: var(--gray-light-color);
        text-transform: uppercase;
        @include descr-s;
      }
    }

    .info {
      p {
        @include s(font-size, 14);
        color: #A8A9B0;

        span {
          color: #333435;
        }
      }

      @media (max-width: $tab-sm) {
        display: none;
      }
    }
  }


  .right-side {
    @include s(max-width, 204);
    width: 100%;
    .count {
      position: relative;
      @include descr-s;
      text-transform: uppercase;
      color: var(--gray-light-color);
      @include s(padding-left, 22);
      @media (max-width: $tab-sm) {
        display: none;
      }
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        bottom: 0;
        left: 0;
        border-radius: 999px;
        @include s(width, 12);
        @include s(height, 12);
      }
      &.many {
        &:before {
          background: var(--green-color);
        }
      }
      &.few {
        &:before {
          background: var(--warn-color);
        }
      }

      &.no {
        color: #E14142;
        &:before {
          background:#E14142;
        }
      }
    }

    .error-msg {
      color: #E14142;
      background: #FFE8E8;
      @include body-xs;
      @include padding(8, 12, 8, 12);
      @include s(margin-top, 4);
      @include s(border-radius, 6);
    }

    .nds {
      @include s(margin-top, 10);
      p {
        @include body-xl;
        font-weight: 400;
      }

      span {
        @include body-xs;
        color: #A8A9B0;
        font-weight: 400;
        display: block;
      }
    }


    .price-wrapper {
      display: flex;
      align-items: baseline;
      @include s(margin-bottom, 12);
      @include s(margin-top, 12);
      @include s(gap, 12);
      @media (max-width: $tab-sm) {
        @include s(gap, 8);
      }
      .price {
        @include body-xl;
        @media (max-width: $tab-sm) {
          @include body-sb;
        }
      }
      .oldPrice {
        font-weight: 600;
        @include s(font-size, 14);
        line-height: 130%;
        color: #b2b3ba;
        text-decoration: line-through;
      }
    }

    .btn.primary {
      width: 100%;
    }
    .counter {
      width: 100%;
      background: var(--back-color);
      @include s(height, 44);
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include borr(6);
      @include padding(0, 10);
      transition: var(--trs-cubic-600);
      @media (max-width: $tab-sm) {
        @include s(height, 36);
      }
      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        @include s(height, 28);
        @include s(width, 28);
        padding: 0;
        &:hover {
          svg {
            path {
              stroke: var(--violet-color);
            }
          }
        }
      }
      .current-count {
        display: flex;
        align-items: center;
        @include body-m;
      }
    }
  }
}

.product-card-cart {
  flex-direction: row;

  
  &.no {
    .product-card-swiper-wrapper {
      opacity: .4;
    }

    .left-side {
      opacity: .4;
    }

    .price-wrapper {
      opacity: .4;
    }
  }

  .counter {
    @include s(margin-top, 10);
  }
  .product-card-swiper-wrapper {
    aspect-ratio: 1 / 1;
    @include s(min-height, 212);
    @include s(height, 212);

    .hidden-content {
      display: none;
    }

    .product-card-features {
      bottom: 0;
      .badge {
        top: unset;
        left: unset;
        @include s(right, 10);
        @include s(bottom, 10);
        z-index: 10;
      }

      .custom-checkbox-wrapper {
        position: absolute;
        @include s(top, 13);
        @include s(left, 13);
      }
    }
  }

  .product-info-hor {
    display: flex;

    .price-wrapper {
      margin-top: 0;
      .price, .oldPrice {
        @include body-sb;
      }
    }

    .btn.outline {
      border-color: var(--violet-color);
      @include s(margin-top, 10);
      width: 100%;
      p {
        color: var(--violet-color);
        @include descr-s;
      }
    }
  }
}


.product-card-opt-selector {
  z-index: 3;
  background: none;
  .selector-btn {
    padding: 0;
    width: fit-content;
    background: none;
    height: auto;
    @include s(margin-top, 22);

    .icon {
      @include s(margin-left, 10);
    }

    .selector-title {
      display: flex;
      text-transform: uppercase;
      p {
        @include s(font-size, 12);
      }
  
      svg {
        @include s(width, 16);
        @include s(height, 16);
        flex-shrink: 0;
        @include s(margin-right, 15);
      }
    }
  }

  
}