@use "src/scss/common/files/mixins" as *;

.wholesale-knowledge-base-files {
  @include s(padding-bottom, 156);
  @media (max-width: $tab-sm) {
    @include s(padding-bottom, 64);
    @include s(margin-top, 16);
  }
  .wholesale-knowledge-base-files-inner {
    display: grid;
    @include gtc(1fr, 294);
    @include s(gap, 48);
    @include s(margin-top, 36);
    @media (max-width: $tab-sm) {
      @include s(margin-top, 20);
      grid-template-columns: 1fr;
      gap: 0;
      @include s(margin-top, 22);
    }
    h1 {
      @include h1;
    }
    .content {
      .top {
        display: flex;
        justify-content: space-between;

        .btn {
          @include s(gap, 12);
          @include s(height, 36);
          @include padding(0, 16);
          @media (max-width: $tab-sm) {
            display: none;
          }
          p {
            text-transform: uppercase;
            @include descr-s;
          }
        }
      }
      .knowledge-base-list {
        @include s(margin-top, 28);
        display: flex;
        flex-direction: column;
        @media (max-width: $tab-sm) {
          @include s(margin-top, 20);
        }
        .info-card {
          display: grid;
          @include gtc(86, 284, 1fr);
          @include s(gap, 28);
          @include s(padding-top, 48);
          @include s(padding-bottom, 48);
          border-top: 1px solid var(--line-color);
          align-items: flex-start;
          @media (max-width: $tab-sm) {
            @include s(padding-top, 28);
            @include s(padding-bottom, 28);
            grid-template-columns: 1fr;
            @include s(gap, 16);
          }
          &:last-child {
            border-bottom: 1px solid var(--line-color);
          }
          .type {
            text-transform: uppercase;
            @include descr-s;
            color: var(--gray-light-color);
          }
          .content {
            align-items: flex-start;
            display: grid;
            grid-template-areas: "title btn" "descr btn";
            @include gtc(1fr, 153);
            @include s(column-gap, 48);
            align-items: flex-start;
            margin-top: 0;
            @media (max-width: $tab-sm) {
              grid-template-columns: 1fr;
              grid-template-areas: "title" "descr" "btn";
            }
          }
          .title {
            @include h3;
            transition: var(--trs-cubic-300);
            text-transform: uppercase;
            text-align: left;
            grid-area: title;
          }
          .descr {
            @include descr-m;
            grid-area: descr;
            @include s(margin-top, 12);
            letter-spacing: 0;
          }
          .btn {
            @include s(height, 36);
            @include padding(0, 16);
            grid-area: btn;
            @media (max-width: $tab-sm) {
              width: fit-content;
            }
            p {
              @include descr-s;
            }
            svg {
              @include s(width, 8);
              @include s(height, 14);
            }
          }
        }
      }
    }
    .menu-block {
    }
  }
}
