@use "src/scss/common/files/mixins" as *;

.charity-modal {
  .modal-content-wrapper {
    // height: 100% !important;
    // max-height: 100% !important;
  }
  .modal-content {
    display: grid;
    @include gtc(546, 1fr);
    @include s(gap, 48);
    @media (max-width: $tab-sm) {
      grid-template-columns: 1fr;
      @include s(gap, 36);
    }
    .single-swiper-wrapper {
      //   @include s(height, 310);
      position: relative;
      .sticky-block {
        top: 0;
      }
      .single-swiper {
        overflow: hidden;
        @include s(height, 310);
        @include borr(12);
        @media (max-width: $tab-sm) {
          position: relative;
          @include s(height, 180);
          .swiper-wrapper {
            position: absolute;
            height: 100%;
            width: 100%;
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .navigation {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        @include s(left, -23);
        @include s(right, -23);
        justify-content: space-between;
        z-index: 2;
      }
    }
    .content-wrapper {
      h3 {
        @include h2;
      }
      .content {
        display: flex;
        flex-direction: column;
        @include s(gap, 64);
        @include s(margin-top, 28);
        @media (max-width: $tab-sm) {
          @include s(margin-top, 10);
          @include s(gap, 36);
        }
        .text-wrapper {
          h4 {
            @include h3;
          }
          .subtitle {
            @include body-xl;
            @media (max-width: $tab-sm) {
              @include body-lb;
            }
          }
          .text {
            display: flex;
            flex-direction: column;
            @include s(gap, 10);
            @include s(margin-top, 16);

            p {
              @include body-l;
            }
          }
        }
      }
    }
  }
}
