mixin edit-current-cart()
    .edit-current-cart.modal
        .modal-content-wrapper
            .close-modal-wrapper
                button.btn.close-modal 
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.05026 14.9497L14.9498 5.05025" stroke="#343176"/>
                        <path d="M14.9498 14.9497L5.05026 5.05025" stroke="#343176"/>
                    </svg>
            .modal-content
                form.form
                    p.title редактировать корзину
                    .inputs 
                        .input-wrapper
                            p Название корзины
                            .input__row.password-input-row.gray
                                input(type="text" placeholder="Например: Основная").custom-input.input.form__input-value
                                .input__item-small
                    .btns
                        button.btn.primary.m.submit-btn
                            span Сохранить
                        button.btn.outline.gray.m.submit-btn
                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 14.5L15 0.5M15 14.5L1 0.500001" stroke="#A8A9B0"/>
                            </svg>
                            span Удалить корзину