@use "src/scss/common/files/mixins" as *;

.change-password {
  @include s(margin-top, 28);
  @include s(padding-bottom, 156);
  @media (max-width: $tab-sm) {
    @include s(padding-bottom, 64);
    @include s(margin-top, 16);
  }
  .change-password-inner {
    h1 {
      @include h1;
    }
    .content {
      @include s(margin-top, 36);
      display: grid;
      @include gtc(661, 432);
      @include s(gap, 252);
      .inputs {
        display: flex;
        flex-direction: column;
        @include s(gap, 24);
        .input-wrapper {
          display: grid;
          @include gtc(205, 1fr);
          align-items: center;
          @include s(gap, 24);
          p {
            font-weight: 400;
            @include s(font-size, 16);
            line-height: 120%;
          }
        }
        .submit-btn {
          @include padding(0, 48);
          @include s(margin-left, 230);
          justify-content: center;
          p {
            text-transform: uppercase;
            @include descr-m;
          }
        }
      }
      .info-block {
        h4 {
          @include h6;
          text-transform: uppercase;
          color: var(--violet-color);
        }
        .form-info {
          @include s(margin-top, 16);
          .socials {
            display: flex;
            align-items: center;
            @include s(gap, 12);
            a {
              display: flex;
              align-items: center;
              justify-content: center;
              @include s(width, 44);
              @include s(height, 44);
              @include borr(6);
              &.tg {
                background: #528df0;
              }
              &.wa {
                background: #50b550;
              }
            }
          }
          .date {
            display: flex;
            align-items: center;
            @include s(gap, 16);
            p {
              @include descr-m;
              text-transform: uppercase;
            }
          }
          .btn-wrapper {
            display: grid;
            @include gtc(226, 1fr);
            @include s(gap, 20);
            align-items: center;
            @include s(margin-top, 28);
            @media (max-width: $tab-sm) {
              @include s(gap, 12);
              @include gtc(208, 1fr);
            }
            .btn {
              justify-content: center;
              @include s(gap, 16);
              p {
                @include body-m;
              }
            }
          }
          .descr {
            @include s(margin-top, 28);
            @include body-m;
          }
        }
      }
    }
  }
}
