mixin career-info()
    .content-info
        .content-info-inner.container
            .text 
                .top 
                    h3 Феникс+ — команда для тех, кто готов к новым вершинам
                .bottom 
                    p Мы объединяем профессионалов и опытных специалистов, которые стремятся реализовать свои идеи и достигать амбициозных целей. Здесь ценят ваш опыт, поддерживают инициативу и создают возможности для дальнейшего совершенствования.
            .video-block 
                video(src='./files/video.mp4' type='video/mp4' preload="auto" poster="./img/about/info/preview.jpg")
                button.btn.play-btn 
                    img(load='lazy' src="./img/icons/play.svg", alt="play") 
