@use "src/scss/common/files/mixins" as *;

.about-charity {
  @include s(margin-top, 116);
  overflow: hidden;
  @media (max-width: $tab-sm) {
    @include s(margin-top, 64);
  }
  .about-charity-inner {
    h3 {
      text-align: center;
      @include h2;
      @media (max-width: $tab-sm) {
        text-align: left;
      }
    }
    .double-swiper {
      @include s(margin-top, 36);
      position: relative;
      @media (max-width: $tab-sm) {
        @include s(margin-top, 28);
      }
      .swiper-slide {
        opacity: 0;
        transition: opacity var(--trs-cubic-300);
        &.visible-slide {
          opacity: 1;
        }
        &:hover {
          .title {
            color: var(--violet-color);
          }
        }
        .title {
          cursor: pointer;
        }
      }
      .video-block {
        @include s(height, 372);
        @media (max-width: $tab-sm) {
          @include s(height, 180);
        }
        .play-btn {
          img {
            @include s(height, 72);
            @include s(width, 72);
            @media (max-width: $tab-sm) {
              @include s(height, 48);
              @include s(width, 48);
            }
          }
        }
      }
      .image-wrapper {
        position: relative;
        @include s(height, 372);
        @include borr(12);
        overflow: hidden;
        @media (max-width: $tab-sm) {
          @include s(height, 180);
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
        }
      }
      .title {
        @include s(margin-top, 28);
        @include h6;
        transition: var(--trs-cubic-300);
        text-align: center;
        text-transform: uppercase;
        @media (max-width: $tab-sm) {
          @include s(margin-top, 20);
          text-align: left;
        }
      }
      .navigation {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        @include s(left, -23);
        @include s(right, -23);
        justify-content: space-between;
        z-index: 2;
      }
    }
  }
}
