mixin about-charity()
    .about-charity
        .about-charity-inner.container  
            h3 Феникс+ для людей
            .double-swiper 
                .swiper-wrapper 
                    .swiper-slide(data-modal-target='video-modal') 
                        .image-wrapper  
                            img(load='lazy' src="./img/about/charity/1.jpg", alt="charity")
                            button.btn.play-btn 
                                <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="48" cy="48" r="48" fill="#49454C"/>
                                    <path d="M38.5 31.5455L67 48L38.5 64.4545L38.5 31.5455Z" stroke="white"/>
                                </svg>
                        p.title Отправляем гуманитарную помощь <br>в трудные моменты
                        
                    .swiper-slide(data-modal-target='charity-modal') 
                        .image-wrapper 
                            img(load='lazy' src="./img/about/charity/2.jpg", alt="charity")
                        p.title Поддерживаем благотворительные проекты
                    .swiper-slide(data-modal-target='video-modal') 
                        .image-wrapper  
                            img(load='lazy' src="./img/about/charity/1.jpg", alt="charity")
                            button.btn.play-btn 
                                <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="48" cy="48" r="48" fill="#49454C"/>
                                    <path d="M38.5 31.5455L67 48L38.5 64.4545L38.5 31.5455Z" stroke="white"/>
                                </svg> 
                        p.title Отправляем гуманитарную помощь <br>в трудные моменты
                        
                    .swiper-slide(data-modal-target='charity-modal') 
                        .image-wrapper 
                            img(load='lazy' src="./img/about/charity/2.jpg", alt="charity")
                        p.title Поддерживаем благотворительные проекты
                    .swiper-slide(data-modal-target='video-modal') 
                        .image-wrapper 
                            img(load='lazy' src="./img/about/charity/1.jpg", alt="charity")
                            button.btn.play-btn 
                                <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="48" cy="48" r="48" fill="#49454C"/>
                                    <path d="M38.5 31.5455L67 48L38.5 64.4545L38.5 31.5455Z" stroke="white"/>
                                </svg>
                        p.title Отправляем гуманитарную помощь <br>в трудные моменты
                        
                    .swiper-slide(data-modal-target='charity-modal') 
                        .image-wrapper 
                            img(load='lazy' src="./img/about/charity/2.jpg", alt="charity")
                        p.title Поддерживаем благотворительные проекты
                .navigation
                    button.btn.circle.l.double-swiper-prev
                        <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 13L1 7L9 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.circle.l.double-swiper-next
                        <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 13L9 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                .double-swiper-pagination-wrapper.pagination-progress-wrapper
                    p.current 01
                    .double-swiper-pagination.pagination-progress
                    p.total