mixin wholesale-loyalty-program-about()
    .wholesale-loyalty-program-about
        .wholesale-loyalty-program-about-inner.container
            .content
                .top 
                    h1 о программе лояльности
                    a(href="#").btn.outline.violet.m
                        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 13L1 7L7 1" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                        p назад
                .alert-block
                    p Для регистрации в программе лояльности, ознакомьтесь с условиями и нажмите кнопку «Принять условия»
                    a(href="#").btn.outline.violet.m
                        p ознакомиться с условиями
                        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 13L7 7L0.999999 1" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                .text-block 
                    .title-wrapper
                        .sticky-block
                            p.title Приветственный бонус
                    .text
                        p При регистрации клиент <b> получает приветственный бонус 500 баллов,</b> <br> которые можно использовать уже при первой закупке
                .text-block 
                    .title-wrapper
                        .sticky-block
                            p.title 1 балл = 1 рубль
                    .text
                        p Баллы можно использовать для <b> частичной или полной оплаты заказа, </b> <br>если их достаточно для покрытия стоимости.
                        .image-wrapper 
                            img(src="./img/wholesale-loyalty-program-about/1.jpg", alt="about")
                .text-block 
                    .title-wrapper
                        .sticky-block
                            p.title Уровни участия
                    .text
                        ul 
                            li На старте вы получаете бронзовый статус.
                            li Для перехода на следующий уровень необходимо выполнить два критерия: минимальное количество SKU и объем закупок.
                            li Система автоматически повысит ваш статус, как только будут достигнуты нужные показатели.
                            li Если в течение года вы не достигли следующего уровня или не выполнили условия для текущего статуса, система присвоит статус, соответствующий вашим показателям.
                        .image-wrapper 
                            img(src="./img/wholesale-loyalty-program-about/2.jpg", alt="about")
                .text-block 
                    .title-wrapper
                        .sticky-block
                            p.title Сгорание баллов
                    .text
                        .info 
                            .info-item 
                                p.label <b> 6 месяцев </b> вы не совершаете заказы
                                p.value -50% баллов
                            .info-item 
                                p.label <b> 12 месяцев </b> вы не совершаете заказы
                                p.value -100% баллов
                        p При регулярных покупках <b> бонусы сохраняются один год.</b>
                .alert-block
                    p Для регистрации в программе лояльности, ознакомьтесь с условиями и нажмите кнопку «Принять условия»
                    a(href="#").btn.outline.violet.m
                        p ознакомиться с условиями
                        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 13L7 7L0.999999 1" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                .accordion-wrapper 
                    h4 часто задаваемые вопросы
                    .accordion 
                        .accordion-item.nested
                            button(type='button').accordion-title 
                                .icon 
                                    <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                    </svg>
                                .title-wrapper
                                    p.title заголовок категории вопросов
                            .collapse.accordion-body
                                .accordion
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Условия возврата
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                .text 
                                                    p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Какие товары не подлежат возврату и обмену? 
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                .text 
                                                    p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Как оформить возврат или обмен?
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                .text 
                                                    p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Кто оплачивает стоимость доставки в случае возврата или обмена?
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                .text 
                                                    p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title В какой срок осуществляется возврат денежных средств?
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                .text 
                                                    p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                        .accordion-item.nested
                            button(type='button').accordion-title 
                                .icon 
                                    <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                    </svg>
                                .title-wrapper
                                    p.title заголовок категории вопросов
                            .collapse.accordion-body
                                .accordion
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Условия возврата
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                .text 
                                                    p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Какие товары не подлежат возврату и обмену? 
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                .text 
                                                    p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Как оформить возврат или обмен?
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                .text 
                                                    p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Кто оплачивает стоимость доставки в случае возврата или обмена?
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                .text 
                                                    p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title В какой срок осуществляется возврат денежных средств?
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                .text 
                                                    p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                        .accordion-item.nested
                            button(type='button').accordion-title 
                                .icon 
                                    <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                    </svg>
                                .title-wrapper
                                    p.title заголовок категории вопросов
                            .collapse.accordion-body
                                .accordion
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Условия возврата
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                .text 
                                                    p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Какие товары не подлежат возврату и обмену? 
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                .text 
                                                    p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Как оформить возврат или обмен?
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                .text 
                                                    p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Кто оплачивает стоимость доставки в случае возврата или обмена?
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                .text 
                                                    p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title В какой срок осуществляется возврат денежных средств?
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                .text 
                                                    p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                        .accordion-item.nested
                            button(type='button').accordion-title 
                                .icon 
                                    <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                    </svg>
                                .title-wrapper
                                    p.title заголовок категории вопросов
                            .collapse.accordion-body
                                .accordion
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Условия возврата
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                .text 
                                                    p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Какие товары не подлежат возврату и обмену? 
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                .text 
                                                    p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Как оформить возврат или обмен?
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                .text 
                                                    p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title Кто оплачивает стоимость доставки в случае возврата или обмена?
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                .text 
                                                    p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
                                    .accordion-item.nested-inner
                                        button(type='button').accordion-title 
                                            .icon 
                                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                                </svg>
                                            .title-wrapper
                                                p.title В какой срок осуществляется возврат денежных средств?
                                        .collapse.accordion-body
                                            .text-wrapper 
                                                ul 
                                                    li непериодические издания (книги, брошюры, альбомы, картографические и нотные издания, листовые изоиздания, календари, буклеты, издания, воспроизведенные на технических носителях информации)
                                                    li предметы личной гигиены (расческа, салфетки и т.д.)
                                                    li текстильные товары (хлопчатобумажные, льняные, шелковые, шерстяные и синтетические ткани, товары из нетканых материалов типа тканей - ленты, тесьма, кружево и другие); кабельная продукция (провода, шнуры, кабели)
                                                    li швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные)
                                                    li изделия и материалы, полностью или частично изготовленные из полимерных материалов и контактирующие с пищевыми продуктами (посуда и принадлежности столовые и кухонные, емкости и упаковочные материалы для хранения и транспортирования пищевых продуктов, в том числе для разового использования)
                                                .text 
                                                    p При отказе от товара, являющегося частью комплекта, который нельзя приобрести по частям, может быть осуществлен возврат только полного комплекта. В случае отказа от получения товара, отправленного нами в ваш адрес с вас будет удержана сумма, соответствующая нашим затратам на транспортировку товара до адресата и обратно.
            .menu-block     
                .sticky-block
                    +profile-wholesale-menu()