mixin about-map()
    .about-map
        .about-map-inner.container
            +map({center: '57.745211081975185,72.40197854752044', zoom: '4', pinImg: '../img/icons/pin.png', pins: '55.77489893304088,37.58913401562501;64.50488846336076,40.5303825689676;59.92168818137455,30.374278236509852;53.885819046533285,27.58459402423729;55.792318235284746,49.12541372779671;56.830350157535385,60.573167634046705;54.991926412925004,73.33928091529668;55.02980892339162,82.9413316965467;51.12505035466818,71.45163505891249;56.02233750996896,92.84247702183706;52.32578230904459,104.29023092808704;52.04215366513535,113.51874655308706;62.0227051983266,129.73563501811083;59.598339481930715,150.87333033061083;48.425288929864195,135.00256609159516;43.17494729107448,131.97033952909518;40.37086163743694,49.883413701889374', mainPin: '47.2040336034573,39.75401917063936'})
            .content 
                .top 
                    .col 
                        p.title 500+
                        p.descr авто в собственном автопарке
                    .col 
                        .image-wrapper 
                            img(src="./img/icons/clock-wrapper.svg", alt="clock-wrapper")
                            p.title 48
                            p.descr часов
                        .descr Среднее время доставки <br>по России
                    .col 
                        p.title 800+
                        p.descr Постоянных клиентов
                .bottom 
                    .col 
                        img(src="./img/about/map/1.png", alt="map")
                    .col 
                        img(src="./img/icons/long-arrow.svg", alt="arrow")
                    .col 
                        img(src="./img/about/map/2.png", alt="map")