@use "src/scss/common/files/mixins" as *;

.about-map {
  @include s(margin-top, 64);

  .about-map-inner {
    @media (max-width: $tab) {
      @include padding(0);
    }
    #map {
      @media (max-width: $tab) {
        @include s(height, 360);
      }
    }
    .content {
      @include s(margin-top, 48);
      @media (max-width: $tab) {
        display: none;
      }
      .top {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @include s(gap, 24);
        .col {
          display: flex;
          flex-direction: column;
          align-items: center;
          @include s(gap, 24);
          .title {
            font-weight: 200;
            @include s(font-size, 96);
            @include s(letter-spacing, -3);
            line-height: 80%;
            color: var(--violet-color);
          }
          .descr {
            text-align: center;
            @include descr-m;
            text-transform: uppercase;
          }
          .image-wrapper {
            @include s(width, 204);
            @include s(height, 204);
            position: relative;
            img {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
            }
            .title {
              position: absolute;
              @include s(right, 11);
              left: 0;
              margin: auto;
              @include s(top, 58);
              text-align: center;
            }
            .descr {
              position: absolute;
              color: var(--violet-color);
              left: 0;
              margin: auto;
              right: 0;
              @include s(bottom, 47);
            }
          }
        }
      }
      .bottom {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @include s(gap, 24);
        img {
          &:nth-child(1),
          &:nth-child(3) {
            width: 100%;
            @include s(height, 258);
          }
        }
      }
    }
  }
}
