mixin cart-opt()
	section.cart-page 
		.container 
			.cart-opt__fixed
				.cart__choose
					p.choose-num Выбрано товаров:&nbsp;
						span 0
					label.custom-checkbox-wrapper.select-all
						input(type="checkbox").custom-checkbox
						span Выбрать все
					button(type="button").remove-all 
						<svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M14.8492 16.8492L4.94975 6.94973M4.94975 16.8492L14.8492 6.94973" stroke="#343176"/>
						</svg>
						span Удалить выбранные
					button(type="button").remove-all 
						<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M16.2236 15.3795L14.6504 4.12952H2.94727L1.37402 15.3795H16.2236Z" stroke="#343176"/>
						<path d="M5.54297 4.3204C5.54297 3.8873 5.62827 3.45844 5.79401 3.05831C5.95975 2.65818 6.20268 2.29461 6.50893 1.98836C6.81518 1.68211 7.17875 1.43919 7.57888 1.27345C7.97901 1.10771 8.40787 1.0224 8.84097 1.0224C9.27407 1.0224 9.70293 1.10771 10.1031 1.27345C10.5032 1.43919 10.8668 1.68211 11.173 1.98836C11.4793 2.29461 11.7222 2.65818 11.8879 3.05831C12.0537 3.45844 12.139 3.8873 12.139 4.3204" stroke="#343176"/>
						<path d="M12.3167 4.11426L12.3167 6.46737" stroke="#343176"/>
						<path d="M5.37793 4.07422L5.37793 6.42733" stroke="#343176"/>
						</svg>
						span Переместить
					button(type="button").remove-all 
						<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0_8115_119214)">
						<rect width="16" height="16" transform="translate(0.799072 0.200989)" fill="white"/>
						<rect x="6.29907" y="3.70099" width="10" height="12" fill="white" stroke="#343176"/>
						<rect x="1.29907" y="0.700989" width="10" height="12" fill="white" stroke="#343176"/>
						</g>
						<defs>
						<clipPath id="clip0_8115_119214">
						<rect width="16" height="16" fill="white" transform="translate(0.799072 0.200989)"/>
						</clipPath>
						</defs>
						</svg>
						span Скопировать

					
				button(type="button").remove-all
					<svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M16.9004 3.89496L16.1221 15.5698C16.0346 16.883 14.944 17.9036 13.6279 17.9037H7.56738C6.3335 17.9037 5.29733 17.0071 5.10059 15.8129L5.07324 15.5698L4.29492 3.89496H16.9004Z" stroke="#343176"/>
						<path d="M1.8125 3.87854L19.5625 3.87854" stroke="#343176"/>
						<line x1="10.6289" y1="7.98108" x2="10.6289" y2="13.8179" stroke="#343176"/>
						<line x1="13.2861" y1="7.98108" x2="13.2861" y2="13.8179" stroke="#343176"/>
						<line x1="8.02344" y1="7.98108" x2="8.02344" y2="13.8179" stroke="#343176"/>
					</svg>
					span Очистить корзину
			h1 Корзина

			.cart__choose-mob
				.selector.tabs-selector.product-card-opt-selector
					.selector-btn
						span.selector-title
							<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M15.4287 15.5L13.8486 3.73727H2.15137L0.571289 15.5H15.4287Z" fill="white" stroke="#333435"/>
								<path d="M4.74414 3.95697C4.74414 3.50022 4.83051 3.04838 4.99787 2.62743C5.16522 2.20651 5.41 1.82534 5.71727 1.5052C6.02451 1.18511 6.38814 0.932338 6.78683 0.760283C7.18546 0.58825 7.61196 0.5 8.04214 0.5C8.47233 0.5 8.89882 0.58825 9.29746 0.760282C9.69615 0.932338 10.0598 1.18511 10.367 1.5052C10.6743 1.82534 10.9191 2.20651 11.0864 2.62743C11.2538 3.04838 11.3401 3.50022 11.3401 3.95697" stroke="#333435"/>
								<path d="M11.5176 3.74188L11.5176 6.19349" stroke="#333435"/>
								<path d="M4.58008 3.70004L4.58008 6.15165" stroke="#333435"/>
							</svg>
							span.text-content
								input(type="radio" name="cart" )
								span Основная
						span.icon
							<svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 1L10 11L19 1" stroke="#333435"/>
							</svg>
					.selector-content
						.selector-list
							label.radio-item
								<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M15.4287 15.5L13.8486 3.73727H2.15137L0.571289 15.5H15.4287Z" fill="white" stroke="#333435"/>
									<path d="M4.74414 3.95697C4.74414 3.50022 4.83051 3.04838 4.99787 2.62743C5.16522 2.20651 5.41 1.82534 5.71727 1.5052C6.02451 1.18511 6.38814 0.932338 6.78683 0.760283C7.18546 0.58825 7.61196 0.5 8.04214 0.5C8.47233 0.5 8.89882 0.58825 9.29746 0.760282C9.69615 0.932338 10.0598 1.18511 10.367 1.5052C10.6743 1.82534 10.9191 2.20651 11.0864 2.62743C11.2538 3.04838 11.3401 3.50022 11.3401 3.95697" stroke="#333435"/>
									<path d="M11.5176 3.74188L11.5176 6.19349" stroke="#333435"/>
									<path d="M4.58008 3.70004L4.58008 6.15165" stroke="#333435"/>
								</svg>
								input(type='radio' name="cart" value="Основная")
								span Основная
							label.radio-item
								<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M15.4287 15.5L13.8486 3.73727H2.15137L0.571289 15.5H15.4287Z" fill="white" stroke="#333435"/>
									<path d="M4.74414 3.95697C4.74414 3.50022 4.83051 3.04838 4.99787 2.62743C5.16522 2.20651 5.41 1.82534 5.71727 1.5052C6.02451 1.18511 6.38814 0.932338 6.78683 0.760283C7.18546 0.58825 7.61196 0.5 8.04214 0.5C8.47233 0.5 8.89882 0.58825 9.29746 0.760282C9.69615 0.932338 10.0598 1.18511 10.367 1.5052C10.6743 1.82534 10.9191 2.20651 11.0864 2.62743C11.2538 3.04838 11.3401 3.50022 11.3401 3.95697" stroke="#333435"/>
									<path d="M11.5176 3.74188L11.5176 6.19349" stroke="#333435"/>
									<path d="M4.58008 3.70004L4.58008 6.15165" stroke="#333435"/>
								</svg>
								input(type='radio' name="cart" value="Предзаказ")
								span На Кудринскую
						button(type="button" data-modal-target="add-new-cart").btn.outline-fill.catalog__content__bottom__more
							<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M7.5 14.5H21.5" stroke="#343176"/>
								<path d="M14.5 21.5L14.5 7.5" stroke="#343176"/>
							</svg>
							span Добавить ещё
				button(type="button" data-modal-target="edit-current-cart").cart__choose-mob-edit
					<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0_9089_166897)">
						<path d="M18.6516 5.64192L5.18758 19.106L0.964966 19.1053V14.8847L14.4297 1.42L18.6516 5.64192Z" stroke="#343176"/>
						<path d="M11.3701 4L16.1825 8.60957" stroke="#343176"/>
						<path d="M2.37012 13L7.18246 17.6096" stroke="#343176"/>
						</g>
						<defs>
						<clipPath id="clip0_9089_166897">
						<rect width="20" height="20" fill="white"/>
						</clipPath>
						</defs>
					</svg>

			.cart__list 
				.cart__list__item
					.top 
						h5 Основная корзина
						button(type="button" data-modal-target="edit-current-cart") 
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_7956_94047)">
									<path d="M18.6516 5.64192L5.18758 19.106L0.964966 19.1053V14.8847L14.4297 1.42L18.6516 5.64192Z" stroke="#343176"/>
									<path d="M11.3701 4L16.1825 8.60957" stroke="#343176"/>
									<path d="M2.37012 13L7.18246 17.6096" stroke="#343176"/>
								</g>
								<defs>
									<clipPath id="clip0_7956_94047">
										<rect width="20" height="20" fill="white"/>
									</clipPath>
								</defs>
							</svg>
					.cart__list__item__row 
						p Наименований
						span 8
					.cart__list__item__row 
						p К оплате
						span 975 124,87 ₽
				button.cart__list__item.add-new-cart-btn(type="button" data-modal-target="add-new-cart")
					<svg width="48" height="47" viewBox="0 0 48 47" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M13.2324 11.394C13.2324 9.96339 13.5142 8.54677 14.0617 7.22505C14.6092 5.90333 15.4116 4.70238 16.4232 3.69078C17.4348 2.67918 18.6358 1.87673 19.9575 1.32926C21.2792 0.781782 22.6958 0.5 24.1264 0.5C25.5571 0.5 26.9737 0.781782 28.2954 1.32926C29.6171 1.87673 30.8181 2.67918 31.8297 3.69078C32.8413 4.70238 33.6437 5.90333 34.1912 7.22505C34.7387 8.54677 35.0204 9.96339 35.0204 11.394" stroke="#343176"/>
						<path d="M35.022 10.7293L35.022 15.125" stroke="#343176"/>
						<path d="M13.2378 10.6545L13.2378 15.0502" stroke="#343176"/>
						<path d="M47.4248 45.5715L42.4229 9.82147H5.57715L0.575195 45.5715H47.4248Z" stroke="#343176"/>
						<path d="M16.6265 28.3524H30.6265" stroke="#343176"/>
						<path d="M23.6265 35.3524L23.6265 21.3524" stroke="#343176"/>
					</svg>
					span Добавить

			.cart__inner 
				.left-side
					.cart-opt__actions
						.cart-opt__actions__buttons
							button(type="button" data-modal-target="add-product-by-article").remove-all 
								<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.5 14.5H21.5" stroke="#343176"/>
									<path d="M14.5 21.5L14.5 7.5" stroke="#343176"/>
								</svg>
								span Добавить товар по артикулу
							label.remove-all.add-from-file
								<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.5 14.5H21.5" stroke="#343176"/>
									<path d="M14.5 21.5L14.5 7.5" stroke="#343176"/>
								</svg>
								input(type="file" style="opacity: 0; position: absolute; z-index: -1;")
								span Добавить товар из файла
						.cart-opt__actions__icons
							a(href="#" download)
								<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect x="0.5" y="0.5" width="35" height="35" rx="5.5" fill="white"/>
								<rect x="0.5" y="0.5" width="35" height="35" rx="5.5" stroke="#333435"/>
								<path d="M9 18.375L9 23.175M27 18.375V23.175M9 22.575C9 23.0478 9.09312 23.5159 9.27403 23.9527C9.45495 24.3894 9.72012 24.7863 10.0544 25.1206C10.3887 25.4549 10.7856 25.72 11.2223 25.901C11.6591 26.0819 12.1272 26.175 12.6 26.175H23.4C23.8728 26.175 24.3409 26.0819 24.7777 25.901C25.2144 25.72 25.6113 25.4549 25.9456 25.1206C26.2799 24.7863 26.5451 24.3894 26.726 23.9527C26.9069 23.5159 27 23.0478 27 22.575M23.625 15.375L18 21.375L12.825 15.375M18 9L18 20.775" stroke="#333435"/>
								</svg>
							a(href="#")
								<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect x="0.5" y="0.5" width="35" height="35" rx="5.5" fill="white"/>
								<rect x="0.5" y="0.5" width="35" height="35" rx="5.5" stroke="#333435"/>
								<rect x="8.5" y="10.5" width="19" height="15" rx="2.5" stroke="#333435"/>
								<path d="M12 14.5L18 18.5L21 16.5L24 14.5" stroke="#333435"/>
								</svg>
							a(href="#")
								<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect x="0.5" y="0.5" width="35" height="35" rx="5.5" fill="white"/>
								<rect x="0.5" y="0.5" width="35" height="35" rx="5.5" stroke="#333435"/>
								<rect x="8.5" y="13.5" width="19" height="10" rx="2.5" stroke="#333435"/>
								<rect x="12.5" y="18.5" width="11" height="9" rx="1.5" fill="white" stroke="#333435"/>
								<path d="M15 8.5H21C22.3807 8.5 23.5 9.61929 23.5 11V13.5H12.5V11C12.5 9.61929 13.6193 8.5 15 8.5Z" stroke="#333435"/>
								</svg>
								
 
 
					.cart__actions.sticky
						.cart__choose 
							p.choose-num Выбрано товаров:&nbsp;
								span 2
							label.custom-checkbox-wrapper.select-all
								input(type="checkbox").custom-checkbox
								span Выбрать все
							button(type="button").remove-all 
								<svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M14.8492 16.8492L4.94975 6.94973M4.94975 16.8492L14.8492 6.94973" stroke="#343176"/>
								</svg>
								span Удалить выбранные
								span Удалить
						button(type="button").remove-all
							<svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M16.9004 3.89496L16.1221 15.5698C16.0346 16.883 14.944 17.9036 13.6279 17.9037H7.56738C6.3335 17.9037 5.29733 17.0071 5.10059 15.8129L5.07324 15.5698L4.29492 3.89496H16.9004Z" stroke="#343176"/>
								<path d="M1.8125 3.87854L19.5625 3.87854" stroke="#343176"/>
								<line x1="10.6289" y1="7.98108" x2="10.6289" y2="13.8179" stroke="#343176"/>
								<line x1="13.2861" y1="7.98108" x2="13.2861" y2="13.8179" stroke="#343176"/>
								<line x1="8.02344" y1="7.98108" x2="8.02344" y2="13.8179" stroke="#343176"/>
							</svg>
							span Очистить корзину
							span Очистить
						button(type="button").more-actions
							<svg width="30" height="6" viewBox="0 0 30 6" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="3" cy="3" r="3" fill="#343176"/>
								<circle cx="15" cy="3" r="3" fill="#343176"/>
								<circle cx="27" cy="3" r="3" fill="#343176"/>
							</svg>
						.more-actions-hidden
							button(type="button")
								<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M15.3492 13.9497L5.44975 4.05025M5.44975 13.9497L15.3492 4.05025" stroke="#343176"/>
								</svg>
								span Удалить
							button(type="button")
								<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0_9089_169792)">
									<rect width="16" height="16" fill="white"/>
									<rect x="5.5" y="3.5" width="10" height="12" fill="white" stroke="#343176"/>
									<rect x="0.5" y="0.5" width="10" height="12" fill="white" stroke="#343176"/>
									</g>
									<defs>
									<clipPath id="clip0_9089_169792">
									<rect width="16" height="16" fill="white"/>
									</clipPath>
									</defs>
								</svg>
								span Скопировать
							button(type="button")
								<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M15.9248 14.8571L14.3516 3.60712H2.64844L1.0752 14.8571H15.9248Z" stroke="#343176"/>
								<path d="M5.24414 3.798C5.24414 3.3649 5.32945 2.93604 5.49519 2.53591C5.66093 2.13578 5.90386 1.77221 6.2101 1.46596C6.51635 1.15971 6.87992 0.916786 7.28005 0.751046C7.68018 0.585305 8.10904 0.5 8.54214 0.5C8.97524 0.5 9.4041 0.585305 9.80423 0.751045C10.2044 0.916786 10.5679 1.15971 10.8742 1.46596C11.1804 1.77221 11.4234 2.13578 11.5891 2.53591C11.7548 2.93604 11.8401 3.3649 11.8401 3.798" stroke="#343176"/>
								<path d="M12.0181 3.59186L12.0181 5.94497" stroke="#343176"/>
								<path d="M5.0791 3.55182L5.0791 5.90493" stroke="#343176"/>
								</svg>
								span Переместить
 
 
					

					.cart__items 
						+product-card-cart({
                            imgs: 
                            [
                                './img/products/1.jpg',
                                './img/products/2.jpg',
                                './img/products/3.jpg',
                                './img/products/1.jpg',
                                './img/products/2.jpg'
                            ],
                            art: 'Арт 68012', 
                            count: 'no', 
                            price: '615 ₽', 
                            descr: 'Ежедневник датированный 2025 ESCALADA, #ИЛОН МАСК', 
                            badgeClass: 'warn'
                        }).no

						+product-card-cart({
                            imgs: 
                            [
                                './img/products/1.jpg',
                                './img/products/2.jpg',
                                './img/products/3.jpg',
                                './img/products/1.jpg',
                                './img/products/2.jpg'
                            ],
                            art: 'Арт 68012', 
                            count: 'many', 
                            price: '615 ₽', 
                            descr: 'Ежедневник датированный 2025 ESCALADA, #ИЛОН МАСК',
                            badgeClass: 'warn',
							opt: 'true'
                        })

						+product-card-cart({
                            imgs: 
                            [
                                './img/products/1.jpg',
                                './img/products/2.jpg',
                                './img/products/3.jpg',
                                './img/products/1.jpg',
                                './img/products/2.jpg'
                            ],
                            art: 'Арт 68012', 
                            count: 'many', 
                            price: '615 ₽', 
                            descr: 'Ежедневник датированный 2025 ESCALADA, #ИЛОН МАСК', 
                            badgeClass: 'warn',
							opt: 'true'
                        })

						+product-card-cart({
                            imgs: 
                            [
                                './img/products/1.jpg',
                                './img/products/2.jpg',
                                './img/products/3.jpg',
                                './img/products/1.jpg',
                                './img/products/2.jpg'
                            ],
                            art: 'Арт 68012', 
							errorMsg: '1',
                            count: 'few', 
                            price: '615 ₽', 
                            descr: 'Ежедневник датированный 2025 ESCALADA, #ИЛОН МАСК',  
                            badgeClass: 'warn',
							opt: 'true'
                        })

						+product-card-cart({
                            imgs: 
                            [
                                './img/products/1.jpg',
                                './img/products/2.jpg',
                                './img/products/3.jpg',
                                './img/products/1.jpg',
                                './img/products/2.jpg'
                            ],
                            art: 'Арт 68012', 
                            count: 'many', 
                            price: '615 ₽', 
                            descr: 'Ежедневник датированный 2025 ESCALADA, #ИЛОН МАСК',  
                            badgeClass: 'warn',
							opt: 'true'
                        })
 
					.catalog__pagination 
						a(href="#").catalog__pagination__arrow
							<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect width="48" height="48" rx="6" transform="matrix(-1 0 0 1 48 0)" fill="#49454C"/>
							<path d="M28 30L20 24L28 18" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
							</svg>
						nav 
							a(href="#") 1
							a(href="#").active 2
							a(href="#") 3
							a(href="#") 4
							a(href="#") 5
							span ...
							a(href="#") 186
						a(href="#").catalog__pagination__arrow
							<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect width="48" height="48" rx="6" fill="#49454C"/>
							<path d="M20 30L28 24L20 18" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
							</svg>
					button(type="button").btn.outline-fill.catalog__content__bottom__more
						<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M7.5 14.5H21.5" stroke="#343176"/>
							<path d="M14.5 21.5L14.5 7.5" stroke="#343176"/>
						</svg>
						span загрузить ещё
				.cart__total 
					.top 
						span 4 товара:
						p 1 975 124,87 ₽
						p.nds В т. ч. НДС 20%

					.info
						.info__row
							p Объём:
							span 0.23 м3
						.info__row
							p Вес:
							span 48,25 кг.
					.scores 
						p.green Будет начислено: +65,00 баллов
						p.tip Всего накоплено баллов: 1 208,66
							<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect x="0.5" y="0.5" width="15" height="15" rx="7.5" stroke="#A8A9B0"/>
								<path d="M7.26123 9.85156V9.25C7.26123 8.85254 7.31494 8.54818 7.42236 8.33691C7.53337 8.12565 7.68376 7.9502 7.87354 7.81055C8.06689 7.66732 8.28532 7.50798 8.52881 7.33252C8.83317 7.11051 9.04443 6.88493 9.1626 6.65576C9.28434 6.42301 9.34521 6.18848 9.34521 5.95215C9.34521 5.56901 9.21452 5.26823 8.95312 5.0498C8.69173 4.8278 8.33366 4.7168 7.87891 4.7168C7.38118 4.7168 6.99447 4.86182 6.71875 5.15186C6.44303 5.43831 6.30518 5.84115 6.30518 6.36035H5.34375C5.34375 5.85905 5.44938 5.4222 5.66064 5.0498C5.87191 4.67741 6.16732 4.38737 6.54688 4.17969C6.93001 3.97201 7.37402 3.86816 7.87891 3.86816C8.35156 3.86816 8.76693 3.95768 9.125 4.13672C9.48665 4.31217 9.76953 4.55745 9.97363 4.87256C10.1777 5.18408 10.2798 5.54395 10.2798 5.95215C10.2798 6.73275 9.89665 7.38802 9.13037 7.91797C8.89046 8.08268 8.70247 8.2277 8.56641 8.35303C8.43034 8.47477 8.33366 8.60905 8.27637 8.75586C8.22266 8.90267 8.1958 9.09603 8.1958 9.33594V9.85156H7.26123ZM7.72852 12.0913C7.54232 12.0913 7.38298 12.0269 7.25049 11.8979C7.12158 11.7655 7.05713 11.6061 7.05713 11.4199C7.05713 11.2301 7.12158 11.0708 7.25049 10.9419C7.38298 10.813 7.54232 10.7485 7.72852 10.7485C7.91829 10.7485 8.07764 10.813 8.20654 10.9419C8.33545 11.0708 8.3999 11.2301 8.3999 11.4199C8.3999 11.6061 8.33545 11.7655 8.20654 11.8979C8.07764 12.0269 7.91829 12.0913 7.72852 12.0913Z" fill="#A8A9B0"/>
							</svg>
					.apply-scores 
						.input__row.gray
							input(type="text" value="0").custom-input
						.checkbox-wrapper 
							input(type="checkbox" value="Акции").checkbox#checkbox-1
							label(for="checkbox-1").ios-switch Все
					.cart__total__promocode 
						span Использовать промокод
						.promocode-inner 
							.input__row.gray
								input(type="text").custom-input
							button(type="button" disabled).apply 
								<svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M-3.93402e-07 10L18 10M18 10L10.2857 19M18 10L10.2857 1" stroke="white"/>
								</svg>
					div 
						button(type="button").btn.primary.m.submit-btn 
							span оформить заказ
						p.error-msg Вкорзине недоступные товары, замените или удалите их, чтобы продолжить оформление!