@use "src/scss/common/files/mixins" as *;
.cart__choose {
	display: flex;
	align-items: center;
	@include s(gap, 48);

	.choose-num {
		@include body-m;
		color: var(--gray-light-color);
	}

	.remove-all {
		span:last-child {
			display: none;
		}
	}

	@media (max-width: $mob) {
		width: 100%;
		justify-content: space-between;
		.choose-num {
			display: none;
		}

		.remove-all:last-child {
			display: flex;

			span:last-child {
				display: block;
			}

			span:nth-child(2) {
				display: none;
			}
		}
	}
}

.cart__actions {
	display: flex;
	justify-content: space-between;
	@include s(margin-bottom, 28);
	position: relative;

	.remove-all {
		@include body-m;
		display: flex;
		align-items: center;

		&:last-child {
			display: none;
		}

		span {
			color: var(--violet-color);
		}

		svg {
			@include s(width, 20);
			@include s(height, 20);
			flex-shrink: 0;
			@include s(margin-right, 12);
		}
	}

	.custom-checkbox-wrapper {
		p {
			color: var(--gray-color);
		}
	}

	&.sticky {
		display: none;

		.remove-all:nth-child(2) {
			span:last-child {
				display: none;
			}
		}

	}

	.more-actions-hidden {
		display: none;
	}

	@media (max-width: $mob) {
		&.sticky {
			display: flex;
			flex-wrap: wrap;
			@include s(margin-bottom, 28);
			@include s(padding-bottom, 16);
			border-bottom: 1px solid #DCDDE1;

			.remove-all:nth-child(2) {
				span:nth-child(2) {
					display: none;
				}
				span:last-child {
					display: block;
				}
			}

			.cart__choose {
				width: fit-content;
				.remove-all:last-child {
					display: none;
				}
			}
			.more-actions {
				padding: 0;
				display: block;
				margin-right: 100%;
				@include s(margin-top, 16);
				svg {
					@include s(width, 30);
					@include s(height, 6);
				}
			}

			.more-actions-hidden {
				display: flex;
				position: absolute;
				top: 110%;
				@include s(border-radius, 12);
				background: #FFFFFF;
				box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
				@include padding(16, 20, 16, 20);
				left: 0;
				right: 0;
				justify-content: space-between;
				z-index: 2;
				visibility: hidden;
				opacity: 0;
				transition: .3s ease;
				&.active {
					opacity: 1;
					visibility: visible;
					transition: .3s ease;
				}

				button {
					display: flex;
					flex-direction: column;
					align-items: center;
					text-align: center;
					@include s(gap, 4);

					svg {
						@include s(width, 16);
						@include s(height, 16);
					}

					span {
						@include body-s;
						color: var(--violet-color);
					}
				}

			}
		}
	}
}

.cart__inner {
	display: grid;
	grid-template-columns: calc(1002 / var(--screensize) * 100vw) 1fr;
	@include s(gap, 48);

	@media (max-width: $mob) {
		display: flex;
		flex-direction: column-reverse;
	}
}

.cart-page {
	@include s(margin-top, 28);
	@include s(margin-bottom, 116);

	h1 {
		@include h1;
		@include s(margin-bottom, 28);
	}
}

.cart__total {
	@include s(padding, 28);
	@include s(border-radius, 12);
	background: #fff;
	@include s(gap, 24);
	display: flex;
	flex-direction: column;
	box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.1);
	align-self: flex-start;
	position: sticky;
	@include s(top, 120);

	@media (max-width: $mob) {
		padding: 0;
		box-shadow: unset;
		position: relative;
		top: 0;
	}

	.info {
		.info__row {
			display: flex;
			align-items: center;
			justify-content: space-between;
			@include s(padding-top, 6);
			@include s(padding-bottom, 6);
			border-top: 1px solid #DCDDE1;
			&:last-child {
				border-bottom: 1px solid #DCDDE1;
			}
			p, span {
				@include body-xs;
				font-weight: 400;
			}

			p {
				color: #A8A9B0;
			}
		}
	}

	.top {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		flex-wrap: wrap;
		span {
			color: #DCDDE1;
			@include body-m;
		}

		p {
			@include h4;
		}

		.nds {
			@include body-xs;
			color: #A8A9B0;
			@include s(margin-top, 2);
			flex: 1;
			width: 100%;
			flex-shrink: 0;
			font-weight: 400;
			margin-right: 10px;
			white-space: nowrap;
		}

		@media (max-width: $mob) {
			span {
				color: var(--gray-color);
			}

			.nds {
				text-align: right;
				margin-right: 0;
				margin-left: 30px;
			}
		}
	}

	.scores {
		p {
			@include body-xs;

			&.green {
				color: #4DB6A5;
				@include s(margin-bottom, 4);
			}

			&.tip {
				display: flex;
				color: #A8A9B0;
				align-items: center;
				@include s(gap, 6);
				svg {
					@include s(width, 16);
					@include s(height, 16);
				}
			}
		}

		@media (max-width: $mob) {
			p {
				font-weight: 400;
			}
		}
	}

	.apply-scores {
		display: flex;
		align-items: center;

		.checkbox-wrapper {
			@include s(margin-left, 16);
			.ios-switch {
				@include body-xs;
				display: flex;
				align-items: center
			}
		}
	}

	.cart__total__promocode {
		span {
			@include body-xs;
			color: #A8A9B0;
			font-weight: 400;
		}
	
	}

	.btn {
		text-transform: uppercase;
		width: 100%;
	}

	.error-msg {
		color: #E14142;
		background: #FFE8E8;
		@include body-xs;
		@include padding(8, 12, 8, 12);
		@include s(margin-top, 4);
		@include s(border-radius, 6);

		@media (max-width: $mob) {
			@include padding(15, 12, 15, 12);
			text-align: center;
			font-weight: 400;
		}
	}
}

.checkbox:not(checked) { position: absolute; opacity: 0;}
.checkbox:not(checked) + label.ios-switch {
  position: relative; 
  @include s(padding-left, 52);
      display: block;
    @include s(height, 21);
    @include body-m;
}
.checkbox:not(checked) + label.ios-switch:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  @include s(width, 36);
  @include s(height, 20);
  border-radius: 13px;
  border: 1px solid;
  border-color: #DCDDE1;
  transition: border 0.4s, box-shadow 0.4s;
  background-color: #fff;
}
.checkbox:not(checked) + label.ios-switch:after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  @include s(left, 4.5);
  @include s(width, 12);
  @include s(height, 12);
  border-radius: 50%;
  background: var(--txt-gray-color);
  transition: all .2s;
}
.checkbox:checked + label.ios-switch:before {
  box-shadow: var(--violet-color) 0px 0px 0px 16px inset;
  transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;
  background-color: var(--violet-color);
  border-color: var(--violet-color);
}
.checkbox:checked + label.ios-switch:after { 
  @include s(left, 19.5);
  background-color: #fff;
}

.checkbox-wrapper {
  @include s(margin-bottom, 8);
}

.checkbox {
	vertical-align: top;
	margin: 0 3px 0 0;
	width: 17px;
	height: 17px;
}

.cart__items {
	display: flex;
	flex-direction: column;
	@include s(gap, 36);
}

.promocode-inner {
	display: flex;
	
	.apply {
		@include s(border-radius, 6);
		@include s(width, 48);
		@include s(height, 48);
		flex-shrink:0;
		&:disabled {
			background: #9B9AB2;
		}
	}
}


.cart__list {
	@include s(margin-bottom, 36);
	display: flex;
	@include s(gap, 24);

	@media (max-width: $mob) {
		display: none;
	}
}
.cart__list__item {
	@include padding(28, 28, 28, 28);
	@include s(border-radius, 12);
	border: 1px solid var(--violet-color);
	@include s(max-width, 318);
	width: 100%;

	h5 {
		@include descr-m;
		color: var(--violet-color);
		text-transform: uppercase;
	}

	.top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include s(margin-bottom, 10);

		button {
			padding: 0;
			svg {
				@include s(width, 20);
				@include s(height, 20);
			}
		}
	}
}

.cart__list__item__row {
	@include body-xs;
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include s(margin-bottom, 6);

	p {
		color: #A8A9B0;
		font-weight: 400;
	}
}

.cart__list__item.add-new-cart {
	@include s(border-radius, 12);
	background: #F1F0FA;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	@include s(gap, 12);
	max-width: fit-content;

	svg {
		@include s(width, 48);
		@include s(height, 46);
	}
}

.cart-opt__actions__buttons {
	display: flex;
	align-items: center;
	@include s(gap, 48);

	.remove-all {
		padding: 0;
		display: flex;
		align-items: center;
		@include s(gap, 8);
		@include body-m;
		color: var(--violet-color);
		svg {
			@include s(width, 28);
			@include s(height, 28);
		}

		span {
			color: var(--violet-color);
			@include body-m;
		}
	}

	@media (max-width: $mob) {
		flex-direction: column;
		@include s(gap, 6);
		align-items: flex-start;
		width: 100%;

		.remove-all {
			flex-direction: row-reverse;
			width: 100%;
			justify-content: space-between;
			span {
				@include body-s;
				font-weight: 400;
			}
		}
	}
}

.cart-opt__actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include s(margin-bottom, 28);

	@media (max-width: $mob) {
		flex-direction: column;
		align-items: flex-start;
		@include s(margin-bottom, 16);
		@include s(padding-bottom, 16);
		border-bottom: 1px solid #DCDDE1;
	}
}

.cart-opt__actions__icons {
	display: flex;
	@include s(gap, 6);
	a {
		display: block;
		svg {
			@include s(width, 36);
			@include s(height, 36);
		}
	}

	@media (max-width: $mob) {
		@include s(margin-top, 16);
	}
}

.catalog__pagination {
  display: flex;
  justify-content: space-between;
  @include s(margin-top, 48);

  .catalog__pagination__arrow {
    display: block;
    svg {
      @include s(width, 46);
      @include s(height, 46);
    }
  }

  nav {
    display: flex;
    @include s(gap, 6);
    a, span {
      @include s(font-size, 14);
      line-height: 128%;
      font-weight: 500;
      @include s(width, 48);
      @include s(height, 48);
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #DCDDE1;
      @include s(border-radius, 6);

      &.active {
        border-color: #343176;
        color: #343176;
      }

	  &:nth-child(3), &:nth-child(4), &:nth-child(5) {
		display: none;
	  }
    }
  }
}

.catalog__content__bottom__more {
  text-transform: uppercase;
  @include padding(10, 24, 10, 24);
  display: flex;
  align-items: center;
  @include s(gap, 8);
  @include s(margin-top, 28);
  margin-left: auto;
  margin-right: auto;

  svg {
    @include s(width, 28);
    @include s(height, 28);
  }
  p {
    @include s(font-size, 14);
  }

  @media (max-width: $mob) {
	width: 100%;
	justify-content: center;
  }
}

