mixin wholesale-organization()
    .wholesale-organization
        .wholesale-organization-inner.container
            .content 
                .top 
                    h1 организация
                    a(href="#").btn.outline.violet.m
                        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 13L1 7L7 1" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                        p назад
                form.form
                    h6 данные организации
                    .inputs 
                        .input-wrapper 
                            p Наименование
                            .input__row.gray
                                input(type="text" placeholder="ИП Винничек Андрей Борисович").custom-input
                        .input-wrapper 
                            p Брендовое название 
                            .input__row.gray
                                input(type="text" placeholder="Вселенная канцелярских товаров").custom-input
                        .input-wrapper 
                            p ИНН 
                            .input__row.gray
                                input(type="text" placeholder="7721793895").custom-input
                        .input-wrapper 
                            p КПП  
                            .input__row.gray
                                input(type="text" placeholder="772201001").custom-input
                        .input-wrapper 
                            p Юридический адрес  
                            .input__row.gray
                                input(type="text" placeholder="111250, г. Москва, Вн. Тер. г. Муниципальный округ Лефортово, проед 3.д, оф. 502").custom-input
                    h6 Контактное лицо
                    .inputs 
                        .input-wrapper 
                            p Имя
                            .input__row.gray
                                input(type="text" placeholder="Введите").custom-input
                        .input-wrapper 
                            p Фамилия
                            .input__row.gray
                                input(type="text" placeholder="Введите").custom-input
                        .input-wrapper 
                            p Отчество 
                            .input__row.gray
                                input(type="text" placeholder="Введите").custom-input
                        .input-wrapper 
                            p Телефон 
                            .input__row.gray
                                input(type="tel" placeholder="+7 (").custom-input
                    h6 Контактное лицо
                    .inputs
                        .input-wrapper 
                            p Эл. почта *
                            .input__row.gray
                                input(type="text" placeholder="Введите").custom-input
                        .input-wrapper 
                            p Пароль (от 6 символов) *
                            .input__row.password-input-row.gray
                                input(type="password" placeholder="Введите пароль").custom-input.input__valid-password
                                button(type='button').show-password
                                    <svg width="31" height="28" viewBox="0 0 31 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_8288_112990)">
                                        <path d="M27.8597 11.6917C26.6291 14.0573 24.77 16.0377 22.4868 17.4153C20.2037 18.7928 17.5848 19.5141 14.9183 19.4998C12.2518 19.4855 9.6409 18.7362 7.37264 17.3342C5.10438 15.9323 3.26664 13.932 2.06148 11.5533" stroke="#A8A9B0"/>
                                        <path d="M14.9961 19L14.9961 23" stroke="#A8A9B0"/>
                                        <path d="M20.7148 18.1152L22.5101 21.6898" stroke="#A8A9B0"/>
                                        <path d="M24.875 15.1123L27.6937 17.9505" stroke="#A8A9B0"/>
                                        <path d="M4.8125 15.1123L1.99383 17.9505" stroke="#A8A9B0"/>
                                        <path d="M9.625 18.1763L7.60472 21.6286" stroke="#A8A9B0"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_8288_112990">
                                        <rect width="30.1538" height="28" fill="white" transform="translate(-0.00390625)"/>
                                        </clipPath>
                                        </defs>
                                    </svg>
                        button(type='button' data-modal-target='recover-password-modal').btn.text.change-password-btn
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_9012_218268)">
                                <path d="M14.4297 1.42L18.6513 5.6416L5.18661 19.1063L0.965007 19.1063L0.965006 14.8847L14.4297 1.42Z" stroke="#343176"/>
                                <path d="M11.3701 4L16.1825 8.60957" stroke="#343176"/>
                                <path d="M2.37012 13L7.18246 17.6096" stroke="#343176"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_9012_218268">
                                <rect width="20" height="20" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            p Изменить пароль
                    button.btn.primary.m.submit-btn
                        p сохранить
            .menu-block 
                .sticky-block
                    +profile-wholesale-menu()