@import "./variables.scss";

@mixin s($property, $value) {
  #{$property}: calc(#{$value} / var(--screensize) * 100vw);
}
@mixin gtc($values...) {
  $result: ();

  @each $value in $values {
    @if str-index(#{$value}, "fr") {
      $result: append($result, $value, space);
    } @else {
      $result: append(
        $result,
        calc(#{$value} / var(--screensize) * 100vw),
        space
      );
    }
  }

  grid-template-columns: $result;
}
@mixin borr($values...) {
  $result: ();

  @each $value in $values {
    $result: append(
      $result,
      calc(#{$value} / var(--screensize) * 100vw),
      space
    );
  }

  border-radius: $result;
}
@mixin padding($values...) {
  $result: ();

  @each $value in $values {
    $result: append(
      $result,
      calc(#{$value} / var(--screensize) * 100vw),
      space
    );
  }

  padding: $result;
}

@mixin body-xl {
  @include s(font-size, 20);
  font-weight: 600;
  line-height: 140%;
}
@mixin body-l {
  @include s(font-size, 18);
  font-weight: 400;
  line-height: 148%;
}
@mixin body-lb {
  @include s(font-size, 18);
  font-weight: 600;
  line-height: 148%;
}
@mixin body-m {
  @include s(font-size, 16);
  font-weight: 400;
  line-height: 128%;
}
@mixin body-mb {
  @include s(font-size, 16);
  font-weight: 600;
  line-height: 128%;
}
@mixin body-sb {
  @include s(font-size, 14);
  font-weight: 500;
  line-height: 128%;
}
@mixin body-s {
  @include s(font-size, 14);
  font-weight: 400;
  line-height: 128%;
}
@mixin body-xs {
  @include s(font-size, 12);
  font-weight: 600;
  line-height: 115%;
}
@mixin body-xsb {
  @include s(font-size, 12);
  font-weight: 400;
  line-height: 115%;
}
@mixin descr-m {
  @include s(font-size, 14);
  font-weight: 500;
  line-height: 128%;
  @include s(letter-spacing, 1);
}
@mixin descr-s {
  @include s(font-size, 12);
  font-weight: 500;
  line-height: 128%;
}
@mixin descr-xs {
  @include s(font-size, 10);
  font-weight: 400;
  line-height: 96%;
  @include s(letter-spacing, 1);
}

@mixin h1 {
  @include s(font-size, 40);
  font-weight: 500;
  line-height: 115%;
  @include s(letter-spacing, 1);
  text-transform: uppercase;
  @media (max-width: $tab-sm) {
    @include s(font-size, 28);
    font-weight: 400;
  }
}
@mixin h2 {
  @include s(font-size, 36);
  font-weight: 400;
  line-height: 115%;
  @include s(letter-spacing, 1);
  text-transform: uppercase;
  @media (max-width: $tab-sm) {
    @include s(font-size, 26);
    letter-spacing: 0;
  }
}
@mixin h3 {
  @include s(font-size, 32);
  font-weight: 400;
  line-height: 115%;
  @include s(letter-spacing, 1);
  text-transform: uppercase;
}
@mixin h4 {
  @include s(font-size, 28);
  font-weight: 400;
  line-height: 128%;
  @media (max-width: $tab-sm) {
    @include s(font-size, 22);
    line-height: 115%;
  }
}
@mixin h5 {
  @include s(font-size, 24);
  font-weight: 500;
  line-height: 128%;
  @media (max-width: $tab-sm) {
    @include s(font-size, 20);
    line-height: 115%;
  }
}
@mixin h6 {
  @include s(font-size, 20);
  font-weight: 500;
  line-height: 128%;
  @media (max-width: $tab-sm) {
    @include s(font-size, 18);
    line-height: 115%;
  }
}
