@use "src/scss/common/files/mixins" as *;

.career-history {
  @include s(margin-top, 115);
  overflow: hidden;
  .career-history-inner {
    h3 {
      text-align: center;
      @include h2;
    }
    .triple-swiper {
      @include s(margin-top, 36);
      position: relative;
      .swiper-slide {
        opacity: 0;
        transition: opacity var(--trs-cubic-300);
        &.visible-slide {
          opacity: 1;
        }
        .video-block,
        .image-wrapper {
          @include s(height, 244);
          @include borr(12);
          overflow: hidden;
          position: relative;
          img,
          video {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .video-block {
          .play-btn {
            img {
              @include s(width, 72);
              @include s(height, 72);
            }
          }
        }
        .content {
          @include s(margin-top, 28);
          display: flex;
          flex-direction: column;
          &:hover {
            .title {
              color: var(--violet-color);
            }
          }
          .title {
            @include h6;
            text-transform: uppercase;
            transition: opacity var(--trs-cubic-300);
          }
          .descr {
            @include body-m;
            @include s(margin-top, 10);
          }
        }
      }
      .navigation {
        position: absolute;
        @include s(top, 98);
        @include s(left, -23);
        @include s(right, -23);
        justify-content: space-between;
        z-index: 2;
      }
    }
  }
}
