@use "src/scss/common/files/mixins" as *;

.footer-alert {
  @include s(height, 400);
  @include s(margin-top, 116);
  background-image: url("../img/footer/alert.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @media (max-width: $tab-sm) {
    @include s(height, 640);
    @include s(margin-top, 64);
  }
  .footer-alert-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    @media (max-width: $tab-sm) {
      align-items: flex-start;
      justify-content: center;
      @include s(padding-top, 50);
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include s(gap, 36);
      @media (max-width: $tab-sm) {
        @include s(gap, 28);
      }
      img {
        @include s(width, 70);
        @include s(height, 80);
      }
      .title {
        font-weight: 500;
        @include s(font-size, 48);
        line-height: 65%;
        color: var(--white-color);
        font-family: Alistair, sans-serif;
      }
    }
  }
}
