@use "src/scss/common/files/mixins" as *;

.person-contacts-card {
  .title {
    text-transform: uppercase;
    @include h6;
  }
  .person-contacts-card-content {
    @include s(margin-top, 24);
    display: grid;
    @include gtc(203, 429);
    @include s(gap, 28);
    @media (max-width: $tab) {
      @include gtc(203, 1fr);
    }
    @media (max-width: $tab-sm) {
      @include gtc(93, 207);
      @include s(gap, 20);
      @include s(margin-top, 20);
    }
    .image-wrapper {
      position: relative;
      @include s(height, 252);
      width: 100%;
      @include borr(12);
      overflow: hidden;
      @media (max-width: $tab) {
        @include s(height, 116);
      }
      &.empty {
        background: var(--back-color);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      svg {
        @include s(width, 51);
        @include s(height, 48);
        @media (max-width: $tab) {
          @include s(width, 15);
          @include s(height, 15);
        }
      }
    }
    .content {
      .name-block-wrapper {
        display: flex;
        flex-direction: column;
        @include s(gap, 28);
        @include s(margin-bottom, 28);
        @media (max-width: $tab) {
          @include s(margin-bottom, 16);
        }
        .name {
          @include body-xl;
          @media (max-width: $tab) {
            @include body-mb;
          }
        }
        .post {
          @include s(margin-top, 8);
          color: var(--gray-light-color);
          @include body-m;
          @media (max-width: $tab) {
            @include body-s;
          }
        }
      }
      .address-block {
        display: flex;
        flex-direction: column;
        @include s(gap, 6);
        .address {
          display: flex;
          align-items: center;
          @include s(gap, 16);
          @include body-m;
          img {
            @include s(width, 16);
            @include s(height, 16);
          }
        }
        .routes {
          display: flex;
          flex-direction: column;
          @include s(gap, 6);
          .route {
            @include body-xs;
            @include s(padding-left, 28);
          }
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        @include s(gap, 12);
        @media (max-width: $tab) {
          @include s(gap, 10);
        }
        a {
          @include s(gap, 16);
          display: flex;
          align-items: center;
          @media (max-width: $tab) {
            @include s(gap, 10);
          }
          p {
            color: var(--violet-color);
            @include body-m;
            @media (max-width: $tab) {
              @include body-s;
            }
          }
        }
      }
    }
  }
  &.in-box {
    .person-contacts-card-content {
      @include padding(20);
      background: var(--back-color);
      @include borr(12);

      @media (max-width: $tab-sm) {
        @include gtc(56, 208);
      }
      .image-wrapper {
        @media (max-width: $tab-sm) {
          @include s(height, 69);
        }
        &.empty {
          background: var(--white-color);
          svg {
            path {
              fill: var(--back-color);
            }
          }
        }
      }
      .content {
        @include s(margin-top, 8);
      }
    }
  }
  &.with-logo {
    .image-wrapper {
      @include s(height, 184);
      background: var(--white-color);
      img {
        width: 80%;
        height: 80%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        object-fit: contain;
      }
    }
  }
}
