@use "src/scss/common/files/mixins" as *;

.wholesale-profile {
  @include s(padding-bottom, 156);
  @media (max-width: $tab) {
    @include s(padding-bottom, 64);
    @include s(margin-top, 16);
  }
  .wholesale-profile-inner {
    display: grid;
    @include gtc(1fr, 294);
    @include s(gap, 48);
    @include s(margin-top, 36);
    @media (max-width: $tab) {
      grid-template-columns: 1fr;
      gap: 0;
      @include s(margin-top, 22);
    }
    h1 {
      @include h1;
    }
    .content {
      h5 {
        @include h5;
        text-transform: uppercase;
      }
      .organization-card {
        background: var(--back-color);
        @include padding(28);
        display: grid;
        @include gtc(1fr, 36);
        @include s(gap, 111);
        @include s(margin-top, 36);
        @include borr(12);
        cursor: pointer;
        @media (max-width: $tab) {
          @include s(margin-top, 28);

          @include padding(20);
          background: none;
          @include gtc(1fr, 6);
          border: 1px solid var(--line-color);
          @include s(gap, 31);
        }
        &:hover {
          .title {
            color: var(--violet-color);
          }
          .btn {
            background: var(--violet-color) !important;
            @media (max-width: $tab) {
              background: none !important;
            }
            svg {
              path {
                stroke: var(--white-color) !important;

                @media (max-width: $tab) {
                  stroke: var(--gray-color) !important;
                }
              }
            }
          }
        }
        .text {
          display: flex;
          flex-direction: column;
          @include s(gap, 12);
          @include padding(11, 0, 11, 23);
          @media (max-width: $tab) {
            padding: 0;
          }
          .title {
            text-transform: uppercase;
            @include h6;
            transition: var(--trs-cubic-300);
          }
          .descr {
            color: var(--gray-light-color);
            @include body-m;
            @media (max-width: $tab) {
              @include body-s;
            }
          }
        }
        .btn {
          background: none !important;
          border: 1px solid var(--violet-color);
          @media (max-width: $tab) {
            border: none;
            width: auto !important;
            height: auto !important;
            padding: 0;
          }
          svg {
            @include s(width, 6);
            @include s(height, 12);
          }
        }
      }
      .links-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @include s(gap, 24);
        @include s(margin-top, 24);
        @media (max-width: $tab) {
          grid-template-columns: 1fr;
          @include s(gap, 12);
          @include s(margin-top, 12);
        }
        .link {
          @include borr(12);
          @include padding(28);
          border: 1px solid var(--line-color);
          display: grid;
          @include gtc(1fr, 36);
          transition: var(--trs-cubic-300);
          align-items: center;
          @media (max-width: $tab) {
            @include padding(20);
          }
          &:hover {
            border-color: var(--violet-color);
            .btn {
              background: var(--violet-color) !important;
              @media (max-width: $tab) {
                background: none !important;
              }
              svg {
                path {
                  stroke: var(--white-color) !important;

                  @media (max-width: $tab) {
                    stroke: var(--gray-color) !important;
                  }
                }
              }
            }
          }
          .title {
            text-transform: uppercase;
            @include descr-m;
          }
          .btn {
            background: none !important;
            border: 1px solid var(--violet-color);
            @media (max-width: $tab) {
              border: none;
              width: auto !important;
              height: auto !important;
              padding: 0;
            }
            svg {
              @include s(width, 6);
              @include s(height, 12);
            }
          }
        }
      }
    }
    .menu-block {
    }
  }
}
