mixin wholesale-profile()
    .wholesale-profile
        .wholesale-profile-inner.container.tabs-wrapper 
            .content 
                h1 профиль
                a(href="#").organization-card 
                    .text 
                        p.title вселенная канцелярских товаров
                        p.descr ИП Винничек Андрей Борисович
                    button.btn.circle.violet.s
                        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 13L7 7L0.999999 1" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                .links-list 
                    a(href="#").link
                        p.title юридические лица 
                        button.btn.circle.violet.s
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7L0.999999 1" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                    a(href="#").link
                        p.title адреса
                        button.btn.circle.violet.s
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7L0.999999 1" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                    a(href="#").link
                        p.title представители
                        button.btn.circle.violet.s
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7L0.999999 1" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
            .menu-block 
                .sticky-block
                    +profile-wholesale-menu()