@use "src/scss/common/files/mixins" as *;

.wholesale-profile {
  @include s(padding-bottom, 156);
  @media (max-width: $tab-sm) {
    @include s(padding-bottom, 64);
    @include s(margin-top, 16);
  }
  .wholesale-profile-inner {
    display: grid;
    @include gtc(1fr, 294);
    @include s(gap, 48);
    @include s(margin-top, 36);

    h1 {
      @include h1;
    }
    .content {
      h5 {
        @include h5;
        text-transform: uppercase;
      }
      .organization-card {
        background: var(--back-color);
        @include padding(28);
        display: grid;
        @include gtc(1fr, 36);
        @include s(gap, 111);
        @include s(margin-top, 36);
        @include borr(12);
        cursor: pointer;
        &:hover {
          .title {
            color: var(--violet-color);
          }
          .btn {
            background: var(--violet-color) !important;
            svg {
              path {
                stroke: var(--white-color) !important;
              }
            }
          }
        }
        .text {
          display: flex;
          flex-direction: column;
          @include s(gap, 12);
          @include padding(11, 0, 11, 23);
          .title {
            text-transform: uppercase;
            @include h6;
            transition: var(--trs-cubic-300);
          }
          .descr {
            color: var(--gray-light-color);
            @include body-m;
          }
        }
        .btn {
          background: none !important;
          border: 1px solid var(--violet-color);
          svg {
            @include s(width, 6);
            @include s(height, 12);
          }
        }
      }
      .links-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @include s(gap, 24);
        @include s(margin-top, 24);
        .link {
          @include borr(12);
          @include padding(28);
          border: 1px solid var(--line-color);
          display: grid;
          @include gtc(1fr, 36);
          transition: var(--trs-cubic-300);
          align-items: center;
          &:hover {
            border-color: var(--violet-color);
            .btn {
              background: var(--violet-color) !important;
              svg {
                path {
                  stroke: var(--white-color) !important;
                }
              }
            }
          }
          .title {
            text-transform: uppercase;
            @include descr-m;
          }
          .btn {
            background: none !important;
            border: 1px solid var(--violet-color);
            svg {
              @include s(width, 6);
              @include s(height, 12);
            }
          }
        }
      }
    }
    .menu-block {
    }
  }
}
