mixin career-team-about()
    .career-team-about.tabs-wrapper
        .career-team-about-inner.container 
            h3 чем живет наша команда
            .tabs 
                button.btn.tab.m.active(data-tab='0') Работа в офисе
                button.btn.tab.m(data-tab='1') Корпоративы
                button.btn.tab.m(data-tab='2') Выездные мероприятия
            .tab-content(data-tab='0') 
                .double-swiper 
                    .swiper-wrapper 
                        a(href="./img/about/charity/1.jpg" data-fancybox='team-about').swiper-slide 
                            img(load='lazy' src="./img/about/charity/1.jpg", alt="team-about")
                        a(href="./img/about/charity/2.jpg" data-fancybox='team-about').swiper-slide 
                            img(load='lazy' src="./img/about/charity/2.jpg", alt="team-about")
                        a(href="./img/about/charity/1.jpg" data-fancybox='team-about').swiper-slide 
                            img(load='lazy' src="./img/about/charity/1.jpg", alt="team-about")
                        a(href="./img/about/charity/2.jpg" data-fancybox='team-about').swiper-slide 
                            img(load='lazy' src="./img/about/charity/2.jpg", alt="team-about")
                    .navigation
                        button.btn.circle.l.double-swiper-prev
                            <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 13L1 7L9 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                        button.btn.circle.l.double-swiper-next
                            <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L9 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                    .double-swiper-pagination-wrapper.pagination-progress-wrapper
                        p.current 01
                        .double-swiper-pagination.pagination-progress
                        p.total
            .tab-content(data-tab='1') 
                .double-swiper 
                    .swiper-wrapper 
                        a(href="./img/about/charity/1.jpg" data-fancybox='team-about1').swiper-slide 
                            img(load='lazy' src="./img/about/charity/1.jpg", alt="team-about")
                        a(href="./img/about/charity/2.jpg" data-fancybox='team-about1').swiper-slide 
                            img(load='lazy' src="./img/about/charity/2.jpg", alt="team-about")
                        a(href="./img/about/charity/1.jpg" data-fancybox='team-about1').swiper-slide 
                            img(load='lazy' src="./img/about/charity/1.jpg", alt="team-about")
                        a(href="./img/about/charity/2.jpg" data-fancybox='team-about1').swiper-slide 
                            img(load='lazy' src="./img/about/charity/2.jpg", alt="team-about")
                    .navigation
                        button.btn.circle.l.double-swiper-prev
                            <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 13L1 7L9 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                        button.btn.circle.l.double-swiper-next
                            <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L9 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                    .double-swiper-pagination-wrapper.pagination-progress-wrapper
                        p.current 01
                        .double-swiper-pagination.pagination-progress
                        p.total
            .tab-content(data-tab='2') 
                .double-swiper 
                    .swiper-wrapper 
                        a(href="./img/about/charity/1.jpg" data-fancybox='team-about2').swiper-slide 
                            img(load='lazy' src="./img/about/charity/1.jpg", alt="team-about")
                        a(href="./img/about/charity/2.jpg" data-fancybox='team-about2').swiper-slide 
                            img(load='lazy' src="./img/about/charity/2.jpg", alt="team-about")
                        a(href="./img/about/charity/1.jpg" data-fancybox='team-about2').swiper-slide 
                            img(load='lazy' src="./img/about/charity/1.jpg", alt="team-about")
                        a(href="./img/about/charity/2.jpg" data-fancybox='team-about2').swiper-slide 
                            img(load='lazy' src="./img/about/charity/2.jpg", alt="team-about")
                    .navigation
                        button.btn.circle.l.double-swiper-prev
                            <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 13L1 7L9 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                        button.btn.circle.l.double-swiper-next
                            <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L9 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                    .double-swiper-pagination-wrapper.pagination-progress-wrapper
                        p.current 01
                        .double-swiper-pagination.pagination-progress
                        p.total
            