mixin home-collections()
    .home-collections
        .home-collections-inner.container
            .top
                h3 коллекции
                a(href="#").btn.outline.violet.l
                    span смотреть все
                    <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 13L7 7L0.999999 1" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
                    </svg> 
            .home-collections-swiper 
                .navigation 
                    button.btn.circle.l.home-collections-prev
                        <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 13L1 7L9 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.circle.l.home-collections-next
                        <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 13L9 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                .swiper-wrapper 
                    .swiper-slide 
                        .image-wrapper 
                            img( src="./img/home/collections/1.jpg", srcset="./img/home/collections/mob.jpg 440w, ./img/home/collections/tablet.jpg 720w, ./img/home/collections/1.jpg 1440w"  alt="collections" loading='lazy' width='331' height='600')
                        p.title Пишущие принадлежности
                        button.btn.circle.violet.close-btn.l 
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7M7 7L1 1M7 7L13 13M7 7L13 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                        .hidden-content 
                            p.hidden-content-title школьная коллекция
                            .hidden-content-list 
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                            a(href="#").btn.outline
                                span в коллекцию
                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg> 
                    .swiper-slide 
                        .image-wrapper 
                            img( src="./img/home/collections/2.jpg", srcset="./img/home/collections/mob.jpg 440w, ./img/home/collections/tablet.jpg 720w, ./img/home/collections/2.jpg 1440w"  alt="collections" loading='lazy' width='331' height='600')
                        p.title Пишущие принадлежности
                        button.btn.circle.violet.close-btn.l 
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7M7 7L1 1M7 7L13 13M7 7L13 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                        .hidden-content 
                            p.hidden-content-title школьная коллекция
                            .hidden-content-list 
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                            a(href="#").btn.outline
                                span в коллекцию
                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg> 
                    .swiper-slide 
                        .image-wrapper 
                            img( src="./img/home/collections/3.jpg", srcset="./img/home/collections/mob.jpg 440w, ./img/home/collections/tablet.jpg 720w, ./img/home/collections/3.jpg 1440w"  alt="collections" loading='lazy' width='331' height='600')
                        p.title Пишущие принадлежности
                        button.btn.circle.violet.close-btn.l 
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7M7 7L1 1M7 7L13 13M7 7L13 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                        .hidden-content 
                            p.hidden-content-title школьная коллекция
                            .hidden-content-list 
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                            a(href="#").btn.outline
                                span в коллекцию
                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg> 
                    .swiper-slide 
                        .image-wrapper 
                            img( src="./img/home/collections/4.jpg", srcset="./img/home/collections/mob.jpg 440w, ./img/home/collections/tablet.jpg 720w, ./img/home/collections/4.jpg 1440w"  alt="collections" loading='lazy' width='331' height='600')
                        p.title Пишущие принадлежности
                        button.btn.circle.violet.close-btn.l 
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7M7 7L1 1M7 7L13 13M7 7L13 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                        .hidden-content 
                            p.hidden-content-title школьная коллекция
                            .hidden-content-list 
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                            a(href="#").btn.outline
                                span в коллекцию
                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg> 
                    .swiper-slide 
                        .image-wrapper 
                            img( src="./img/home/collections/1.jpg", srcset="./img/home/collections/mob.jpg 440w, ./img/home/collections/tablet.jpg 720w, ./img/home/collections/1.jpg 1440w"  alt="collections" loading='lazy' width='331' height='600')
                        p.title Пишущие принадлежности
                        button.btn.circle.violet.close-btn.l 
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7M7 7L1 1M7 7L13 13M7 7L13 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                        .hidden-content 
                            p.hidden-content-title школьная коллекция
                            .hidden-content-list 
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                            a(href="#").btn.outline
                                span в коллекцию
                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg> 
                    .swiper-slide 
                        .image-wrapper 
                            img( src="./img/home/collections/2.jpg", srcset="./img/home/collections/mob.jpg 440w, ./img/home/collections/tablet.jpg 720w, ./img/home/collections/2.jpg 1440w"  alt="collections" loading='lazy' width='331' height='600')
                        p.title Пишущие принадлежности
                        button.btn.circle.violet.close-btn.l 
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7M7 7L1 1M7 7L13 13M7 7L13 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                        .hidden-content 
                            p.hidden-content-title школьная коллекция
                            .hidden-content-list 
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                            a(href="#").btn.outline
                                span в коллекцию
                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg> 
                    .swiper-slide 
                        .image-wrapper 
                            img( src="./img/home/collections/3.jpg", srcset="./img/home/collections/mob.jpg 440w, ./img/home/collections/tablet.jpg 720w, ./img/home/collections/3.jpg 1440w"  alt="collections" loading='lazy' width='331' height='600')
                        p.title Пишущие принадлежности
                        button.btn.circle.violet.close-btn.l 
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7M7 7L1 1M7 7L13 13M7 7L13 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                        .hidden-content 
                            p.hidden-content-title школьная коллекция
                            .hidden-content-list 
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                            a(href="#").btn.outline
                                span в коллекцию
                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg> 
                    .swiper-slide 
                        .image-wrapper 
                            img( src="./img/home/collections/4.jpg", srcset="./img/home/collections/mob.jpg 440w, ./img/home/collections/tablet.jpg 720w, ./img/home/collections/4.jpg 1440w"  alt="collections" loading='lazy' width='331' height='600')
                        p.title Пишущие принадлежности
                        button.btn.circle.violet.close-btn.l 
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7M7 7L1 1M7 7L13 13M7 7L13 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                        .hidden-content 
                            p.hidden-content-title школьная коллекция
                            .hidden-content-list 
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                                img( src="./img/home/collections/5.jpg", alt="collections" loading='lazy' width='240' height='240')
                            a(href="#").btn.outline
                                span в коллекцию
                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 13L7 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg> 
                .home-collections-pagination-wrapper.pagination-progress-wrapper  
                    p.current 01
                    .home-collections-pagination.pagination-progress
                    p.total
            a(href="#").btn.outline.violet.mob.l
                span смотреть все
                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 13L7 7L0.999999 1" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
                </svg> 