@use "src/scss/common/files/mixins" as *;

.career-form {
  @include s(margin-top, 116);
  background-image: url("../img/career/form/bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .career-form-inner {
    display: grid;
    @include gtc(408, 1fr);
    @include s(gap, 48);
    @include s(padding-top, 48);
    @include s(padding-bottom, 48);
    .content {
      display: flex;
      flex-direction: column;
      @include s(padding-top, 48);
      @include s(padding-bottom, 48);
      .top {
        flex: 1;
        h3 {
          @include h2;
          color: var(--violet-color);
        }
      }
      .bottom {
        @include s(padding-top, 48);
        border-top: 1px solid var(--violet-color);
        .descr {
          @include body-l;
        }
      }
    }
    form {
      background: var(--white-color);
      @include borr(12);
      @include padding(48);
      .input__row {
        width: 100%;

        input {
          background: var(--back-color);
        }
      }
      .selector {
        width: 100%;
      }
      .inputs {
        display: flex;
        flex-direction: column;
        @include s(gap, 28);
        .inputs-container {
          .title {
            text-transform: uppercase;
            @include descr-m;
          }
          .inputs-wrapper {
            display: flex;
            flex-direction: column;
            @include s(gap, 20);
            @include s(margin-top, 10);
          }
          .row {
            display: flex;
            @include s(gap, 20);
            &.grid {
              display: grid;
              @include gtc(1fr, 30, 1fr);
              @include s(gap, 24);
              align-items: center;
            }
            .file-btn {
              position: relative;
              @include s(padding-left, 24);
              @include s(gap, 15);
              &:hover {
                svg {
                  path {
                    stroke: var(--white-color);
                  }
                }
              }
              p {
                @include descr-m;
                text-transform: uppercase;
              }
              input {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                opacity: 0;
                cursor: pointer;
              }
            }
          }
        }
      }
      .submit-form {
        @include s(margin-top, 28);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include s(gap, 75);
        .policy {
          color: var(--gray-light-color);
          @include body-xs;
          a {
            text-decoration: underline;
            color: var(--gray-light-color);
          }
        }
        .btn {
          justify-content: center;
          text-transform: uppercase;
          @include descr-m;
        }
      }
    }
  }
}
