mixin mobile-sidebar()
    .mobile-sidebar
        nav.mobile-sidebar-inner.container
            a(href="#")
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 21.2808H23.8298" stroke="#83848D" stroke-linecap="round"/>
                    <path d="M2 13.6406H23.8298" stroke="#83848D" stroke-linecap="round"/>
                    <path d="M2 6H23.8298" stroke="#83848D" stroke-linecap="round"/>
                    <path d="M25.2943 16.8055C25.2943 20.3875 22.3906 23.2912 18.8088 23.2912C15.2269 23.2912 12.3232 20.3875 12.3232 16.8055C12.3232 13.2236 15.2269 10.3198 18.8088 10.3198C22.3906 10.3198 25.2943 13.2236 25.2943 16.8055Z" fill="white" stroke="#83848D"/>
                    <path d="M25.6757 24.0079C25.8856 24.1872 26.2012 24.1625 26.3806 23.9525C26.56 23.7426 26.5352 23.427 26.3253 23.2476L25.6757 24.0079ZM23.142 21.843L25.6757 24.0079L26.3253 23.2476L23.7916 21.0828L23.142 21.843Z" fill="#83848D"/>
                </svg>
                p Каталог 
            a(href="#")
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 14.0002H18.2353M18.2353 14.0002L13.6975 19.2943M18.2353 14.0002L13.6975 8.70605" stroke="#83848D" stroke-linecap="round"/>
                    <path d="M13.9999 23L23.5293 23L23.5293 5L13.9999 5" stroke="#83848D" stroke-linecap="round"/>
                </svg>
                p Войти 
            a(href="#")
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.08306 6.53503C3.04685 8.58143 3.04882 11.8744 5.08306 13.9228L14.0941 23C17.1012 19.9776 20.1085 16.9553 23.1152 13.9329C25.1514 11.8865 25.1514 8.59172 23.1152 6.54513C21.079 4.49855 17.8006 4.49873 15.7646 6.54513L14.1044 8.21362L12.4337 6.53457C10.3975 4.48817 7.11908 4.48863 5.08306 6.53503Z" stroke="#83848D"/>
                </svg>
                p Избранное 
            a(href="#")
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.6279 24V4" stroke="#83848D" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9.87695 23.9995L17.377 23.9995" stroke="#83848D" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4.25195 5.875L23.002 5.875" stroke="#83848D" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16.6902 14.4157L20.0198 6.93429L23.3494 14.4155C23.3066 14.7743 23.0202 15.2128 22.4368 15.5972C21.8203 16.0034 20.9577 16.2841 20.0198 16.2841C19.071 16.2841 18.2089 16.003 17.5959 15.5977C17.0164 15.2145 16.7325 14.7761 16.6902 14.4157Z" stroke="#83848D"/>
                    <path d="M3.90598 14.4157L7.23562 6.93429L10.5652 14.4155C10.5224 14.7743 10.236 15.2128 9.65261 15.5972C9.03616 16.0034 8.17354 16.2841 7.23562 16.2841C6.28683 16.2841 5.42468 16.003 4.81171 15.5977C4.23226 15.2145 3.94829 14.7761 3.90598 14.4157Z" stroke="#83848D"/>
                </svg>
                p Сравнение 
            a(href="#")
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.66746 8.54651L4.57484 23.5H24.2624L22.1698 8.54651H6.66746Z" fill="white" stroke="#83848D"/>
                    <path d="M10.0273 8.94624C10.0273 8.36235 10.1423 7.78418 10.3658 7.24474C10.5892 6.70529 10.9167 6.21514 11.3296 5.80227C11.7425 5.3894 12.2326 5.06189 12.7721 4.83845C13.3115 4.61501 13.8897 4.5 14.4736 4.5C15.0575 4.5 15.6356 4.61501 16.1751 4.83845C16.7145 5.06189 17.2047 5.3894 17.6175 5.80227C18.0304 6.21514 18.3579 6.70529 18.5814 7.24474C18.8048 7.78418 18.9198 8.36235 18.9198 8.94624" stroke="#83848D"/>
                    <path d="M19 8.67725L19 11.7418" stroke="#83848D"/>
                    <path d="M9.96289 8.62549L9.96289 11.69" stroke="#83848D"/>
                </svg>
                p Корзина 