mixin mobile-sidebar(data ={})
    .mobile-sidebar
        nav.mobile-sidebar-inner.container
            a(href="#")
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 21.2808H23.8298" stroke="#83848D" stroke-linecap="round"/>
                    <path d="M2 13.6406H23.8298" stroke="#83848D" stroke-linecap="round"/>
                    <path d="M2 6H23.8298" stroke="#83848D" stroke-linecap="round"/>
                    <path d="M25.2943 16.8055C25.2943 20.3875 22.3906 23.2912 18.8088 23.2912C15.2269 23.2912 12.3232 20.3875 12.3232 16.8055C12.3232 13.2236 15.2269 10.3198 18.8088 10.3198C22.3906 10.3198 25.2943 13.2236 25.2943 16.8055Z" fill="white" stroke="#83848D"/>
                    <path d="M25.6757 24.0079C25.8856 24.1872 26.2012 24.1625 26.3806 23.9525C26.56 23.7426 26.5352 23.427 26.3253 23.2476L25.6757 24.0079ZM23.142 21.843L25.6757 24.0079L26.3253 23.2476L23.7916 21.0828L23.142 21.843Z" fill="#83848D"/>
                </svg>
                p Каталог 
            if (data.isAuth)
                button.open-profile-menu-btn
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.21973 0.716385C11.4721 0.830507 13.2634 2.6925 13.2637 4.97322L13.2578 5.19295C13.1854 6.62146 12.4091 7.86332 11.2695 8.58162C11.6688 8.68577 12.0615 8.81661 12.4443 8.97517L12.8486 9.15388C13.7815 9.59521 14.6329 10.1941 15.3643 10.9254L15.6689 11.2467C16.3617 12.0112 16.9187 12.89 17.3145 13.8453L17.4746 14.2584C17.8221 15.23 18 16.2555 18 17.2896H17C17 16.3704 16.8412 15.459 16.5322 14.5953L16.3906 14.2281C16.0388 13.3788 15.5437 12.5973 14.9277 11.9176L14.6572 11.6324C14.0072 10.9824 13.2501 10.4505 12.4209 10.0582L12.0615 9.899C11.2123 9.54725 10.3097 9.34452 9.39355 9.29939L9 9.28963C8.0807 9.28963 7.16941 9.44843 6.30566 9.7574L5.93848 9.899C5.08916 10.2508 4.30768 10.7459 3.62793 11.3619L3.34277 11.6324C2.69275 12.2824 2.16083 13.0395 1.76855 13.8687L1.60938 14.2281C1.20737 15.1987 1 16.2391 1 17.2896H0C0 16.1078 0.23329 14.9372 0.685547 13.8453L0.864258 13.441C1.30557 12.5081 1.90445 11.6567 2.63574 10.9254L2.95703 10.6207C3.72162 9.92786 4.60041 9.37091 5.55566 8.97517L5.96875 8.81502C6.21869 8.72562 6.47223 8.64745 6.72852 8.58064C5.59031 7.86223 4.8155 6.62055 4.74316 5.19295L4.7373 4.97322C4.73755 2.61911 6.64589 0.710775 9 0.710526L9.21973 0.716385ZM9 1.71053C7.19817 1.71078 5.73755 3.1714 5.7373 4.97322C5.7373 6.77526 7.19802 8.23664 9 8.23689C10.8022 8.23689 12.2637 6.77541 12.2637 4.97322C12.2634 3.17124 10.802 1.71053 9 1.71053Z" fill="#A8A9B0"/>
                    </svg>
                    p Профиль
            else
                button(data-modal-target='auth-modal')
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 14.0002H18.2353M18.2353 14.0002L13.6975 19.2943M18.2353 14.0002L13.6975 8.70605" stroke="#83848D" stroke-linecap="round"/>
                        <path d="M13.9999 23L23.5293 23L23.5293 5L13.9999 5" stroke="#83848D" stroke-linecap="round"/>
                    </svg>
                    p Войти 
            a(href="#")
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.08306 6.53503C3.04685 8.58143 3.04882 11.8744 5.08306 13.9228L14.0941 23C17.1012 19.9776 20.1085 16.9553 23.1152 13.9329C25.1514 11.8865 25.1514 8.59172 23.1152 6.54513C21.079 4.49855 17.8006 4.49873 15.7646 6.54513L14.1044 8.21362L12.4337 6.53457C10.3975 4.48817 7.11908 4.48863 5.08306 6.53503Z" stroke="#83848D"/>
                </svg>
                p Избранное 
            a(href="#")
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.6279 24V4" stroke="#83848D" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9.87695 23.9995L17.377 23.9995" stroke="#83848D" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4.25195 5.875L23.002 5.875" stroke="#83848D" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16.6902 14.4157L20.0198 6.93429L23.3494 14.4155C23.3066 14.7743 23.0202 15.2128 22.4368 15.5972C21.8203 16.0034 20.9577 16.2841 20.0198 16.2841C19.071 16.2841 18.2089 16.003 17.5959 15.5977C17.0164 15.2145 16.7325 14.7761 16.6902 14.4157Z" stroke="#83848D"/>
                    <path d="M3.90598 14.4157L7.23562 6.93429L10.5652 14.4155C10.5224 14.7743 10.236 15.2128 9.65261 15.5972C9.03616 16.0034 8.17354 16.2841 7.23562 16.2841C6.28683 16.2841 5.42468 16.003 4.81171 15.5977C4.23226 15.2145 3.94829 14.7761 3.90598 14.4157Z" stroke="#83848D"/>
                </svg>
                p Сравнение 
            a(href="#")
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.66746 8.54651L4.57484 23.5H24.2624L22.1698 8.54651H6.66746Z" fill="white" stroke="#83848D"/>
                    <path d="M10.0273 8.94624C10.0273 8.36235 10.1423 7.78418 10.3658 7.24474C10.5892 6.70529 10.9167 6.21514 11.3296 5.80227C11.7425 5.3894 12.2326 5.06189 12.7721 4.83845C13.3115 4.61501 13.8897 4.5 14.4736 4.5C15.0575 4.5 15.6356 4.61501 16.1751 4.83845C16.7145 5.06189 17.2047 5.3894 17.6175 5.80227C18.0304 6.21514 18.3579 6.70529 18.5814 7.24474C18.8048 7.78418 18.9198 8.36235 18.9198 8.94624" stroke="#83848D"/>
                    <path d="M19 8.67725L19 11.7418" stroke="#83848D"/>
                    <path d="M9.96289 8.62549L9.96289 11.69" stroke="#83848D"/>
                </svg>
                p Корзина 