mixin wholesale-users()
    .wholesale-users
        .wholesale-users-inner.container
            .content 
                .top 
                    h1 адреса доставки
                    a(href="#").btn.outline.violet.m
                        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 13L1 7L7 1" stroke="#343176" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                        p назад
                p.descr Ваши коллеги могут работать в личном кабинете вместе с вами. Создайте для них учетные записи, пароль для входа будет отправлен на указанную почту.
                button.btn.outline.violet.l.add-btn
                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.506836 7.5H14.5068" stroke="#343176"/>
                        <path d="M7.50684 14.5L7.50684 0.5" stroke="#343176"/>
                    </svg>
                    p добавить пользователя
                .accordion 
                    .accordion-item
                        button(type='button').accordion-title 
                            .title-wrapper
                                p.title константинопольский александр александрович
                            .icon 
                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                        .collapse.accordion-body
                            form.form
                                .inputs 
                                    .input-wrapper 
                                        p ФИО
                                        .input__row.gray
                                            input(type="text" placeholder="Введите").custom-input
                                    .input-wrapper 
                                        p Телефон
                                        .input__row.gray
                                            input(type="tel" placeholder="+7 (").custom-input.input__valid-phone
                                    .input-wrapper 
                                        p E-mail
                                        .input__row.gray
                                            input(type="text" placeholder="Введите").custom-input
                                .btns 
                                    button(type='submit').btn.primary.m
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 9L6.64706 15L17 4" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                                        </svg>
                                        p сохранить
                                    button(type='submit').btn.outline.gray.m
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3.47539 14.6709L2.69751 2.99561H15.3024L14.5245 14.6709C14.437 15.9842 13.3462 17.0047 12.03 17.0047H5.96986C4.65366 17.0047 3.56289 15.9842 3.47539 14.6709Z" stroke="#A8A9B0"/>
                                            <path d="M0.214844 2.97913L17.9648 2.97913" stroke="#A8A9B0"/>
                                            <line x1="9.03125" y1="7.08167" x2="9.03125" y2="12.9185" stroke="#A8A9B0"/>
                                            <line x1="11.6885" y1="7.08167" x2="11.6885" y2="12.9185" stroke="#A8A9B0"/>
                                            <line x1="6.42578" y1="7.08167" x2="6.42578" y2="12.9185" stroke="#A8A9B0"/>
                                        </svg>
                                        p удалить
                    .accordion-item
                        button(type='button').accordion-title 
                            .title-wrapper
                                p.title олег иванович иванов
                            .icon 
                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                        .collapse.accordion-body
                            form.form
                                .inputs 
                                    .input-wrapper 
                                        p ФИО
                                        .input__row.gray
                                            input(type="text" placeholder="Введите").custom-input
                                    .input-wrapper 
                                        p Телефон
                                        .input__row.gray
                                            input(type="tel" placeholder="+7 (").custom-input.input__valid-phone
                                    .input-wrapper 
                                        p E-mail
                                        .input__row.gray
                                            input(type="text" placeholder="Введите").custom-input
                                .btns 
                                    button(type='submit').btn.primary.m
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 9L6.64706 15L17 4" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                                        </svg>
                                        p сохранить
                                    button(type='submit').btn.outline.gray.m
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3.47539 14.6709L2.69751 2.99561H15.3024L14.5245 14.6709C14.437 15.9842 13.3462 17.0047 12.03 17.0047H5.96986C4.65366 17.0047 3.56289 15.9842 3.47539 14.6709Z" stroke="#A8A9B0"/>
                                            <path d="M0.214844 2.97913L17.9648 2.97913" stroke="#A8A9B0"/>
                                            <line x1="9.03125" y1="7.08167" x2="9.03125" y2="12.9185" stroke="#A8A9B0"/>
                                            <line x1="11.6885" y1="7.08167" x2="11.6885" y2="12.9185" stroke="#A8A9B0"/>
                                            <line x1="6.42578" y1="7.08167" x2="6.42578" y2="12.9185" stroke="#A8A9B0"/>
                                        </svg>
                                        p удалить
                    .accordion-item
                        button(type='button').accordion-title 
                            .title-wrapper
                                p.title Винничек Андрей Борисович
                            .icon 
                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L7 7L13 1" stroke="#333435" stroke-linecap="square" stroke-linejoin="round"/>
                                </svg>
                        .collapse.accordion-body
                            form.form
                                .inputs 
                                    .input-wrapper 
                                        p ФИО
                                        .input__row.gray
                                            input(type="text" placeholder="Введите").custom-input
                                    .input-wrapper 
                                        p Телефон
                                        .input__row.gray
                                            input(type="tel" placeholder="+7 (").custom-input.input__valid-phone
                                    .input-wrapper 
                                        p E-mail
                                        .input__row.gray
                                            input(type="text" placeholder="Введите").custom-input
                                .btns 
                                    button(type='submit').btn.primary.m
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 9L6.64706 15L17 4" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                                        </svg>
                                        p сохранить
                                    button(type='submit').btn.outline.gray.m
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3.47539 14.6709L2.69751 2.99561H15.3024L14.5245 14.6709C14.437 15.9842 13.3462 17.0047 12.03 17.0047H5.96986C4.65366 17.0047 3.56289 15.9842 3.47539 14.6709Z" stroke="#A8A9B0"/>
                                            <path d="M0.214844 2.97913L17.9648 2.97913" stroke="#A8A9B0"/>
                                            <line x1="9.03125" y1="7.08167" x2="9.03125" y2="12.9185" stroke="#A8A9B0"/>
                                            <line x1="11.6885" y1="7.08167" x2="11.6885" y2="12.9185" stroke="#A8A9B0"/>
                                            <line x1="6.42578" y1="7.08167" x2="6.42578" y2="12.9185" stroke="#A8A9B0"/>
                                        </svg>
                                        p удалить
            .menu-block 
                .sticky-block
                    +profile-wholesale-menu()