extends ./pug/templates/template.pug

block head 
  +head(["header", "become-parter", "become-partner-card", "order-form", "crumbs", "selector", "footer", "mobile-menu", "accordion-item", "catalog-menu", "mobile-sidebar", "auth-modal", "recover-password-modal", "feedback-modal", "call-modal"])
block header 
  +header().dark
  +mobile-menu()
  +catalog-menu()
  +mobile-sidebar()
block content
  +crumbs({items: [{title: 'Сотрудничество', href: '#'}]})
  +become-parter()
block footer 
  +footer()
block modals 
  +auth-modal()
  +recover-password-modal()
  +feedback-modal()
  +call-modal()