extends ./pug/templates/template.pug

block head 
  +head(["header", "image-block", "crumbs", "catalog", "recently-viewed", "product-swiper", "selector", "footer-alert", "footer", "mobile-menu", "accordion-item", "catalog-menu", "product-card", "mobile-sidebar", "filter-modal"])
block header 
  +header().dark
  +mobile-menu()
  +catalog-menu()
  +mobile-sidebar()
block content
  +crumbs({items: [{title: 'Каталог', href: '#'}, {title: 'Карьера', href: '#'}]})
  +catalog()
  +recently-viewed()
block footer 
  +footer()
block modals 
  +filter-modal()
  