extends ./pug/templates/template.pug

block head 
  +head(["header", "documents", "download-card", "crumbs", "selector", "footer", "mobile-menu", "accordion-item", "catalog-menu", "mobile-sidebar", "auth-modal", "recover-password-modal"])
block header 
  +header().dark
  +mobile-menu()
  +catalog-menu()
  +mobile-sidebar()
block content
  +crumbs({items: [{title: 'Каталог', href: 'about.html'}, {title: 'акции', href: '#'}]})
  +documents()
block footer 
  +footer()
block modals 
  +auth-modal()
  +recover-password-modal()