extends ./pug/templates/template.pug

block head 
  +head(["header", "home-hero", "home-advards", "home-categories", "home-collections", "home-brands", "home-ideas", "home-partners", "brands-list", "product-swiper", "product-card", "category-card", "selector", "footer-alert", "footer", "mobile-menu", "accordion-item", "catalog-menu"])
block header 
  +header()
  +mobile-menu()
  +catalog-menu()
block content
  +home-hero()
  +home-advards()
  +home-categories()
  +home-new-products()
  +home-collections()
  +home-popular()
  +home-stocks()
  +home-brands()
  +home-ideas()
  +home-partners()
  +footer-alert()
block footer 
  +footer()
block modals 
  