extends ./pug/templates/template.pug

block head 
  +head(["header", "how-buy", "consultation-form", "crumbs", "selector", "footer", "mobile-menu", "accordion-item", "catalog-menu", "mobile-sidebar"])
block header 
  +header().dark
  +mobile-menu()
  +catalog-menu()
  +mobile-sidebar()
block content
  +crumbs({items: [{title: 'как купить?', href: '#'}]})
  +how-buy()
block footer 
  +footer()
block modals 
  