extends ./pug/templates/template.pug

block head 
  +head(["header"])
block header 
block content
  .container(style='display: flex; flex-direction: column; gap: 20px;')
    a(href="home.html" style="color: #000") Главная 
    a(href="about.html" style="color: #000") О компании 
    a(href="career.html" style="color: #000") Карьера 
    a(href="buy-info.html" style="color: #000") Где купить 
    a(href="stock.html" style="color: #000") Акции 
    a(href="collections.html" style="color: #000") Коллекции 
    a(href="promotional.html" style="color: #000") рекламные материалы 
    a(href="press-center.html" style="color: #000") Пресс-центр 
    a(href="documents.html" style="color: #000") нормативные документы 
    a(href="contacts.html" style="color: #000") Контакты 
    a(href="news.html" style="color: #000") Новость 
    a(href="refund.html" style="color: #000") Возврат и обмен 
    a(href="faq.html" style="color: #000") Частые вопросы
    a(href="how-buy.html" style="color: #000") как купить?
    a(href="become-parter.html" style="color: #000") Станьте нашим партнером
    a(href="delivery.html" style="color: #000") доставка и оплата
    a(href="404.html" style="color: #000") 404
    a(href="policy.html" style="color: #000") политика конфиденциальности
    
block footer 
    