extends ./pug/templates/template.pug

block head 
  +head(["header", "profile-retail", "profile-retail-menu", "crumbs", "selector", "footer", "mobile-menu", "accordion-item", "catalog-menu", "mobile-sidebar", "add-address-modal", "edit-address-modal"])
block header 
  +header({isAuth: true}).dark
  +mobile-menu()
  +catalog-menu()
  +mobile-sidebar()
block content
  +crumbs({items: [{title: 'Профиль', href: '#'}]})
  +profile-retail()
block footer 
  +footer()
block modals 
  +add-address-modal()
  +edit-address-modal()