extends ./pug/templates/template.pug

block head 
  +head(["header", "promotional", "info-card", "crumbs", "selector", "footer", "mobile-menu", "accordion-item", "catalog-menu"])
block header 
  +header().dark
  +mobile-menu()
  +catalog-menu()
block content
  +crumbs({items: [{title: 'Каталог', href: 'about.html'}, {title: 'акции', href: '#'}]})
  +promotional()
block footer 
  +footer()
block modals 
  