extends ./pug/templates/template.pug

block head 
  +head(["header", "register-gartitude", "crumbs", "selector", "footer", "mobile-menu", "accordion-item", "catalog-menu", "mobile-sidebar", "auth-modal", "recover-password-modal"])
block header 
  +header().dark
  +mobile-menu()
  +catalog-menu()
  +mobile-sidebar()
block content
  +crumbs({items: [{title: 'Регистрация', href: '#'}]})
  +register-gartitude()
block footer 
  +footer()
block modals 
  +auth-modal()
  +recover-password-modal()