extends ./pug/templates/template.pug

block head 
    +head(["header", "retail-customer-product-info", "retail-customer-product-watch", "retail-customer-product-addittional", "fixed-order-form", "product-swiper", "product-card", "selector", "footer-alert", "footer", "mobile-menu", "crumbs", "accordion-item", "catalog-menu", "mobile-sidebar", "auth-modal", "recover-password-modal", "send-mail-modal", "feedback-modal", "call-modal", "quick-view-modal", "analogues-modal", "product-video-modal"])
block header 
    +header().dark
    +mobile-menu()
    +catalog-menu()
    +mobile-sidebar()
    +fixed-order-form()
block content
    +crumbs({items: [{title: 'Профиль', href: '#'}]})
    +retail-customer-product-info()
    +retail-customer-product-addittional()
    +retail-customer-product-watch()
block footer 
    +footer()
block modals 
    +auth-modal()
    +recover-password-modal()
    +send-mail-modal()
    +feedback-modal()
    +call-modal()
    +quick-view-modal()
    +analogues-modal()
    +product-video-modal()