extends ./pug/templates/template.pug

block head 
  +head(["header", "wholesale-notification", "notification-card", "pagination", "profile-wholesale-menu", "crumbs", "selector", "footer", "mobile-menu", "accordion-item", "catalog-menu", "mobile-sidebar", "ask-manager-modal"])
block header 
  +header({isAuth: true}).dark
  +mobile-menu()
  +catalog-menu()
  +mobile-sidebar()
block content
  +crumbs({items: [{title: 'Профиль', href: '#'}]})
  +wholesale-notification()
block footer 
  +footer()
block modals 
  +ask-manager-modal()