extends ./pug/templates/template.pug

block head 
  +head(["header", "wholesale-knowledge-base-article", "profile-wholesale-menu", "pagination", "crumbs", "selector", "footer", "mobile-menu", "accordion-item", "catalog-menu", "mobile-sidebar", "ask-manager-modal", "profile-menu", "feedback-modal", "call-modal", "video-modal"])
block header 
  +header({isAuth: true}).dark
  +mobile-menu()
  +catalog-menu()
  +mobile-sidebar({isAuth: true})
  +profile-menu()
block content
  +crumbs({items: [{title: 'Профиль', href: '#'}]})
  +wholesale-knowledge-base-article()
block footer 
  +footer()
block modals 
  +ask-manager-modal()
  +feedback-modal()
  +call-modal()
  +video-modal()