extends ./pug/templates/template.pug

block head 
  +head(["header", "wholesale-users", "profile-wholesale-menu", "crumbs", "selector", "footer", "mobile-menu", "accordion-item", "catalog-menu", "mobile-sidebar", "add-user-modal", "ask-manager-modal"])
block header 
  +header({isAuth: true}).dark
  +mobile-menu()
  +catalog-menu()
  +mobile-sidebar()
block content
  +crumbs({items: [{title: 'Профиль', href: '#'}]})
  +wholesale-users()
block footer 
  +footer()
block modals 
  +add-user-modal()
  +ask-manager-modal()