extends ./pug/templates/template.pug

block head 
    +head(["header", "wholesale-making-order", "selector", "footer-alert", "footer", "mobile-menu", "crumbs", "accordion-item", "catalog-menu", "mobile-sidebar", "auth-modal", "recover-password-modal", "send-mail-modal", "add-legal-entities-modal", "add-delivery-address-modal"])
block header 
    +header().dark
    +mobile-menu()
    +catalog-menu()
    +mobile-sidebar()
block content
    +crumbs({items: [{title: 'Профиль', href: '#'}]})
    +wholesale-making-order()
block footer 
    +footer()
block modals 
    +add-delivery-address-modal()
    +add-legal-entities-modal()
    +auth-modal()
    +recover-password-modal()
    +send-mail-modal()