@use "src/scss/common/files/mixins" as *;

.brands-list {
  @include s(padding-top, 40);
  @media (max-width: $tab-sm) {
    @include s(padding-top, 20);
  }
  .brand {
    position: relative;
    // width: 100%;
    @include s(height, 600);
    @include borr(12);
    overflow: hidden;
    transition: var(--trs-cubic-300);
    cursor: pointer;
    @media (max-width: $tab) {
      @include s(height, 400);
    }
    @media (max-width: $tab-sm) {
      height: fit-content;
      cursor: default;
      @include borr(0);
    }
    &.active {
      width: calc(888 / var(--screensize) * 100vw) !important;
      @media (max-width: $tab) {
        width: calc(468 / var(--screensize) * 100vw) !important;
      }
      .content {
        transform: translateY(0);
        .logo {
          @include s(width, 200);
          @include s(height, 70);
        }
        .title {
          @include s(font-size, 24);
        }
        .descr,
        .btn {
          opacity: 1;
        }
      }
    }
    &.collapsed {
      width: calc(224 / var(--screensize) * 100vw) !important;
      @media (max-width: $tab) {
        width: calc(124 / var(--screensize) * 100vw) !important;
      }
      .content {
        opacity: 0;
      }
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
      @media (max-width: $tab-sm) {
        @include s(height, 180);
        position: relative;
        @include borr(12);
      }
    }
    .content {
      position: absolute;
      @include s(left, 48);
      @include s(right, 48);
      @include s(bottom, 48);
      transition: var(--trs-cubic-300);
      display: flex;
      align-items: center;
      flex-direction: column;
      transform: translateY(68%);
      @media (max-width: $tab) {
        @include s(bottom, 18);
        @include s(left, 18);
        @include s(right, 18);
      }
      @media (max-width: $tab-sm) {
        transform: translateY(0);
        position: relative;
        left: 0;
        right: 0;
        bottom: 0;
        align-items: flex-start;
        @include s(margin-top, 20);
      }
      .logo {
        @include s(width, 150);
        @include s(height, 50);
        position: relative;
        margin: auto;
        transition: var(--trs-cubic-300);
        @media (max-width: $tab) {
          @include s(width, 100);
          @include s(height, 50);
        }
        @media (max-width: $tab-sm) {
          margin: 0;
        }
        img {
          height: 100%;
          object-fit: contain;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      .title {
        text-align: center;
        font-weight: 500;
        @include s(font-size, 16);
        @include s(margin-top, 50);
        line-height: 120%;
        transition: var(--trs-cubic-300);
        @include s(max-width, 432);
        @media (max-width: $tab) {
          @include s(margin-top, 20);
        }
        @media (max-width: $tab-sm) {
          @include s(margin-top, 20);
          @include s(font-size, 20);
          line-height: 115%;
          text-align: left;
        }
      }
      .descr {
        text-align: center;
        font-weight: 400;
        @include s(font-size, 16);
        line-height: 140%;
        @include s(margin-top, 16);
        @include s(margin-bottom, 36);
        @include s(max-width, 432);
        opacity: 0;
        transition: var(--trs-cubic-300);
        @media (max-width: $tab-sm) {
          opacity: 1;
          @include s(margin-top, 12);
          text-align: left;
          @include s(margin-bottom, 20);
        }
      }
      .btn {
        @include s(gap, 17);
        justify-content: center;
        width: fit-content;
        @include padding(0, 36);
        margin: auto;
        text-transform: uppercase;
        @include descr-m;
        opacity: 0;
        transition: var(--trs-cubic-300);
        @media (max-width: $tab-sm) {
          opacity: 1;
          @include padding(0, 20);

          margin: 0;
          svg {
            @include s(width, 8);
            @include s(height, 16);
          }
        }
      }
    }
  }
  .home-brands-pagination-wrapper {
    @include s(margin-top, 24);
    align-items: center;
    @include s(gap, 17);
    display: none;
    @media (max-width: $tab-sm) {
      display: flex;
    }
    .home-brands-pagination {
      position: relative;
    }
    .current,
    .total {
      font-weight: 500;
      @include s(font-size, 10);
      line-height: 128%;
    }
    .total {
      color: var(--gray-light-color);
    }
  }
}
