@use "src/scss/common/files/mixins" as *;

.wholesale-knowledge-base {
  @include s(padding-bottom, 156);
  @media (max-width: $tab) {
    @include s(padding-bottom, 64);
    @include s(margin-top, 16);
  }
  .wholesale-knowledge-base-inner {
    display: grid;
    @include gtc(1fr, 294);
    @include s(gap, 48);
    @include s(margin-top, 36);
    @media (max-width: $tab) {
      @include s(margin-top, 20);
      grid-template-columns: 1fr;
      gap: 0;
      @include s(margin-top, 22);
    }
    h1 {
      @include h1;
    }
    .content {
      .knowledge-base-list {
        @include s(margin-top, 28);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include s(column-gap, 24);
        @include s(row-gap, 64);
        @media (max-width: $tab-sm) {
          grid-template-columns: 1fr;
          @include s(row-gap, 36);
        }
        .info-card {
          .content {
            align-items: flex-start;
          }
          .title {
            @include h3;
            transition: var(--trs-cubic-300);
            text-transform: uppercase;
            text-align: left;
          }
          .descr {
            @include s(margin-top, 8);
            @include descr-m;
            text-transform: uppercase;
            @media (max-width: $tab) {
              @include descr-s;
            }
          }
          .btn {
            @include s(height, 36);
            @include padding(0, 16);
            @include s(margin-top, 20);
            @media (max-width: $tab) {
              @include s(margin-top, 16);
            }
            span {
              @include descr-s;
            }
          }
        }
      }
    }
    .menu-block {
    }
  }
}
