mixin contacts-production()
    .contacts-production-wrapper 
        +person-contacts-card({
            title: 'руководитель', 
            nameInfo: [
                {
                    name: 'Батаршина Елена Николаевна', 
                    post: 'Зам.директора по производству',
                }
            ],
            phones: [
                {
                    title: '+7 (863) 261-89-62',
                    phone: '+7 (863) 261-89-62',
                },
                {
                    title: '+7 (863) 261-89-62',
                    phone: '+7 (863) 261-89-62',
                },
                {
                    title: '+7 (863) 261-89-64, доб.140',
                    phone: '+7 (863) 261-89-64',
                },
            ]
        })
        .contacts-production-list 
            +contacts-card({
                title: 'Космынина Оксана Вячеславовна', 
                post: 'Менеджер отдела продаж(сетевой ритейл,интернет-магазины, маркетплэйсы) KAM', 
                phones: [
                    {
                        title: '+7 (863) 261-89-62',
                        phone: '+7 (863) 261-89-62',
                    },
                    {
                        title: '+7 (863) 261-89-62',
                        phone: '+7 (863) 261-89-62',
                    },
                    {
                        title: '+7 (863) 261-89-64, доб.140',
                        phone: '+7 (863) 261-89-64',
                    },
                ]
            })
            +contacts-card({
                title: 'Ильичева Юлия Сергеевна', 
                post: 'Менеджер отдела продаж', 
                phones: [
                    {
                        title: '+7 (863) 261-89-62',
                        phone: '+7 (863) 261-89-62',
                    },
                    {
                        title: '+7 (863) 261-89-62',
                        phone: '+7 (863) 261-89-62',
                    },
               
                ]
            })
            +contacts-card({
                title: 'Космынина Оксана Вячеславовна', 
                post: 'Менеджер отдела продаж(сетевой ритейл,интернет-магазины, маркетплэйсы) KAM', 
                phones: [
                    {
                        title: '+7 (863) 261-89-62',
                        phone: '+7 (863) 261-89-62',
                    },
                ]
            })
            +contacts-card({
                title: 'Космынина Оксана Вячеславовна', 
                post: 'Менеджер отдела продаж(сетевой ритейл,интернет-магазины, маркетплэйсы) KAM', 
                phones: [
                    {
                        title: '+7 (863) 261-89-62',
                        phone: '+7 (863) 261-89-62',
                    },
                    {
                        title: '+7 (863) 261-89-62',
                        phone: '+7 (863) 261-89-62',
                    },
                    {
                        title: '+7 (863) 261-89-64, доб.140',
                        phone: '+7 (863) 261-89-64',
                    },
                ]
            })
            +contacts-card({
                title: 'Ильичева Юлия Сергеевна', 
                post: 'Менеджер отдела продаж',
                phones: [
                    {
                        title: '+7 (863) 261-89-62',
                        phone: '+7 (863) 261-89-62',
                    },
                    {
                        title: '+7 (863) 261-89-62',
                        phone: '+7 (863) 261-89-62',
                    }
                ]
            })