mixin recover-password-modal()
    .recover-password-modal.modal
        .modal-content-wrapper
            .close-modal-wrapper
                button.btn.close-modal 
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.05026 14.9497L14.9498 5.05025" stroke="#343176"/>
                        <path d="M14.9498 14.9497L5.05026 5.05025" stroke="#343176"/>
                    </svg>
            .modal-content
                form.form
                    p.title восстановить пароль
                    p.descr Инструкция по восстановлению пароля будет выслана вам на указанный адрес.
                    .inputs 
                        .input__row.gray
                            input(type="text" placeholder="E-mail").custom-input.input.form__input-value.input__valid-email
                            .input__item-small
                    button.btn.primary.m.submit-btn
                        p выслать