mixin stock()
    .stock 
        .stock-inner.container
            h1 акции
            .stock-list 
                +info-card({img: './img/home/ideas/2.jpg', date: 'до 31 марта', title: 'Акция «3 по цене 2» на школьные товары', btnTitle: 'смотреть товары', width: '660', height: '373'})
                +info-card({img: './img/home/brands/2.jpg', date: 'до 31 марта', title: 'Акция «3 по цене 2» на школьные товары', btnTitle: 'смотреть товары', width: '660', height: '373'})
                +info-card({img: './img/home/ideas/3.jpg', date: 'бессрочно', title: 'Акция «3 по цене 2» на школьные товары', btnTitle: 'смотреть товары', width: '432', height: '244'})
                +info-card({img: './img/home/ideas/4.jpg', date: 'до 31 марта', title: 'Акция «3 по цене 2» на школьные товары', btnTitle: 'смотреть товары', width: '432', height: '244'})
                +info-card({img: './img/home/ideas/5.jpg', date: '3 декабря — 16 декабря', title: 'Акция «3 по цене 2» на школьные товары', btnTitle: 'смотреть товары', width: '432', height: '244'})
                +info-card({img: './img/home/ideas/6.jpg', date: 'до 31 марта', title: 'Акция «3 по цене 2» на школьные товары', btnTitle: 'смотреть товары', width: '432', height: '244'})
                +info-card({img: './img/home/ideas/7.jpg', date: 'до 31 марта', title: 'Акция «3 по цене 2» на школьные товары', btnTitle: 'смотреть товары', width: '432', height: '244'})