@use "src/scss/common/files/mixins" as *;

.order-form {
  @include padding(48);
  @include borr(12);
  box-shadow: var(--shadow);
  @media (max-width: $tab-sm) {
    padding: 0;
    box-shadow: none;
    border-radius: 0;
  }
  h4 {
    text-transform: uppercase;
    @include h4;
    color: var(--violet-color);
  }
  .inputs-wrapper {
    @include s(margin-top, 28);
    display: flex;
    flex-direction: column;
    @include s(gap, 28);
  }
  .inputs {
    display: flex;
    flex-direction: column;
    @include s(gap, 20);

    textarea {
      @include borr(6);
      @include s(height, 81);
    }
    .title {
      text-transform: uppercase;
      @include descr-m;
    }
    .load-file-btn {
      position: relative;
      @include s(gap, 14);
      justify-content: flex-start;
      @include s(padding-left, 23);
      margin-top: 0;
      p {
        text-transform: uppercase;
        @include descr-m;
      }
      input {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        cursor: pointer;
      }
    }
  }
  .policy {
    @include s(margin-top, 28);
    color: var(--gray-light-color);
    @include body-xs;
    a {
      text-decoration: underline;
      color: var(--gray-light-color);
    }
  }
  .btn {
    width: 100%;
    justify-content: center;
    @include s(margin-top, 16);

    p {
      text-transform: uppercase;
      @include descr-m;
    }
  }
}
