@use "src/scss/common/files/mixins" as *;

.consultation-form {
  @include padding(48);
  @include borr(12);
  box-shadow: var(--shadow);
  @media (max-width: $tab) {
    padding: 0;
    box-shadow: none;
    border-radius: 0;
  }
  h4 {
    text-transform: uppercase;
    @include h4;
    color: var(--violet-color);
  }
  .inputs {
    display: flex;
    flex-direction: column;
    @include s(gap, 20);
    @include s(margin-top, 28);

    textarea {
      @include borr(6);
      @include s(height, 81);
    }
  }
  .policy {
    @include s(margin-top, 28);
    color: var(--gray-light-color);
    @include body-xs;
    a {
      text-decoration: underline;
      color: var(--gray-light-color);
    }
  }
  .btn {
    width: 100%;
    justify-content: center;
    @include s(margin-top, 16);

    span {
      text-transform: uppercase;
      @include descr-m;
    }
  }
}
