mixin home-advards()
    .home-advards
        .home-advards-inner.container
            p 34 награды мирового уровня
            img( src="./img/home/advards/img.svg", alt="" width='32' height='64')
            p лидеры канцелярского рынка
