mixin career-about()
    .career-about
        .career-about-inner.container
            .top 
                h3 Карьера в Феникс+
                p.subtitle Компания «Феникс+» предлагает уникальные возможности для профессионального роста и развития
                p.descr Мы стремимся создать условия, в которых каждый сотрудник может раскрыть свой потенциал и достичь карьерных высот.
            .values-block 
                .value-item
                    .image-wrapper
                        img(src="./img/about/values/1.jpg", alt="value")
                    .bg 
                        img(src="./img/about/values/bg.jpg", alt="bg")
                    .content 
                        .text
                            p.title поддержка <br>и наставничество
                            p.descr Каждый сотрудник может рассчитывать на поддержку опытных наставников, которые помогают адаптироваться, развиваться и достигать поставленных целей. Мы гордимся нашей дружелюбной и поддерживающей атмосферой, где каждый сотрудник чувствует себя частью команды и может свободно делиться идеями и инициативами.
                        button.btn.circle.s
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 7H14" stroke="white"/>
                                <path d="M7 14L7 0" stroke="white"/>
                            </svg>
                .value-item
                    .image-wrapper
                        img(src="./img/about/values/1.jpg", alt="value")
                    .bg 
                        img(src="./img/about/values/bg.jpg", alt="bg")
                    .content 
                        .text
                            p.title Структурированная система категорий
                            p.descr Каждый сотрудник может рассчитывать на поддержку опытных наставников, которые помогают адаптироваться, развиваться и достигать поставленных целей. Мы гордимся нашей дружелюбной и поддерживающей атмосферой, где каждый сотрудник чувствует себя частью команды и может свободно делиться идеями и инициативами.
                        button.btn.circle.s
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 7H14" stroke="white"/>
                                <path d="M7 14L7 0" stroke="white"/>
                            </svg>
                .value-item
                    .image-wrapper
                        img(src="./img/about/values/2.jpg", alt="value")
                    .bg 
                        img(src="./img/about/values/bg.jpg", alt="bg")
                    .content 
                        .text
                            p.title Карьерные возможности и признание 
                            p.descr Каждый сотрудник может рассчитывать на поддержку опытных наставников, которые помогают адаптироваться, развиваться и достигать поставленных целей. Мы гордимся нашей дружелюбной и поддерживающей атмосферой, где каждый сотрудник чувствует себя частью команды и может свободно делиться идеями и инициативами.
                        button.btn.circle.s
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 7H14" stroke="white"/>
                                <path d="M7 14L7 0" stroke="white"/>
                            </svg>
                .value-item
                    .image-wrapper
                        img(src="./img/about/values/3.jpg", alt="value")
                    .bg 
                        img(src="./img/about/values/bg.jpg", alt="bg")
                    .content 
                        .text
                            p.title Награждение лучших сотрудников
                            p.descr Каждый сотрудник может рассчитывать на поддержку опытных наставников, которые помогают адаптироваться, развиваться и достигать поставленных целей. Мы гордимся нашей дружелюбной и поддерживающей атмосферой, где каждый сотрудник чувствует себя частью команды и может свободно делиться идеями и инициативами.
                        button.btn.circle.s
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 7H14" stroke="white"/>
                                <path d="M7 14L7 0" stroke="white"/>
                            </svg>
                .value-item
                    .image-wrapper
                        img(src="./img/about/values/4.jpg", alt="value")
                    .bg 
                        img(src="./img/about/values/bg.jpg", alt="bg")
                    .content 
                        .text
                            p.title Мотивация <br>за выслугу лет
                            p.descr Каждый сотрудник может рассчитывать на поддержку опытных наставников, которые помогают адаптироваться, развиваться и достигать поставленных целей. Мы гордимся нашей дружелюбной и поддерживающей атмосферой, где каждый сотрудник чувствует себя частью команды и может свободно делиться идеями и инициативами.
                        button.btn.circle.s
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 7H14" stroke="white"/>
                                <path d="M7 14L7 0" stroke="white"/>
                            </svg>
