@use "src/scss/common/files/mixins" as *;

.press-center {
  @include s(margin-top, 28);
  @include s(padding-bottom, 156);
  @media (max-width: $tab-sm) {
    @include s(padding-bottom, 64);
    @include s(margin-top, 16);
  }
  .press-center-inner {
    h1 {
      @include h1;
    }
    .tabs {
      @include s(margin-top, 28);
      display: flex;
      align-items: center;
      @include s(gap, 4);
      @media (max-width: $tab-sm) {
        justify-content: flex-start;
        @include s(margin-top, 20);
        @include s(margin-left, -20);
        @include s(margin-right, -20);
        @include s(padding-left, 20);
        @include s(padding-right, 20);
        overflow-x: auto;
        .tab {
          white-space: nowrap;
        }
      }
    }
    .tab-content {
      @include s(margin-top, 28);
      display: flex;
      flex-direction: column;
      @media (max-width: $tab-sm) {
        @include s(margin-top, 20);
      }
      .info-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @include s(column-gap, 24);
        @include s(row-gap, 80);
        @media (max-width: $tab-sm) {
          grid-template-columns: repeat(1, 1fr);
          @include s(row-gap, 36);
          @include s(margin-top, 20);
        }
      }
      .info-card {
        .content {
          align-items: flex-start;
        }
        .date {
          color: var(--gray-light-color);
          svg {
            rect,
            path {
              stroke: var(--gray-light-color);
            }
          }
          p {
            color: var(--gray-light-color);
          }
        }
        .title {
          text-align: left;
        }
      }
      .pagination {
        margin-top: 48px;
      }
      .load-more-btn {
        margin-left: auto;
        margin-right: auto;
        @include padding(0, 24);
        width: fit-content;
        @include s(gap, 14);
        @include s(margin-top, 28);
        @media (max-width: $tab-sm) {
          @include padding(0, 16);
          width: 100%;
          justify-content: center;
          @include s(margin-top, 26);
        }
      }
    }
  }
}
