mixin career-stages()
    .career-stages
        .career-stages-inner.container 
            h3 Этапы отбора кандидатов на открытые вакансии 
            .career-stages-swiper 
                .swiper-wrapper 
                    .swiper-slide 
                        .content 
                            img(src="./img/career/stages/arrow.svg", alt="arrow")
                            p.stage шаг 1
                            p.title Заполнение анкеты <br>(резюме) на сайте
                            p.descr Кандидаты заполняют анкету или отправляют резюме, где указывают свои личные данные, образование, опыт работы, навыки и достижения.
                        .image-wrapper 
                            img(src="./img/career/stages/img.png", alt="stage")
                        img(src="./img/career/stages/rectangle.svg", alt="rectangle").rectangle
                    .swiper-slide 
                        .content 
                            img(src="./img/career/stages/arrow.svg", alt="arrow")
                            p.stage шаг 2
                            p.title Заполнение анкеты <br>(резюме) на сайте
                            p.descr Кандидаты заполняют анкету или отправляют резюме, где указывают свои личные данные, образование, опыт работы, навыки и достижения.
                        .image-wrapper 
                            img(src="./img/career/stages/img.png", alt="stage")
                        img(src="./img/career/stages/rectangle.svg", alt="rectangle").rectangle
                    .swiper-slide 
                        .content 
                            img(src="./img/career/stages/arrow.svg", alt="arrow")
                            p.stage шаг 3
                            p.title Заполнение анкеты <br>(резюме) на сайте
                            p.descr Кандидаты заполняют анкету или отправляют резюме, где указывают свои личные данные, образование, опыт работы, навыки и достижения.
                        .image-wrapper 
                            img(src="./img/career/stages/img.png", alt="stage")
                        img(src="./img/career/stages/rectangle.svg", alt="rectangle").rectangle
                .pagination.custom-pagination
                .navigation
                    button.btn.circle.l.career-stages-prev
                        <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 13L1 7L9 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
                    button.btn.circle.l.career-stages-next
                        <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 13L9 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>