mixin about-groups()
    .about-groups
        .about-groups-inner.container 
            .title-block 
                .sticky-block 
                    h3 Феникс+ <br>входит в группу Компаний «Феникс»
            .groups-block   
                .group-item 
                    img( src="./img/icons/logo-dark.svg", alt="logo" loading='lazy' width='70' height='80')
                    .text 
                        p.title ООО «Феникс+»
                        p.descr Российский производитель канцелярии, товаров для школы и офиса
                .group-item 
                    img( src="./img/icons/logo-dark.svg", alt="logo" loading='lazy' width='70' height='80')
                    .text 
                        p.title ООО ТД «Феникс»
                        p.descr Крупнейшее книжное издательство на Юге России
                .group-item 
                    img( src="./img/icons/logo-dark.svg", alt="logo" loading='lazy' width='70' height='80')
                    .text 
                        p.title ООО «Феникс-Премьер»
                        p.descr Детская книга
                .group-item 
                    img( src="./img/icons/logo-dark.svg", alt="logo" loading='lazy' width='70' height='80')
                    .text 
                        p.title ООО «Феникс-Презент»
                        p.descr Подрки и сувениры
                .group-item 
                    img( src="./img/icons/logo-dark.svg", alt="logo" loading='lazy' width='70' height='80')
                    .text 
                        p.title ООО «Ф-Тойз»
                        p.descr Детские игрушки
                .group-item 
                    img( src="./img/icons/logo-dark.svg", alt="logo" loading='lazy' width='70' height='80')
                    .text 
                        p.title ООО «Специализированный Застройщик Феникс»
                        p.descr Крупнейшее книжное издательство на Юге России