mixin about-hero()
    .content-hero
        .content-hero-inner.container
            h1 Оптовый производитель канцелярии, <br>товаров для школы и офиса №1
            .content-hero-content 
                .image-wrapper 
                    img(load='lazy' src="./img/about/hero/bg.jpg", alt="hero")
                .text 
                    .top 
                        h2 выбирать <br>лучшее просто!
                        .awards 
                            img(load='lazy' src="./img/about/hero/icon.svg", alt="award")
                            p 34 награды <br> мирового уровня
                    .bottom 
                        p.descr Наша команда постоянно работает над улучшением технологий производства и обслуживанием клиентов, поддерживая надежные и долгосрочные партнерства.