mixin about-info()
    .content-info
        .content-info-inner.container
            .text 
                .top 
                    h3 ООО «Феникс+» — один из лидеров российского рынка 
                .bottom 
                    p Канцелярских товаров и школьного текстиля. 
                    p Компания входит в группу компаний «Феникс» и уже более 20 лет предлагает своим клиентам широкий ассортимент, включая бумажную продукцию, школьный текстиль и товары для офиса. 
            .video-block 
                video(src='./files/video.mp4' type='video/mp4' preload="auto" poster="./img/about/info/preview.jpg")
                button.btn.play-btn 
                    img(load='lazy' src="./img/icons/play.svg", alt="play") 
