mixin about-info()
    .content-info
        .content-info-inner.container
            .text 
                .top 
                    h3 ООО «Феникс+» — один из лидеров российского рынка 
                .bottom 
                    p Канцелярских товаров и школьного текстиля. 
                    p Компания входит в группу компаний «Феникс» и уже более 20 лет предлагает своим клиентам широкий ассортимент, включая бумажную продукцию, школьный текстиль и товары для офиса. 
            .video-wrapper(data-modal-target='video-modal')  
                video(src='./files/video.mp4' width='840' height='475' preload="auto" poster="./img/about/info/preview.jpg")
                button.btn.play-btn 
                    <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="48" cy="48" r="48" fill="#49454C"/>
                        <path d="M38.5 31.5455L67 48L38.5 64.4545L38.5 31.5455Z" stroke="white"/>
                    </svg>
